.margin-bottom {
    margin-bottom: var(--space) !important;
}

.margin-bottom-med {
    margin-bottom: var(--space-med) !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

// enable if required
// margin-top {
//     margin-top: var(--space) !important;
// }

// .margin-top--med {
//     margin-top: var(--space-med) !important;
// }

.margin-top--lg {
    margin-top: var(--space-lg) !important;
}


@media screen and (max-width: 749px) {
    .small-hide {
        display: none !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
    .medium-hide {
        display: none !important;
    }
}

@media screen and (min-width: 990px) {
    .large-up-hide {
        display: none !important;
    }
}

.w-100 {
    width: 100% !important;
}

.content-padding-inline {
    padding-left: var(--content-padding-inline);
    padding-right: var(--content-padding-inline);
    // TODO
    // outline: 5px dashed orange;
}

.content-padding {
    padding: var(--content-padding);
    // TODO
    // outline: 5px dotted orange;
}

// eg for videos, where absolute positioning doesn't play nicely with padding
.content-margin-inline {
    margin-left: var(--content-padding-inline);
    margin-right: var(--content-padding-inline);
}

// eg address forms
.content-narrow {
    max-width: 50rem;
}

.page-margin {
    margin: var(--page-margin);
}

.center {
    text-align: center;
    margin-inline: auto;
}

.color--danger {
    color: var(--color-danger) !important;
}


.visibility-hidden {
    visibility: hidden;
}

.break {
    word-break: break-word !important;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

// .flex-wrap {
//     flex-wrap: wrap;
// }

.align-start {
    justify-content: flex-start;
    justify-content: start;
}

.disabled,
[disabled] {
    @include disabled;
}

@media (prefers-reduced-motion) {
    .motion-reduce {
        transition: none !important;
        animation: none !important;
    }
}

.background-transparent.background-transparent {
    background: transparent;
}

::selection {
    background-color: rgba(var(--color-highlight), 0.5);
}


.gradient {
    background: var(--background-gradient);
    background-color: rgb(var(--color-background));
    background-attachment: fixed;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.isolate {
    position: relative;
    z-index: 0;
}

.zi-base {
    z-index: var(--zi-base);
}