// .icon {
//     @include size(1.5rem);
//     display: inline-block;
//     transition: all var(--transition);

//     &[data-size="sm"] {
//         @include size(1rem);
//     }

//     &[data-size="xs"] {
//         @include size(0.6rem);
//     }
// }