h1,
h2,
h3,
h4,
h5,
h6,
p,
address
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
address,
.title,
.title-wrapper-with-link {
    margin: 0 0 var(--space);
    padding: 0;
}

.text-body {
    @include text-body;
}


h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.text-subtitle {
    @include text-heading;
}

h1,
.h1 {
    font-size: var(--font-size-h1);
}

h2,
.h2 {
    font-size: var(--font-size-h2);
}


h3,
.h3 {
    font-size: var(--font-size-h3);
}

h4,
.h4 {
    font-size: var(--font-size-h4);
}

h5,
.h5 {
    font-size: var(--font-size-h5);
}

h6,
.h6 {
    font-size: var(--font-size-h6);
    font-weight: bold;
}

.caption,
.caption-with-letter-spacing {
    font-size: var(--font-size-caption);
    line-height: calc(1 + 0.2 / var(--font-body-scale));

    &--medium {
        --font-size-caption: 1.2rem;
    }

    &--large {
        --font-size-caption: 1.4rem;
    }
}


.text-subtitle {
    @include text-heading;
    font-size: var(--font-size-h6);
}

.caption-with-letter-spacing {
    letter-spacing: calc(var(--font-size-caption) / 10 + 00.04rem);
}

mark {
    background-color: transparent;
    font-weight: 700;
}

a {
    color: rgb(var(--color-link));
    text-decoration: none;
}

.underlined-link {
    @include underlined-link;

    &button {
        background-color: transparent;
        border: 0;
    }
}

.underline-on-hover {
    @include underline-on-hover;
}

.link-with-icon {
    --highlight-opacity: 0.8;
    color: currentColor;
    display: inline-flex;
        align-items: center;
        flex-shrink: 0;
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index: 0;

    &:hover,
    &:focus {
        &::before {
            animation: scaleX100 var(--duration-medium) ease;
            opacity: 1;
        }
    }

    svg {
        margin: auto;
        margin-left: var(--space-sm);

        &:first-child {
            margin-left: 0;
            margin-right: var(--space-sm);
        }
    }

    &::before {
        background-color: rgba(var(--color-highlight), var(--highlight-opacity));
        content: '';
        animation: scaleOutX100 var(--duration-medium) ease;
        animation-delay: var(--duration-short);
        animation-fill-mode: forwards;
        margin: -3px;
        position: absolute;
            inset: 0;
        transform-origin: center left;
        z-index: -1;
        pointer-events: none;
    }
}

.link-with-icon__text {
    // border-bottom: var(--icon-stroke-size) solid rgba(var(--color-highlight), var(--highlight-opacity));
    line-height: 1.2;
}

.title-wrapper-with-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space) var(--space-med);
    margin-bottom: var(--space-med);

    @media screen and (min-width: 750px) {
        gap: 0 var(--space-med);
        justify-content:  space-between;
    }

    .title {
        margin: 0 auto;

        @media screen and (min-width: 750px) {
            margin: 0;
        }
    }

    .link {
        font-size: inherit;
        order: 0;

        @media screen and (min-width: 750px) {
            order: initial;
        }
    }

    a {
        flex-shrink: 0;
    }
}


.title--primary {
    //   margin: 4rem 0;
    margin-bottom: var(--space-xl);

    @media screen and (min-width: 990px) {
        //margin: 2rem 0;
        margin-bottom: var(--space-lg);
    }
}

.title-wrapper--self-padded-tablet-down {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media screen and (min-width: 990px) {
    padding-left: 0;
      padding-right: 0;
  }
}

.title-wrapper--self-padded-mobile {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media screen and (min-width: 750px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.title-wrapper--no-top-margin {
  margin-top: 0;
  > .title {
    margin-top: 0;
  }
}

.subtitle {
  font-size: 1.8rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
//   letter-spacing: 0.06rem;
  color: rgba(var(--color-foreground), var(--opacity-light));
}

.subtitle--small {
  font-size: var(--font-size-smaller);
  letter-spacing: 0.1rem;
}

.subtitle--medium {
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
}
