:root {
    --font-size-base: 1.5rem;
    --font-size-small: 1.2rem;
}

body {
    font-size: var(--font-size-base);
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
address,
.title,
.title-wrapper-with-link {
    margin: 0 0 var(--space);
    padding: 0;
}

.text-body {
    font-size: var(--font-size-base);
    letter-spacing: 0.06rem;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    // letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
    color: rgb(var(--color-foreground));
    line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
    word-break: break-word;
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 3rem);

    @media only screen and (min-width: 750px) {
        font-size: calc(var(--font-heading-scale) * 3.4rem);
    }
}

h2,
.h2 {
    font-size: calc(var(--font-heading-scale) * 2rem);

    @media only screen and (min-width: 750px) {
        font-size: calc(var(--font-heading-scale) * 3rem);
    }
}

h6,
.h6 {
    font-size: var(--font-size-base);
}

mark {
    background-color: transparent;
    font-weight: 700;
}

.rte a {
    color: rgba(var(--color-link), var(--alpha-link));
    display: inline-flex;
    position: relative;
    text-decoration: none;

    // text-decoration-style: dashed;
    // text-decoration-skip-ink: auto;
    // transition: all var(--duration-short) ease;

    &:hover,
    &:focus {
        &::after {
            animation: scaleX100 var(--duration-medium) var(--transition-type) forwards;
            transform-origin: bottom left;
        }
    }

    &button {
        background-color: transparent;
        border: 0;
    }

    &::after {
        animation: scaleOutX100 var(--duration-medium) var(--transition-type) reverse;
        mask-image: url(mask-underline.svg);
        mask-size: cover;
        mask-repeat: no-repeat;
        mask-position: bottom left;
        background-color: rgba(var(--color-link), var(--alpha-link));
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: -1;
        transform-origin: bottom right;
      }

    // &::before {
    //     // background-color: rgba(var(--highlight-color), var(--highlight-opacity));
    //     content: '';
    //     // animation: scaleOutX100 var(--duration-medium) ease;
    //     // animation-delay: var(--duration-short);
    //     // animation-fill-mode: forwards;
    //     margin: -3px;
    //     position: absolute;
    //     inset: 0;
    //     transform-origin: center left;
    //     z-index: -1;
    //     pointer-events: none;
    //     background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    //     background-repeat: no-repeat;
    //     background-size: 100% 0.2em;
    //     background-position: 0 88%;
    //     transition: background-size 0.25s ease-in;

    // }
}

.underline-on-hover {
    @include underline-on-hover;
}


.link-with-icon {
    --highlight-opacity: 0.8;
    color: currentColor;
    display: inline-flex;
        align-items: center;
        flex-shrink: 0;
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index: 0;

    &:hover,
    &:focus {
        &::before {
            animation: scaleX100 var(--duration-medium) ease;
            opacity: 1;
        }
    }

    svg {
        margin: auto;
        margin-left: var(--space-sm);

        &:first-child {
            margin-left: 0;
            margin-right: var(--space-sm);
        }
    }

    &::before {
        background-color: rgba(var(--highlight-color), var(--highlight-opacity));
        content: '';
        animation: scaleOutX100 var(--duration-medium) ease;
        animation-delay: var(--duration-short);
        animation-fill-mode: forwards;
        margin: -3px;
        position: absolute;
            inset: 0;
        transform-origin: center left;
        z-index: -1;
        pointer-events: none;
    }
}

.link-with-icon__text {
    // border-bottom: var(--icon-stroke-size) solid rgba(var(--highlight-color), var(--highlight-opacity));
    line-height: 1.2;
}

.title-wrapper-with-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space) var(--space-med);
    margin-bottom: var(--space-med);

    @media screen and (min-width: 750px) {
        gap: 0 var(--space-med);
        justify-content:  space-between;
    }

    .title {
        margin: 0 auto;

        @media screen and (min-width: 750px) {
            margin: 0;
        }
    }

    .link {
        font-size: inherit;
        order: 0;

        @media screen and (min-width: 750px) {
            order: initial;
        }
    }

    a {
        flex-shrink: 0;
    }
}


.title--primary {
    //   margin: 4rem 0;
    margin-bottom: var(--space-xl);

    @media screen and (min-width: 990px) {
        //margin: 2rem 0;
        margin-bottom: var(--space-lg);
    }
}

.title-wrapper--self-padded-tablet-down {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media screen and (min-width: 990px) {
    padding-left: 0;
      padding-right: 0;
  }
}

.title-wrapper--self-padded-mobile {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media screen and (min-width: 750px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.title-wrapper--no-top-margin {
  margin-top: 0;
  > .title {
    margin-top: 0;
  }
}

.subtitle {
  font-size: 1.8rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
//   letter-spacing: 0.06rem;
  color: rgba(var(--color-foreground), 0.7);
}

.subtitle--small {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.subtitle--medium {
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
}
