:root {
    --button-border-radius:  var(--button-radius-large) var(--button-radius) var(--button-radius-med) var(--button-radius)/var(--button-radius) var(--button-radius-med) var(--button-radius) var(--button-radius-large);
}

.button--secondary,
.button--tertiary {
    --color-button: var(--color-secondary-button);
    --color-button-text: var(--color-secondary-button-text);
    --button-foreground-color: rgba(var(--color-button-text), var(--alpha-link));
    --button-background-color: rgba(var(--color-button), var(--alpha-link));
}

.button,
.shopify-challenge__button,
.shopify-payment-button__button,
.shopify-payment-button [role='button'],
.customer button,
button.shopify-payment-button__button--unbranded,
.cart__dynamic-checkout-buttons [role='button'],
.cart__dynamic-checkout-buttons iframe
{
    --alpha-link: 1;
    --button-foreground-color: rgba(var(--color-button-text), var(--alpha-link));
    --button-background-color: rgba(var(--color-button), var(--alpha-link));
    --color-svg-bg:  rgb(var(--color-button));

// TODO: remove these?
    --shadow-horizontal-offset: var(--button-shadow-horizontal-offset);
    --shadow-vertical-offset: var(--button-shadow-vertical-offset);
    --shadow-blur-radius: var(--button-shadow-blur-radius);
    --shadow-opacity: var(--button-shadow-opacity);
    --shadow-visible: var(--button-shadow-visible);
    --border-offset: var(--button-border-offset); /* reduce radius edge artifacts */
    --border-opacity: calc(1 - var(--button-border-opacity));
    @include text-heading;
    background-color:  var(--button-background-color);
    border-style: solid;
    border-width: var(--button-border-width);
    border-color:  var(--button-background-color);
    border-radius: var(--button-border-radius);
    box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow),var(--shadow-opacity));
    color: var(--button-foreground-color);
    cursor: pointer;
    display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: var(--space);
    font-size: var(--font-size-h6);
    margin: 0;
    padding: calc(var(--space)*0.75);
    position: relative;
    text-decoration: none;
    transition: all var(--duration-med) var(--transition-type);
    z-index: 1;

    @media screen and (min-width: 750px) {
        padding: calc(var(--space)*0.75) var(--space-med);
    }

    &:hover, &:focus {
        box-shadow: calc(var(--shadow-horizontal-offset) * 0.9) calc(var(--shadow-vertical-offset) * 0.9) calc(var(--shadow-blur-radius) * 0.9) rgba(var(--color-shadow), calc(var(--shadow-opacity) * 0.75));
        text-shadow: 0.2px 0 0 currentColor;

        &::before {
            opacity: var(--alpha-link);
            transform: rotate(-1deg) scaleY(1.1) scaleX(1.05)
        }
    }

    &::before {
        background-color: transparent;
        border-style: solid;
        border-width: var(--button-border-width);
        border-color:  var(--button-background-color);
        border-radius: var(--button-border-radius);
        content: '';
        opacity: 0;
        margin: auto;
        position: absolute;
            inset: 0;
        transform: rotate(-2deg) scaleX(0.9) scaleY(0.9);
        transition: all var(--duration-default) var(--transition-type);
        z-index: -1;
    }

    .loading-overlay__spinner {
        background-color: var(--overlay-color);
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: 1;
    }

    .spinner {
        max-height: 80%;
    }
}

.button-sm {
    border-width: calc(var(--button-border-width) * 3/4);
    font-size: var(--font-size-base);
    line-height: 1;
    padding: var(--space-sm) var(--space);
}


.button-med {
    font-size: var(--font-size-base);
    line-height: 1;
    padding: var(--space) var(--space-med);
}

button,
a,
summary,
.draw-icon {
    &:hover,
    &:focus {
        --alpha-link: 1;
        text-shadow: 0 0 0.1rem rgba(var(--color-foreground), 0.3);

        .icon {
            path,
            line,
            polyline,
            circle {
                stroke-dasharray: var(--path-length);
                animation: draw var(--duration-long) backwards;

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        animation-delay: calc(var(--duration-short) * #{$i});
                    }
                }
            }
        }
    }

    .icon {
        --path-length: 30;
        stroke-width: 1.5px;
    }

    .icon-account {
        --path-length: 33.4;
    }

    .icon-accordion {
        --path-length: 60;
    }

    .icon-arrow {
        --path-length: 24;
    }

    .icon-cart {
        --path-length: 46;
    }

    .icon-checkmark {
        --path-length: 52;
    }

    .icon-clipboard {
        --path-length: 300;
    }

    .icon-filter {
        --path-length: 46;
    }

    .icon-funnel {
        --path-length: 42;
    }

    .icon-funnel-clear {
        --path-length: 45;
    }

    .icon-loading {
        --path-length: 215;
    }

    .icon-play {
        --path-length: 39;
    }

    .icon-reset {
        --path-length: 46.1;
    }

    .icon-search {
        --path-length: 40.3;
    }

    .icon-share {
        --path-length: 59;
    }
}


.button--primary,
.shopify-challenge__button {
    &:hover, &:focus {
        // opacity: 1;

        &::before {
            box-shadow: 0 0 0 var(--button-border-width) var(--button-background-color);

            opacity: 1;
            transform: rotate(0) scale(1.02);
        }
    }

    &::before {
        box-shadow: 0 0 0 calc(var(--button-border-width) * -1) var(--button-background-color);
    }
}

.button--secondary {
    background-color: transparent;
    border-color:  var(--button-foreground-color);
    box-shadow: none;
    color: var(--button-foreground-color);
    opacity: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-color: var(--button-foreground-color);
        opacity: 1;
        transform: rotate(-2deg);
    }

    &:hover, &:focus {
        // box-shadow: 0 0 3px 1px rgba(var(--color-button-text), 0.75), 0 0 0 1px var(--button-foreground-color);
        // opacity: 1;

        &::before {
            transform: rotate(1deg) scale(1.02);
        }
    }
}

.button--tertiary,
//.shopify-challenge__button.shopify-challenge__button,
.shopify-payment-button__button.shopify-payment-button__button {
    border-color:  var(--button-background-color);
    background-color:  var(--button-background-color);
    color: var(--button-foreground-color);

    &:hover, &:focus {
        &::before {
            transform: rotate(1deg) scaleY(1.025) scaleX(1.025)
        }
    }


}


.button--link {
    background-color: transparent;
    border-color:  var(--button-background-color);
    border-width: 0 0 var(--button-border-width);
    color: var(--button-background-color);
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
}

.button--plain {
    @include text-body;
    background: transparent;
    border: none;
    color: var(--button-background-color);
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: inherit;
    line-height: 1;
    gap: var(--space-sm);
    padding: 0;

    &::before {
        content: none;
    }
}


/* outline and border styling for Windows High Contrast Mode */
@media (forced-colors: active) {
    .button,
    .shopify-challenge__button,
    .customer button {
        border: transparent solid 1px;
    }

    .button:focus-visible,
    .button:focus,
    .button.focused,
    .shopify-payment-button__button--unbranded:focus-visible,
    .shopify-payment-button [role='button']:focus-visible,
    .shopify-payment-button__button--unbranded:focus,
    .shopify-payment-button [role='button']:focus {
        outline: solid transparent 1px;
    }
}
