.button-bar {
    display: flex;
        justify-content: space-between;
        align-items: center;
    gap: var(--space);

    .align-content-right & {
        justify-content: flex-end;
    }

    .align-content-left & {
        justify-content: flex-start;
    }

    .align-content-center & {
        justify-content: center;
    }

    .align-content-desktop-right & {
        @media screen and (min-width: 750px) {
            justify-content: flex-end;
        }
    }

    .align-content-desktop-left & {
        @media screen and (min-width: 750px) {
            justify-content: flex-start;
        }
    }

    .align-content-desktop-center & {
        @media screen and (min-width: 750px) {
            justify-content: center;
        }
    }

    button,
    .button,
    a {
        &:only-child {
            margin-inline: auto;
        }
    }
}

.button-bar--fluid-buttons {
    button,
    .button,
    a,
    form {
        flex: 1 1 auto;
        text-align: center;
    }

    form {
        button {
            flex: 1 1 auto;
        }
    }
}