.cart__checkout-button {
    outline: 2px dashed transparent;
    transition: all var(--duration-long) var(--transition-type);
    width: 100%;

    &:hover,
    &:focus {
        outline-color: var(--button-background-color);
        outline-offset: 3px;

        .icon {
            &:last-child {
                transform: translateX(var(--space-xs));
            }
        }
    }

    &::before {
        content: none;
    }

    .icon {
        transition: transform var(--duration-medium) var(--transition-type);
    }
}