/* Dynamic checkout */
.shopify-payment-button__button {
    &.shopify-payment-button__button {
        margin: 0 auto;
        min-height: 4.6rem;

        &:hover, &:focus {
            transform: rotate(0.5deg);
        }
    }
}

.shopify-payment-button__button [role='button'].focused,
.no-js .shopify-payment-button__button [role='button']:focus {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
    outline-offset: 0.3rem;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}

.shopify-payment-button__button [role='button']:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none !important;
}

.shopify-payment-button__button [role='button']:focus-visible {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}

.shopify-payment-button__button + .shopify-payment-button__button--hidden {
    display: none;
}

.shopify-payment-button__button--unbranded {
    background-color: rgba(var(--color-button), var(--alpha-button-background));
    color: rgb(var(--color-button-text));
    font-size: var(--font-size-smaller);
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    letter-spacing: 0.07rem;


    &::selection {
        background-color: rgba(var(--color-button-text), 0.3);
    }

    &:hover,
    &:hover:not([disabled]) {
        background-color: rgba(var(--color-button), var(--alpha-button-background));
    }
}

.shopify-payment-button__more-options {
    margin: 1.6rem 0 1rem;
    font-size: 1.2rem;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    letter-spacing: 0.05rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}