.utility-bar {
    position: relative;
    // z-index: calc(var(--zi-header) + 1); doesn't work when page scrolled

    .grid {
        max-width: calc(100vw - 11rem);
        margin: auto;
        scroll-behavior: auto;
    }

    form,
    .disclosure {
        font-size: var(--font-size-smaller);
    }

    .list-social {
        padding-inline: var(--content-padding-inline);

        &:focus-visible {
            outline-offset: -0.3rem;
            box-shadow: 0 0 0 -0.2rem rgb(var(--color-foreground));
        }
    }

    .localization-form__select.localization-form__select {
        padding-inline: var(--content-padding-inline);
    }
}

.utility-bar__grid {
    padding-block: var(--space);
}

.announcement-bar,
.announcement-bar__announcement {
    grid-area: announcements;
}

.announcement-bar {
    .slider--everywhere {
        margin-bottom: 0;
        scroll-behavior: auto;
    }

    form,
    .disclosure {
        font-size: var(--font-size-smaller);
    }
}

.announcement-bar-slider {
    &,
    .utility-bar__grid &,
    .slider {
        width: 100%;
    }

    &.slider-buttons {
        background: transparent;
        margin: auto;
    }
}

.announcement-bar,
.announcement-bar__announcement {
    grid-area: announcements;
}

.announcement-bar__announcement {
    margin: auto;
}

.announcement-bar__link {
    .announcement-bar__link:hover {
        text-decoration: underline;
    }

    .icon {
        flex-shrink: 0;
        margin-left: var(--space-sm);
        transform: translateY(2px);
    }
}

.announcement-bar__message {
    margin: auto;
    padding: var(--space-sm) 0;
    text-align: center;
}






// @media screen and (min-width: 990px) {

//     .announcement-bar.announcement-bar--one-announcement,
//     .announcement-bar--one-announcement .announcement-bar__link {
//       width: fit-content;
//       margin: auto;
//     }
//   }

//   @media screen and (min-width: 990px) {
//     .announcement-bar-slider {
//       width: 60%;
//     }

//     .announcement-bar .slider-button {
//       height: 3.8rem;
//     }
//   }

//   .announcement-bar__link {
//     display: flex;
//     width: 100%;
//     text-decoration: none;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//   }

//   .announcement-bar__link:hover {
//     text-decoration: underline;
//   }

//   .announcement-bar__link .icon-arrow {
//     display: inline-block;
//     pointer-events: none;
//     margin-left: 0.8rem;
//     vertical-align: middle;
//     margin-bottom: 0.2rem;
//   }

// .announcement-bar__message {
//     --block-padding: var(--space);
//     text-align: center;
//     padding:  var(--block-padding) var(--space);
//     margin: 0;
//     //letter-spacing: 0.1rem;
//     min-height: 3.8rem;

//     .section-header ~ .announcement-bar & {
//         --block-padding: calc(var(--space-med) + var(--space-xs));
//     }
// }



//   .announcement-bar-slider--fade-in-next .announcement-bar__message,
//   .announcement-bar-slider--fade-in-previous .announcement-bar__message,
//   .announcement-bar-slider--fade-out-next .announcement-bar__message,
//   .announcement-bar-slider--fade-out-previous .announcement-bar__message {
//     animation-duration: var(--duration-announcement-bar);
//     animation-timing-function: ease-in-out;
//     animation-fill-mode: forwards;
//   }

//   .announcement-bar-slider--fade-in-next .announcement-bar__message {
//     --announcement-translate-from: -1.5rem;
//     /* Prevent flicker */
//     opacity: 0;
//     animation-name: translateAnnouncementSlideIn;
//     animation-delay: var(--duration-announcement-bar);
//   }

//   .announcement-bar-slider--fade-in-previous .announcement-bar__message {
//     --announcement-translate-from: 1.5rem;
//     /* Prevent flicker */
//     opacity: 0;
//     animation-name: translateAnnouncementSlideIn;
//     animation-delay: var(--duration-announcement-bar);
//   }

//   .announcement-bar-slider--fade-out-next .announcement-bar__message {
//     --announcement-translate-to: 1.5rem;
//     animation-name: translateAnnouncementSlideOut;
//   }

//   .announcement-bar-slider--fade-out-previous .announcement-bar__message {
//     --announcement-translate-to: -1.5rem;
//     animation-name: translateAnnouncementSlideOut;
//   }

//   @keyframes translateAnnouncementSlideIn {
//     0% {opacity: 0; transform: translateX(var(--announcement-translate-from))}
//     100% {opacity: 1; transform: translateX(0)}
//   }

//   @keyframes translateAnnouncementSlideOut {
//     0% {opacity: 1; transform: translateX(0)}
//     100% {opacity: 0; transform: translateX(var(--announcement-translate-to))}
//   }
//   body:has(.section-header .drawer-menu) .announcement-bar-section .page-width {

//     max-width: 100%;
//   }