.utility-bar {
    position: relative;
    // z-index: calc(var(--zi-header) + 1); doesn't work when page scrolled

    .grid {
        max-width: calc(100vw - 11rem);
        margin: auto;
        scroll-behavior: auto;
    }

    form,
    .disclosure {
        font-size: var(--font-size-smaller);
    }

    .list-social {
        padding-inline: var(--content-padding-inline);

        &:focus-visible {
            outline-offset: -0.3rem;
            box-shadow: 0 0 0 -0.2rem rgb(var(--color-foreground));
        }
    }

    .localization-form__select.localization-form__select {
        padding-inline: var(--content-padding-inline);
    }
}

.utility-bar__grid {
    padding-block: var(--space-sm);
}

.announcement-bar,
.announcement-bar__announcement {
    grid-area: announcements;
}

.announcement-bar {
    .slider--everywhere {
        margin-bottom: 0;
        scroll-behavior: auto;
    }

    form,
    .disclosure {
        font-size: var(--font-size-smaller);
    }
}

.announcement-bar-slider {
    background: transparent;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 100%;

    &,
    .utility-bar__grid &,
    .slider {
        width: 100%;
    }

    &.slider-buttons {
        background: transparent;
        margin: auto;
    }

    .slider-button {
        background: transparent;
        border: 0;
        display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex: 0 0 auto;
            min-height: 3.4rem;
            min-width: 2.75rem;
        margin: auto 0;
        padding: 0 var(--content-padding-inline);
        width: auto;

        &:focus-visible {
            outline-offset: -0.3rem;
            box-shadow: 0 0 0 -0.2rem rgb(var(--color-foreground));
        }
    }
}



.announcement-bar,
.announcement-bar__announcement {
    grid-area: announcements;
}

.announcement-bar__announcement {
    margin: auto;
}

.announcement-bar__link {
    .announcement-bar__link:hover {
        text-decoration: underline;
    }

    .icon {
        flex-shrink: 0;
    }
}

.announcement-bar__message {
    display: flex;
    justify-content: center;
    gap: calc(var(--space) * 0.75);
    margin: auto;
    padding: var(--space-sm) 0;
    text-align: center;
}
  .announcement-bar-slider--fade-in-next .announcement-bar__message,
  .announcement-bar-slider--fade-in-previous .announcement-bar__message,
  .announcement-bar-slider--fade-out-next .announcement-bar__message,
  .announcement-bar-slider--fade-out-previous .announcement-bar__message {
    animation-duration: var(--duration-announcement-bar);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .announcement-bar-slider--fade-in-next .announcement-bar__message {
    --announcement-translate-from: -1.5rem;
    /* Prevent flicker */
    opacity: 0;
    animation-name: translateAnnouncementSlideIn;
    animation-delay: var(--duration-announcement-bar);
  }

  .announcement-bar-slider--fade-in-previous .announcement-bar__message {
    --announcement-translate-from: 1.5rem;
    /* Prevent flicker */
    opacity: 0;
    animation-name: translateAnnouncementSlideIn;
    animation-delay: var(--duration-announcement-bar);
  }

  .announcement-bar-slider--fade-out-next .announcement-bar__message {
    --announcement-translate-to: 1.5rem;
    animation-name: translateAnnouncementSlideOut;
  }

  .announcement-bar-slider--fade-out-previous .announcement-bar__message {
    --announcement-translate-to: -1.5rem;
    animation-name: translateAnnouncementSlideOut;
  }

  @keyframes translateAnnouncementSlideIn {
    0% {opacity: 0; transform: translateX(var(--announcement-translate-from))}
    100% {opacity: 1; transform: translateX(0)}
  }

  @keyframes translateAnnouncementSlideOut {
    0% {opacity: 1; transform: translateX(0)}
    100% {opacity: 0; transform: translateX(var(--announcement-translate-to))}
  }
  body:has(.section-header .drawer-menu) .announcement-bar-section .page-width {

    max-width: 100%;
  }