/* Main Header Layout */
.header-wrapper {
    background-color: rgb(var(--color-background));
    display: block;
    position: relative;
}

// middle left is default desktop layout
.header {
    display: grid;
    grid-template-areas: 'header-nav header-brand header-utility';
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    column-gap: 2rem;

    @include breakpoint(large) {
        grid-template-areas: 'header-brand header-nav header-utility';
        grid-template-columns: auto 1fr max-content;
    }

    *[tabindex='-1']:focus {
        outline: none;
    }
}

.header--middle-center {
    @include breakpoint(large) {
        grid-template-areas: 'header-nav header-brand header-utility';
        grid-template-columns: 1fr auto 1fr;
    }
}

.header--top-left {
    @include breakpoint(large) {
        grid-template-areas:
        'header-brand header-utility'
        'header-nav header-nav';
        grid-template-columns: auto 1fr;
        row-gap: 1rem;
    }
}

.header--has-app {
    grid-template-columns: auto 1fr auto;

    @include breakpoint(medium) {
        grid-template-columns: max-content 1fr max-content;
    }
}

.header__brand {
    grid-area: header-brand;
}

header-drawer {
    grid-area: header-nav;

    @include breakpoint(large) {
        display: none;
    }
}

.header__nav{
    grid-area: header-nav;
}

.header__utility {
    grid-area: header-utility;
}

.predictive-search {
    .no-js & {
        display: none;
    }
}