.pg-signup {
    grid-template-areas: "welcome" "form" "login";
    grid-template-rows: auto 1fr;
    align-items: start;
    margin-bottom: var(--space);
    // margin: 0 auto;
    // max-width: var(--max-content-width);

    @include breakpoint(medium) {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "form welcome" "form login";
    }

    @include breakpoint(large) {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "form welcome login";
    }


    &.has-invitation {
        grid-template-areas: "welcome welcome" "invitation login" "form form";

        @include breakpoint(medium) {
            grid-template-areas: "form welcome" "form invitation" "form login";
            //grid-template-rows: auto auto 1fr;

        }

        @include breakpoint(large) {
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-areas: "form welcome invitation" "form welcome login";
        }
    }

    .is-welcome {
        grid-area: welcome;
        z-index: var(--zi-base);
    }

    .is-invitation {
        grid-area: invitation;
        margin-inline: 0;
        z-index: var(--zi-base);
    }

    .is-login {
        grid-area: login;
        margin-bottom: auto;
        z-index: 0;
    }

    .form-signup {
        grid-area: form;

        @include breakpoint(large) {
            max-width: var(--max-form-width);
        }
    }
}