@import "helpers/common";

.collapsible-content {
    position: relative;
    z-index: 0;

    .caption {
        opacity: var(--opacity-light);
    }

    .accordion {
        background: transparent;
        border: 0;
        margin: initial;
        position: relative;

        // &:first-child {
        //     &::before {
        //         content: none;
        //     }
        // }


        // &:nth-child(2) {
        //     &::before {
        //         transform: rotate(0.15deg);
        //     }
        // }

        // &::before {
        //     --underline-height: 1px;
        //     content: '';
        //     background-color: rgba(var(--color-link), var(--opacity-quarter));
        //     height: var(--underline-height);
        //     pointer-events: none;
        //     position: absolute;
        //         top: calc(var(--underline-height) * -1);
        //         left: 0;
        //         right: var(--space);
        //     transform: rotate(-0.15deg);
        //     transition: transform var(--duration-medium) var(--transition-type);
        //     width: auto;
        // }
    }

    .texture-lined {
        .accordion {
            &::before {


            }
        }

    }

    // details {
    //     &[open] {
    //         summary {
    //             // background: rgba(var(--color-foreground), 0.05);
    //         }
    //     }
    // }

    summary {
        padding-right: var(--space-sm);

        // &:hover {
        //     // background: rgba(var(--color-foreground), 0.05);
        // }
    }
}

.collapsible-content__grid {
    gap: 0;
    margin-inline: auto;
}

.collapsible-content__grid-item {
    margin: 0 auto auto;
    max-width: none;

    .collapsible-container--equal-col-height & {
        margin-bottom: 0;
    }
}

.collapsible-content__grid-item--accordion-wrapper {
    // .collapsible-content__grid--has-media & {
    //     margin-top: 2px;

    //     &:first-child {
    //         margin-top: -2px;
    //     }
    // }

    &.texture-torn {
        padding: var(--space);
    }
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.collapsible-content__media {
  background: transparent;
}

.collapsible-content__media--small {
    height: var(--content-area-height-small);
}

.collapsible-content__media--large {
    height: var(--content-area-height-large);
}

@media screen and (min-width: 750px) {
  .collapsible-content__grid--reverse {
    flex-direction: row-reverse;
  }
}

.collapsible-content-wrapper-narrow {
  margin: 0 auto;
  padding-right: var(--content-padding-inline);
  padding-left: var(--content-padding-inline);
  max-width: 73.4rem;
}

.collapsible-content__header {
  word-break: break-word;
}

.collapsible-content__heading {
    margin-bottom: var(--space-lg);

    @media screen and (min-width: 750px) {
        margin-bottom: var(--space-xl);
    }
}


.collapsible-row-layout .accordion summary,
.collapsible-row-layout .accordion .accordion__content {
    margin: 0;
    padding: var(--space) var(--content-padding-inline);
    position: relative;
}

.collapsible-row-layout .accordion {
  /* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
  transform: perspective(0);
}

