@import "helpers/common";


// $color_1: rgb(var(--color-foreground));

.cart-items {
    display: block;

    @media screen and (min-width: 750px) {
        display: table;
        width: 100%;
    }

    thead {
        display: block;
        width: 100%;

        @media screen and (min-width: 750px) {
            display: table-header-group;
        }

        tr {
            margin-bottom: var(--space);
        }
    }

    tbody {
        display: block;
        width: 100%;

        @media screen and (min-width: 750px) {
            display: table-row-group;
        }

        tr {
            display: grid;
            grid-template-areas: "cart-item-media cart-item-details cart-item-totals"
                "cart-item-media cart-item-qty cart-item-qty";
            grid-template-columns: max-content 1fr max-content;
            gap: var(--space);
            margin: 0;
            padding: var(--space-med) 0;

            @media screen and (min-width: 750px) {
                display: table-row;
                margin: 0;
                padding: 0;
            }
        }
    }

    tr {
        --border-width: var(--inputs-border-width);
        --border-color: rgba(var(--color-foreground), 0.25);
        border-bottom: var(--border);
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 750px) {
            border: 0;
            display: table-row;
        }

        &:last-child {
            td {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    th,
    td {
        border-width: 0;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 750px) {
            --border-width: var(--inputs-border-width);
            --border-color: var(--border-color-light);
            border-bottom: var(--border);
            padding: var(--space-sm) var(--space);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        &.right {
            text-align: right;
        }
    }

    th {
        font-size: var(--font-size-small);
        font-weight: 600;
        text-align: left;
        text-transform: none;
        vertical-align: bottom;

        @media screen and (min-width: 750px) {
            padding-top: 0;
        }
    }

    td {
        position: relative;
        vertical-align: middle;
    }
}

// product images
.cart-item__media {
    grid-area: cart-item-media;
    max-width: 10rem;
}

.cart-item__link {
    display: block;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cart-item__image-container {
    @include corners;
    // @include tape;
    display: inline-flex;
    align-items: flex-start;
}

.cart-item__image {
    height: auto;
    width: 20vw;
    max-width: 100%;
}

.cart-item__details {
    grid-area: cart-item-details;
    font-size: var(--font-size-smaller);
    // font-size: 1.6rem;
    // line-height: 1.4;
    // max-width: 30rem;

    dl {
        margin: 0;
        padding: 0;
    }
}

.cart-item__details-vendor {
    font-size: var(--font-size-small);
    margin-bottom: 0;
}

.cart-item__name {
    display: block;
    margin-bottom: 0;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: unset;
    }
}

.cart-item__quantity {
    grid-area: cart-item-qty;
}

.cart-item__quantity-wrapper {
    display: flex;
}

.cart-item__totals {
    grid-area: cart-item-totals;
    position: relative;
}

.cart-item__discounted-prices {
    dd {
        margin: 0;
    }
    .cart-item__old-price {
        font-size: var(--font-size-smaller);
    }
}
.cart-item__old-price {
    opacity: var(--opacity-light);
}
.cart-item__final-price {
    font-weight: 400;
}
.product-option {
    font-size: var(--font-size-smaller);
    word-break: break-word;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    * {
        display: inline;
        margin: 0;
    }
}

.cart-item__error {
    display: flex;
    align-items: flex-start;
    margin-top: 0.2rem;
    width: min-content;
    min-width: 100%;
}

.cart-item__error-text {
    font-size: 1.2rem;
    line-height: 1.2;
    order: 1;

    &:empty+svg {
        display: none;
    }

    +svg {
        flex-shrink: 0;
        width: 1.2rem;

        margin-top: 0.1rem;
    }
}

.cart-remove__button {
    color: rgba(var(--color-foreground), var(--opacity-light));
    display: flex;
    min-width: calc(4.5rem / var(--font-body-scale));
    min-height: 4.5rem;
    padding: var(--space-sm) var(--space);
    margin: 0 0.1rem 0.1rem 0;

    &:disabled,
    &.disabled {
        pointer-events: none;
    }
    &:hover,
    &:focus {
        color: rgba(var(--color-foreground), 1);
    }
}
