@import "helpers/common";

.slider {
    --slide-block-space: 60px; // maximum shadow size + blur allowed in settings
    --slide-space-offset: calc((var(--slide-block-space) - 10px) * -1);
}

slider-component {
    --desktop-margin-left-first-item: max(5rem, calc((100vw - var(--page-width) + var(--grid-horizontal-spacing)) / 2));
    --slider-block-space: 60px; // maximum shadow size + blur allowed in settings

    position: relative;
    display: block;
    width: 100%;
    max-width: var(--page-width);
    margin: calc(var(--slider-block-space) * -1 ) auto var(--space-med);
    padding-inline: var(--content-padding-inline);
    overflow: clip;
}

.slider-component-full-width {
    max-width: none;
}

.slider-component-mobile {
    @media screen and (max-width: 989px) {
        max-width: none;
        padding-inline: 0;

        .texture-lined & {
            padding-left: 0;
        }
    }
}


.slider-component-desktop {
    @media screen and (min-width: 990px) {
        max-width: none;
        padding-inline: 0;

        &.page-width {
            max-width: none;
        }

        .texture-lined & {
            padding-left: 0;
        }
    }
}

.slider {
    scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), 0.04);
    -ms-overflow-style: none;
    scrollbar-width: none;
       // padding-block: var(--space-sm); // careful or you'll get gaps between content sections
    // overflow: clip; // cutting off blog card shadow

    &.contains-card {
        margin-bottom: calc((var(--slide-block-space) - var(--space-med)) * -1) !important;
    }

    &.contains-card--article {
        margin-bottom: calc(var(--slide-block-space) * -1) !important;
    }

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }

    &::-webkit-scrollbar {
        height: 0.4rem;
        width: 0.4rem;
        display: none;

        .no-js & {
            display: initial;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(var(--color-foreground));
        border-radius: 0.4rem;
        border: 0;
    }

    &::-webkit-scrollbar-track {
        background: rgba(var(--color-foreground), 0.04);
        border-radius: 0.4rem;
    }

    .no-js & {
        -ms-overflow-style: auto;
        scrollbar-width: auto;
    }
}

@media screen and (max-width: 989px) {
    .no-js slider-component .slider {
        padding-bottom: var(--space-xl);
    }
}


.slider--mobile {
    @media screen and (max-width: 749px) {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--space-med);
        -webkit-overflow-scrolling: touch;
        margin-bottom: var(--space);

        /* Fix to show some space at the end of our sliders in all browsers */
        &::after {
            content: '';
            width: 0;
            padding-left: var(--content-padding-inline);
        }
    }
}


.slider--tablet {
    @media screen and (max-width: 989px) {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--space-med);
        -webkit-overflow-scrolling: touch;
        margin-bottom: var(--space);
    }

    &::after {
        @media screen and (max-width: 989px) {
            content: '';
            width: 0;
            padding-left: var(--space-med);
            margin-left: calc(-1 * var(--grid-horizontal-spacing));
        }
    }
}

@media screen and (max-width: 989px) {
    .slider.slider--tablet.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
        padding-bottom: var(--focus-outline-padding);
    }

    .slider.slider--tablet.contains-content-container .slider__slide {
        --focus-outline-padding: 0;
    }
}

.slider--tablet-up {
    @media screen and (min-width: 750px) {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--space);
        -webkit-overflow-scrolling: touch;
    }
}

.slider--desktop {
    @media screen and (min-width: 990px) {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 1rem;
        scroll-padding-left: var(--desktop-margin-left-first-item);

        .slider-component-full-width & {
            scroll-padding-left: var(--space-med);

            &::after {
                padding-left: var(--space-med);
            }
        }

        /* Fix to show some space at the end of our sliders in all browsers */
        &::after {
            content: '';
            width: 0;
            padding-left: 5rem;
            margin-left: calc(-1 * var(--grid-horizontal-spacing));
        }

        &.grid--5-col-desktop {
            .grid__item {
                width: calc((100% - var(--desktop-margin-left-first-item)) / 5 - var(--grid-horizontal-spacing) * 2);
            }
        }

        &.grid--4-col-desktop {
            .grid__item {
                width: calc((100% - var(--desktop-margin-left-first-item)) / 4 - var(--grid-horizontal-spacing) * 3);
            }
        }

        &.grid--3-col-desktop {
            .grid__item {
                width: calc((100% - var(--desktop-margin-left-first-item)) / 3 - var(--grid-horizontal-spacing) * 4);
            }
        }

        &.grid--2-col-desktop {
            .grid__item {
                width: calc((100% - var(--desktop-margin-left-first-item)) / 2 - var(--grid-horizontal-spacing) * 5);
            }
        }

        &.grid--1-col-desktop {
            .grid__item {
                width: calc((100% - var(--desktop-margin-left-first-item)) - var(--grid-horizontal-spacing) * 9);
            }
        }
    }
}

.slider--everywhere {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: var(--space);
}


.slider__slide {
    --focus-outline-padding: .5rem;
    --shadow-padding-top: calc((var(--shadow-vertical-offset)* -1 + var(--shadow-blur-radius))* var(--shadow-visible));
    --shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius))* var(--shadow-visible));
    scroll-snap-align: start;
    flex-shrink: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;

    .contains-card & {
        padding-block: var(--slide-block-space) !important;
        margin-top: var(--slide-space-offset) !important;
    }

    // .contains-card--article & {
    //     margin-bottom: var(--space) !important;
    // }


    &[aria-hidden="true"] {
        visibility: hidden;
    }

    .texture-lined & {
        border-left: var(--texture-lined-border-size) solid transparent;

        // @media screen and (min-width: var(--page-width)) {
        @media screen and (min-width: 990px) {
            border-left: 0;
        }
    }

    .slider--everywhere & {
        margin-bottom: 0;
        scroll-snap-align: center;
    }

    .slider--mobile & {
        @media screen and (max-width: 749px) {
            /* margin-bottom: 0; */
            padding-top: max(var(--focus-outline-padding),var(--shadow-padding-top));
            padding-bottom: max(var(--focus-outline-padding),var(--shadow-padding-bottom));
        }
    }

    &:first-child {
        .slider--desktop & {
            @media screen and (min-width: 990px) {
                margin-left: var(--desktop-margin-left-first-item);
                scroll-margin-left: var(--desktop-margin-left-first-item);

                .texture-lined & {
                    margin-left: calc(var(--desktop-margin-left-first-item) + var(--texture-lined-border-size));
                    scroll-margin-left: calc(var(--desktop-margin-left-first-item) + var(--texture-lined-border-size));
                }

                .slider-component-full-width & {
                    margin-left: var(--space-med);
                    scroll-margin-left: var(--space-med);

                    .texture-lined & {
                        margin-left: calc(var(--space-med) + var(--texture-lined-border-size));
                        scroll-margin-left: calc(var(--space-med) + var(--texture-lined-border-size));
                    }
                }
            }
        }


    }
}


@media screen and (min-width: 990px) {
    .slider.slider--desktop.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
        padding-bottom: var(--focus-outline-padding);
    }

    .slider.slider--desktop.contains-content-container .slider__slide {
        --focus-outline-padding: 0rem;
    }
}

.slider.slider--mobile.contains-content-container .slider__slide {
    @media screen and (max-width: 749px) {
        --focus-outline-padding: 0rem;
    }
}

.slider-counter {
    display: flex;
        align-items: center;
        justify-content: center;
        min-width: 4.4rem;
    font-family: var(--font-heading-family);
    font-size: var(--font-size-smaller);
}

.slider-counter--dots {
    @media screen and (min-width: 750px) {
        margin: 0 var(--space);
    }
}

.slider-counter__link {
    padding: 0.7rem;

    @media screen and (min-width: 750px) {
        padding: var(--space);
    }
}

.slider-counter--divider {
    padding-inline: var(--space-xs);
}

.dot {
    border-radius: 50%;
    border: 0.1rem solid rgba(var(--color-foreground), 0.5);
    display: block;
        height: 1rem;
        width: 1rem;
    padding: 0;
    transition: transform var(--duration-default) ease-in-out;

    .slider-counter__link--active & {
        background-color: rgb(var(--color-foreground));
        pointer-events: none;

        @media screen and (forced-colors: active) {
            background-color: CanvasText;
        }
    }

    .slider-counter__link--dots:hover & {
        border-color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }
}

.slider-counter__link--numbers {
    color: rgba(var(--color-foreground), 0.5);
    text-decoration: none;
    transition: transform var(--duration-default) ease-in-out;

    &.slider-counter__link--active {
        color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }

    &:hover {
        color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }
}

.slider-buttons {
    [class^='texture-'] &, div[class*=' texture-'] & {
        --slider-pagination-bg-opacity: 0;
    }

    background-color: rgba(var(--color-background), var(--slider-pagination-bg-opacity, 1));
    color: rgb(var(--color-foreground));
    display: flex;
        align-items: center;
        justify-content: center;
        margin: var(--space) auto;
    width: max-content;
}

.contains-card .slider-buttons,
.contains-card + .slider-buttons {
    margin-top: var(--slide-space-offset);
    position: relative;
    z-index: var(--zi-base);
}

@media screen and (min-width: 990px) {
    .slider:not(.slider--everywhere):not(.slider--desktop) + .slider-buttons {
        display: none;
    }
}

@media screen and (max-width: 989px) {
    .slider--desktop:not(.slider--tablet) + .slider-buttons {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .slider--mobile + .slider-buttons {
        display: none;
    }
}

.slider-button {
    color: currentColor;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    opacity: var(--opacity-light);
    z-index: var(--zi-base);

    &:hover {
        opacity: 1;
    }

    &:disabled {
        @include disabled;
    }

    .icon {
        // icons are rotated, height = width and vice versa
        height: var(--icon-size);
        width: var(--icon-size-xs);
    }
}

.slider-button--next {
    &:hover {
        .icon {
            transform: rotate(-90deg) scale(1.1);
        }
    }

    .icon {
        transform: rotate(-90deg);
    }
}

.slider-button--prev {
    &:hover {
        .icon {
            transform: rotate(90deg) scale(1.1);
        }
    }

    .icon {
        transform: rotate(90deg);
    }
}