@import "helpers/common";

slider-component {
    --desktop-margin-left-first-item: max(5rem, calc((100vw - var(--page-width) + var(--grid-horizontal-spacing)) / 2));
    --slider-block-space: 60px; // maximum shadow size + blur allowed in settings

    position: relative;
    display: block;
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto var(--space-med);
    padding-inline: var(--content-padding-inline);
}

.slider-component-full-width {
    max-width: none;
}

.slider-component-mobile {
    @media screen and (max-width: 989px) {
        max-width: none;
        padding-inline: 0;

        .texture-lined & {
            padding-left: 0;
        }
    }
}




.slider {
    scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), 0.04);
    -ms-overflow-style: none;
    scrollbar-width: none;
    // padding-block: var(--space-sm); // careful or you'll get gaps between content sections
    // overflow: clip; // cutting off blog card shadow

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }

    &::-webkit-scrollbar {
        height: 0.4rem;
        width: 0.4rem;
        display: none;

        .no-js & {
            display: initial;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(var(--color-foreground));
        border-radius: 0.4rem;
        border: 0;
    }

    &::-webkit-scrollbar-track {
        background: rgba(var(--color-foreground), 0.04);
        border-radius: 0.4rem;
    }

    .no-js & {
        -ms-overflow-style: auto;
        scrollbar-width: auto;
    }
}

@media screen and (max-width: 989px) {
    .no-js slider-component .slider {
        padding-bottom: var(--space-xl);
    }
}


.slider--mobile {
    @media screen and (max-width: 749px) {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--space-med);
        -webkit-overflow-scrolling: touch;
        margin-bottom: var(--space);

        /* Fix to show some space at the end of our sliders in all browsers */
        &::after {
            content: '';
            width: 0;
            padding-left: var(--space-med);
        }
    }
}


.slider--tablet {
    @media screen and (max-width: 989px) {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--space-med);
        -webkit-overflow-scrolling: touch;
        margin-bottom: var(--space);
    }

    &::after {
        @media screen and (max-width: 989px) {
            content: '';
            width: 0;
            padding-left: var(--space-med);
            margin-left: calc(-1 * var(--grid-horizontal-spacing));
        }
    }
}

.slider__slide {
    --focus-outline-padding: 0.5rem;
    --shadow-padding-top: calc(var(--space) + (var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
    --shadow-padding-bottom: calc(var(--space) + (var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
    --shadow-margin-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible) * -1 );
    scroll-snap-align: start;
    flex-shrink: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
}
.slider__slide {
    // --focus-outline-padding: var(--space-sm);
    // --shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
    // --shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
    scroll-snap-align: start;
    // flex-shrink: 0;
    // padding-bottom: 0;
    position: relative;
    z-index: 1;
    // padding-block : var(--slider-block-space) !important;
    // margin-block: calc(var(--slider-block-space) * -1) !important;
    // padding-block : 60px !important;
    // margin-top: -50px !important;
    // margin-block: calc(var(--slider-block-space) * -1) !important;

    &[aria-hidden="true"] {
        visibility: hidden;
    }

    .texture-lined & {
        border-left: var(--texture-lined-border-size) solid transparent;

        @media screen and (min-width: var(--page-width)) {
            border-left: 0;
        }
    }

    .slider--everywhere & {
        margin-bottom: 0;
        scroll-snap-align: center;
    }
}

.slider-counter {
    display: flex;
        align-items: center;
        justify-content: center;
        min-width: 4.4rem;
    font-family: var(--font-heading-family);
    font-size: var(--font-size-smaller);
}

.slider-counter--dots {
    @media screen and (min-width: 750px) {
        margin: 0 var(--space);
    }
}

.slider-counter__link {
    padding: 0.7rem;

    @media screen and (min-width: 750px) {
        padding: var(--space);
    }
}

.slider-counter--divider {
    padding-inline: var(--space-xs);
}

.dot {
    border-radius: 50%;
    border: 0.1rem solid rgba(var(--color-foreground), 0.5);
    display: block;
        height: 1rem;
        width: 1rem;
    padding: 0;
    transition: transform var(--duration-default) ease-in-out;

    .slider-counter__link--active & {
        background-color: rgb(var(--color-foreground));
        pointer-events: none;

        @media screen and (forced-colors: active) {
            background-color: CanvasText;
        }
    }

    .slider-counter__link--dots:hover & {
        border-color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }
}

.slider-counter__link--numbers {
    color: rgba(var(--color-foreground), 0.5);
    text-decoration: none;
    transition: transform var(--duration-default) ease-in-out;

    &.slider-counter__link--active {
        color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }

    &:hover {
        color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }
}

.slider-buttons {
    [class^='texture-'] &, div[class*=' texture-'] & {
        --slider-pagination-bg-opacity: 0;
    }

    background-color: rgba(var(--color-background), var(--slider-pagination-bg-opacity, 1));
    color: rgb(var(--color-foreground));
    display: flex;
        align-items: center;
        justify-content: center;
    margin: var(--space) auto;
    width: max-content;

    // WHERE Is this for - overlaid?
    // .background-transparent & {
    //     margin-bottom: calc(-1 * var(--space-sm));
    // }
}

@media screen and (min-width: 990px) {
    .slider:not(.slider--everywhere):not(.slider--desktop) + .slider-buttons {
        display: none;
    }
}

@media screen and (max-width: 989px) {
    .slider--desktop:not(.slider--tablet) + .slider-buttons {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .slider--mobile + .slider-buttons {
        display: none;
    }
}

.slider-button {
    color: currentColor;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    opacity: var(--opacity-light);

    &:hover {
        opacity: 1;
    }

    &:disabled {
        @include disabled;
    }

    .icon {
        // icons are rotated, height = width and vice versa
        height: var(--icon-size);
        width: var(--icon-size-xs);
    }
}

.slider-button--next {
    &:hover {
        .icon {
            transform: rotate(-90deg) scale(1.1);
        }
    }

    .icon {
        transform: rotate(-90deg);
    }
}

.slider-button--prev {
    &:hover {
        .icon {
            transform: rotate(90deg) scale(1.1);
        }
    }

    .icon {
        transform: rotate(90deg);
    }
}