@import "helpers/common";

.drawer { // component name 'cart-drawer'
    background-color: rgba(var(--color-foreground), 0.5);
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transition: visibility var(--duration-default) ease;
    z-index: 1000;

    &.active {
        visibility: visible;
    }
}

.cart-drawer__overlay {
    position: fixed;
        offset: 0;

    &:empty {
        display: block;
    }
}

.cart-drawer {
    .drawer__inner {
        @include scrollbars;
        background-color: rgb(var(--color-background));
        border-right: 0;
        display: flex;
            flex-direction: column;
        height: 100%;
        width: fit-content;
        max-width: calc(100vw - var(--space-lg));
        padding: var(--content-padding-inline);
        transform: translateX(100%);
        transition: transform var(--duration-default) ease;

        @media screen and (min-width: 750px) {
            max-width: calc(100vw - var(--space-lg) - var(--space-lg));
            min-width: 40rem;
        }

        // @media screen and (min-height: 650px) {
        //     overflow: clip;
        // }

        .drawer.active & {
            transform: translateX(0);
        }
    }

    .drawer__inner-empty {
        display: flex;
            flex-direction: column;
        height: 100%;
        // overflow: clip;
    }

    // drawer header
    .drawer__header {
        align-items: center;
        background-color: rgb(var(--color-background));
        display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: var(--space-med);
        margin: 0 0 auto;
        padding: 0 0 var(--space-med) 0;
        position: relative;
    }

    // .drawer__heading {
    //     margin: 0 0 1rem;
    // }

    .drawer__close {
        background-color: transparent;
        border: none;
        box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
        color: rgb(var(--color-foreground));
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        padding: 0;
    }

    // .card {
    //     display: flex;
    //         flex-direction: column;
    //         gap: var(--space);
    // }

    // .card__media-image {
    //     width: 100%;

    //     .media {
    //         height: 100%;
    //         width: 100%;
    //     }
    // }
}
// drawer main content
cart-drawer-items {
    overflow: visible;
    flex: 1;

    @media screen and (min-height: 650px) {
        @include scrollbars;
        padding-right: 1rem;
        margin-right: -1rem;
    }
}

.cart-drawer__form {
    flex-grow: 1;
    display: flex;
        flex-wrap: wrap;
}

.drawer__contents {
    flex-grow: 1;
    display: flex;
        flex-direction: column;
}

.drawer__cart-items-wrapper {
    flex-grow: 1;
}

.cart-drawer {
    .cart-items { // table
        display: block;
        margin-bottom: var(--space);
        width: 100%;

        tbody {
            display: block;
            width: 100%;
        }

        thead {
            display: block;
            width: 100%;

            position: sticky;
                top: 0;
            z-index: 2;
            background-color: rgb(var(--color-background));

            tr {
                border-bottom: var(--border);
                display: flex;
                    justify-content: space-between;
            }
        }

        tr {
            margin-bottom: var(--space);
        }

        td,
        th {
            border-width: 0;
            margin: 0;
            padding: 0;

            &:empty {
                display: none;
            }
        }

        th {
            flex: 0 1 auto;

            &.right {
                margin-left: auto;
            }
        }
    }

    .cart-items__th-product {
        flex: 1 1 0;
    }

    .cart-items__th-totals {
        flex: 1 1 0;
    }

    .cart-item { // tr
        display: grid;
        //grid-template: repeat(2, auto) / repeat(4, 1fr);
        grid-template-areas: "cart-item--image cart-item--details cart-item--totals" "cart-item--image cart-item--quantity cart-item--quantity";
        gap: var(--space-med);
        align-items: start;
        margin-bottom: var(--space);

      .loading-overlay {
        right: 5px;
        padding-top: 2.5rem;
      }

    .cart-item__media {  // td
        grid-area: cart-item--image;
        //grid-row: 1 / 3;
    }

    .cart-item__image {
        max-width: 100%;
    }

    .cart-item__details { // td
        grid-area: cart-item--details;
        width: auto;
        align-self: center;
        //grid-column: 2 / 4;
    }

    .cart-item__name {
        margin: 0;
        padding: 0;
    }

    .cart-item__totals {  // td
        grid-area: cart-item--totals;
        pointer-events: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .cart-item__price-wrapper { // child of .cart-item__totals
        > *:only-child {
            margin-top: 0;
        }

        .cart-item__discounted-prices {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
        }
    }

    .cart-item__quantity {  // td
        grid-area: cart-item--quantity;
        padding-top: 0;
        //grid-column: 2 / 5;
    }

    .unit-price {
        margin-top: 0.6rem;
    }


    .cart-item__error {
        margin-top: 0.8rem;

        @media screen and (min-width: 750px) {
                margin-left: 0;
            }
        }
    }

    .cart-item__quantity--info {
        quantity-popover {
            > * {
                padding-left: 0;
            }
        }
    }

    .quantity-popover__info + .cart-item__error {
        margin-top: 0.2rem;
    }

    .quantity-popover-container {
        padding: 0;
    }

    .quantity-popover__info {
        &.global-settings-popup {
            transform: translateY(0);
            right: 0;
        }
    }


    .cart__checkout-button {
        max-width: none;
    }

    .totals {
        justify-content: end;
        margin-bottom: var(--space);
    }

    .price {
        line-height: 1;
    }

    .product-option  {
        dd {
            word-break: break-word;
        }
    }
}


.cart-drawer__warnings {
    display: none;
    flex: 1;

    .drawer.is-empty & {
        display: flex;
            flex-direction: column;
            justify-content: center;
        margin: 0 0 var(--space-med);
    }
}

.cart-drawer__collection {
    display: none;

    .drawer.is-empty & {
        display: block;
        margin: auto 0 var(--space);
    }
}

// drawer footer
.drawer__footer {
    background-color: rgb(var(--color-background));
    border-top: var(--border-light);

    cart-drawer.is-empty &  {
        display: none;
    }

    summary {
        display: flex;
            gap: var(--space);
            justify-content: center;
            align-items: center;
        position: relative;
        line-height: 1;
        padding: var(--space) 0;
        text-align: center;
    }

    .cart__dynamic-checkout-buttons {
            max-width: 100%;
    }

    #dynamic-checkout-cart {
        [data-shopify-buttoncontainer] {
            justify-content: flex-start;
        }

        ul {
            flex-wrap: wrap !important;
            flex-direction: row !important;
            margin: 0.5rem -0.5rem 0 0 !important;
            gap: 0.5rem;

            > li {
                flex-basis: calc(50% - 0.5rem) !important;
                margin: 0 !important;

                @media screen and (min-width: 750px) {
                    flex-basis: calc(100% / 3 - 0.5rem) !important;
                    margin: 0 !important;
                }

                &:only-child {
                    flex-basis: 100% !important;
                    margin-right: 0.5rem !important;
                }

                &:first-child {
                    &:nth-last-child(2), &:nth-last-child(4) {
                        flex-basis: calc(50% - 0.5rem) !important;

                        ~ li {
                            flex-basis: calc(50% - 0.5rem) !important;
                        }
                    }
                }
            }
        }
    }
}

.cart-drawer__footer {
    padding-top: var(--space);

    .totals__total {
        font-weight: normal;
    }
}

.drawer__footer-details {
    border-bottom: var(--border-light);
    margin-bottom: var(--space);

    .icon-caret {
        transition: transform var(--duration-short) var(--transition-type);
    }

    &[open] {
        border-bottom: 0 none;

        > summary .icon-caret {
            transform: rotate(180deg);
        }

        .cart__note {
            max-height: 100vh;
        }
    }

    summary {

        &:hover,
        &:focus {
            .icon-caret {
                transform: rotate(270deg);
            }
        }
    }

    .cart__note {
        display: block;
        margin: 0;
        max-height: 0;
        transition: max-height var(--duration-short) var(--transition-type);
    }
}
