@import "helpers/common";

.cart__footer-wrapper {
    display: inline-grid;
    width: 100%;
    pointer-events: none;

    &.is-sticky {
        position: sticky;
            bottom: 0;
            left: 0;
        z-index: 2;

        &:first-child {
            top: var(--header-height);
            bottom: auto;
        }
    }
}

.cart__footer-outer.cart__footer-outer {
    display: flex;
        flex-direction: column;
    width: 100%;
}

.cart__footer {
    border: var(--popup-border-width) solid rgba(var(--color-foreground), var(--popup-border-opacity));
    box-shadow: 0 2px 6px rgba(var(--color-shadow), 0.4), 0px 15px 30px rgba(0, 0, 0, 0.12) inset, var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity)), 0 -2px 4px rgba(var(--color-shadow), 0.06);
    padding: var(--space) var(--content-padding-inline);
    position: relative;
    pointer-events: all;
    width: 100%;
    z-index: -1;

    @media screen and (min-width: 750px) {
        display: inline-grid;
        margin-left: auto;
        width: auto;
    }

    &:focus-within {
        box-shadow: 0 2px 6px rgba(var(--color-shadow), 0.4), var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity)), 0 -2px 4px rgba(var(--color-shadow), 0.06);
    }

    .is-empty & {
        display: none !important;
    }

    summary,
    .accordion summary {
        color: rgba(var(--color-link),var(--alpha-link));
        margin: 0;
        padding: 0;
    }

    summary {
        .accordion__title {
            @include text-heading;
            color: currentColor;
            font-size: var(--font-size-smaller);
            margin-left: auto;
        }

        .icon {
            margin: auto 0;
        }
    }

    .accordion__content {
        margin: 0;
        padding-inline: 0;
    }
}

.cart {
    display: block;
    position: relative;
}

cart-items {
    display: block;
    position: relative;
}

.cart__blocks {
    display: flex;
        flex-direction: column;
        gap: var(--space);
    position: relative;
    z-index: 1;

    small {
        display: block;
        letter-spacing: 0;
        line-height: 1.2;
    }

    .totals {
        align-items: baseline;
        justify-content: flex-end;
        gap: var(--space-sm);
    }

    .totals__total-value {
        @include text-heading;
        font-size: var(--font-size-h5);
    }
}


.tax-note {
    color: rgba(var(--color-foreground), var(--opacity-light));
    font-size: var(--font-size-xs);
    margin-top: var(--space-sm);
    text-align: end;
}

.totals__total {
    font-size: var(--font-size-small);
    font-weight: bold;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.totals__total-value {
    margin: 0;
    padding: 0;
}

.cart__contents {
    margin-bottom: var(--space);

    .is-empty & {
        display: none;
    }
}

.cart__empty-text {
    display: none;

    .is-empty & {
        display: block;
    }
}

.cart__continue-shopping.cart__continue-shopping {
    opacity: var(--opacity-light);

    &:hover,
    &:focus {
        opacity: 1;
    }

    &,
    &:only-child {

        margin: 0 0 var(--space) auto;
    }
}

.cart__warnings {
    display: none;
    text-align: center;
    padding: var(--space-xl) 0 var(--space-lg);

    .is-empty & {
        display: block;
    }
}
