// Todo: refactor and simplify

.image-with-text {
    @media screen and (min-width: 750px) {
        padding-inline: var(--content-padding-inline);
    }

    .grid {
        margin-bottom: 0;
    }

    .grid__item {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    .image-with-text .global-media-settings {
        overflow: clip !important;
    }

    .image-with-text__button {
        margin-bottom: var(--space-med);
    }

    /* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
    .gradient {
        transform: perspective(0);
    }
}

.image-with-text__grid--reverse {
    @media screen and (min-width: 750px) {
        flex-direction: row-reverse;
    }
}

.image-with-text__media {
    min-height: 100%;
    overflow: visible;
}

.image-with-text__media--small {
    height: var(--content-area-height-small);
}

.image-with-text__media--medium {
    height: var(--content-area-height-medium);
}

.image-with-text__media--large {
    height: var(--content-area-height-large);
}


.image-with-text__media--adapt {
    height: 20rem;

    @media screen and (min-width: 750px) {
        height: 30rem;
    }
}

.image-with-text__media--placeholder {
    position: relative;
    overflow: clip;

    >svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        fill: currentColor;
    }

    &:is(.animate--ambient, .animate--zoom-in)>svg {
        top: 0;
        left: 0;
        transform: translate(0);
    }
}


.image-with-text__text-item {
    .image-with-text--overlap & {
        padding-inline: var(--content-padding-inline);

        @media screen and (min-width: 750px) {
            padding-inline: 0;
        }
    }
}

.image-with-text__content {
    --translateX: 0;
    --translateY: 0;

    border-radius: var(--text-boxes-radius);
    box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
    word-break: break-word;
    align-self: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: var(--space-xl) var(--space-lg) var(--space-med);
    position: relative;
    transform: translateX(var(--translateX)) translateY(var(--translateY));
    z-index: var(--zi-base);

    @media screen and (min-width: 990px) {
        padding: var(--space-xl);
    }

    &.texture-lined {
        padding-left: calc(var(--space-lg) + var(--texture-lined-border-size));

        @media screen and (min-width: 990px) {
            padding-left: calc(var(--space-xl) + var(--texture-lined-border-size));
        }
    }
}

.image-with-text__text {
    margin-bottom: var(--space-sm);
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item:after {
    border-radius: var(--media-radius);
    box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item:after {
    border-radius: var(--text-boxes-radius);
    box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text .image-with-text__media-item>* {
    border-radius: var(--media-radius);
    overflow: hidden;
    box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}



.image-with-text .image-with-text__text-item>* {
    border-radius: var(--text-boxes-radius);

    box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}



.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item>*,
.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item>* {
    box-shadow: none;
}

@media screen and (max-width: 749px) {

    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid__item .image-with-text__media,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media img,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media .placeholder-svg {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__text-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid__item .image-with-text__content {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .image-with-text.collapse-borders:not(.image-with-text--overlap) .image-with-text__content {
        border-top: 0;
    }
}

.image-with-text__content--mobile-right>* {
    align-self: flex-end;
    text-align: right;
}

.image-with-text__content--mobile-center>* {
    align-self: center;
    text-align: center;
}

.image-with-text--overlap .image-with-text__content {
    // width: calc(100% - var(--texture-lined-border-size) - var(--content-padding-inline) - var(--content-padding-inline));
    margin: calc(var(--space) * -1) auto 0;

    @media screen and (min-width: 750px) {
        width: 90%;
        margin: -3rem auto 0;
    }
}

@media screen and (min-width: 750px) {
    .image-with-text__grid--reverse .image-with-text__content {
        margin-left: auto;
    }

    .image-with-text__content--bottom {
        justify-content: flex-end;
        align-self: flex-end;
    }

    .image-with-text__content--top {
        justify-content: flex-start;
        align-self: flex-start;
    }

    .image-with-text__content--desktop-right>* {
        align-self: flex-end;
        text-align: right;
    }

    .image-with-text__content--desktop-left>* {
        align-self: flex-start;
        text-align: left;
    }

    .image-with-text__content--desktop-center>* {
        align-self: center;
        text-align: center;
    }

    .image-with-text--overlap .image-with-text__text-item {
        display: flex;
        padding: 3rem 0;
    }

    .image-with-text--overlap .image-with-text__content {
        height: auto;
        width: calc(100% + 4rem);
        min-width: calc(100% + 4rem);
        margin-top: 0;
        margin-left: -4rem;
    }

    .image-with-text--overlap .image-with-text__grid--reverse .image-with-text__content {
        margin-left: 0;
        margin-right: -4rem;
    }

    .image-with-text--overlap .image-with-text__grid--reverse .image-with-text__text-item {
        justify-content: flex-end;
    }

    .image-with-text--overlap .image-with-text__media-item--top {
        align-self: flex-start;
    }

    .image-with-text--overlap .image-with-text__media-item--middle {
        align-self: center;
    }

    .image-with-text--overlap .image-with-text__media-item--bottom {
        align-self: flex-end;
    }

    .image-with-text__media-item--small,
    .image-with-text__media-item--large+.image-with-text__text-item {
        flex-grow: 0;
    }

    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media img,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media .placeholder-svg,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__text-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content:after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__text-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media img,
    .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media .placeholder-svg {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .image-with-text.collapse-borders:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content {
        border-left: 0;
    }

    .image-with-text.collapse-borders:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content {
        border-right: 0;
    }
}

.image-with-text:not(.collapse-corners, .image-with-text--overlap) .image-with-text__media-item {
    z-index: 2;
}