.accordion {
    background: transparent;
    border: 0;
    margin: initial;
    position: relative;

    .texture-lined & {
        --underline-height: 0;
    }

    + .accordion {
        margin-top: 0;
        border-top: none;
    }

    &:last-of-type {
        margin-bottom: var(--space);
    }

    details[open] > summary .icon-caret {
        transform: rotate(180deg);
    }

    summary {
        display: flex;
        align-items: center;
        position: relative;
        line-height: 1;
        gap: var(--space-sm);
        padding-inline: var(--content-padding-inline);
        padding-block: var(--space);

        &:hover,
        &:focus {
            .icon-caret {
                transform: rotate(-90deg);
            }
        }

        .icon {
            pointer-events: none; // otherwise the toggle won't activate
        }
    }

    .summary__title {
        flex: 1;
        display: flex;
            align-items: center;

        + .icon-caret {
            position: static;
            height: var(--icon-size-lg);
            width: var(--icon-size);
        }
    }

    .icon {
        margin: 0;
        padding: 0;
        position: relative;
    }

    .icon-accordion {
        align-self: center;
        fill: rgb(var(--color-foreground));
        height: 100%;
        min-height: var(--icon-size-xl);
        padding-right: var(--space-sm);
        width: var(--icon-size-xl);
    }

    .icon-caret {
        display: block;
            height: var(--icon-size-sm);
        margin-left: auto;
    }
}

.accordion__title {
    display: inline-block;
    margin: 0;
    min-height: 1.6rem;
    word-break: break-word;
    pointer-events: none; // otherwise the toggle won't activate
}

.accordion__content {
    margin-bottom: var(--space);
    word-break: break-word;
    overflow-x: auto;
    padding-inline: var(--content-padding-inline);
    padding-block: var(--space);

    img {
        max-width: 100%;
    }
}