@import "helpers/common";

slider-component {
    --desktop-margin-left-first-item: max(5rem, calc((100vw - var(--page-width) - var(--grid-horizontal-spacing)) / 2));
    position: relative;
    display: block;
    margin-bottom: var(--space-med);

    &.page-width {
        padding-inline: var(--content-padding-inline);
    }

        //&.page-width {
        // padding: 0 var(--content-padding-inline);
        // @media screen and (min-width: 990px) {
        //     padding: 0 5rem;
        // }
    //}

    &.slider-component-mobile {
        @media screen and (max-width: 749px) {
            --content-padding-inline: 0;

            .background-theme & {
                margin-inline: var(--full-width-offset-margin);
            }
        }
    }

    &.slider-component-full-width {
        --desktop-margin-left-first-item: var(--space-med);

    }

    &.slider-component-desktop {
        @media screen and (min-width: 750px) {
            --content-padding-inline: 0;
        }
    }
}


@media screen and (max-width: 989px) {
    .no-js slider-component .slider {
        padding-bottom: var(--space-xl);
    }
}

.slider__slide {
    --focus-outline-padding: var(--space-sm);
    --shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
    --shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
    scroll-snap-align: start;
    flex-shrink: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;

    &[aria-hidden="true"] {
        visibility: hidden;
    }
}

.slider {
    scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), 0.04);
    -ms-overflow-style: none;
    scrollbar-width: none;

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }

    &::-webkit-scrollbar {
        height: 0.4rem;
        width: 0.4rem;
        display: none;

        .no-js & {
            display: initial;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(var(--color-foreground));
        border-radius: 0.4rem;
        border: 0;
    }

    &::-webkit-scrollbar-track {
        background: rgba(var(--color-foreground), 0.04);
        border-radius: 0.4rem;
    }

    .no-js & {
        -ms-overflow-style: auto;
        scrollbar-width: auto;
    }
}

.slider--mobile {
    @media screen and (max-width: 749px) {
        position: relative;
        flex-wrap: inherit;
        //overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--space-med);
        -webkit-overflow-scrolling: touch;
        margin-bottom: var(--space);

        /* Fix to show some space at the end of our sliders in all browsers */
        &::after {
            content: '';
            width: 0;
            padding-left: var(--space-med);
        }
    }
}

.slider__slide {
    .slider--mobile & {
        @media screen and (max-width: 749px) {
            margin-bottom: 0;
            padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
            padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
        }
    }

    .slider--tablet-up & {
        @media screen and (min-width: 750px) {
            margin-bottom: 0;
        }
    }


    .slider--tablet & {
        @media screen and (max-width: 989px) {
            margin-bottom: 0;
            padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
            padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
        }
    }

    .slider--everywhere & {
        margin-bottom: 0;
        scroll-snap-align: center;
    }
}

.slider.slider--mobile.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    @media screen and (max-width: 749px) {
        padding-bottom: var(--focus-outline-padding);
    }
}

.slider.slider--mobile.contains-content-container .slider__slide {
    @media screen and (max-width: 749px) {
        --focus-outline-padding: 0rem;
    }
}

.slider--tablet-up {
    @media screen and (min-width: 750px) {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--space);
        -webkit-overflow-scrolling: touch;
    }
}

.slider--tablet {
    @media screen and (max-width: 989px) {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--space-med);
        -webkit-overflow-scrolling: touch;
        margin-bottom: var(--space);
    }

    &::after {
        @media screen and (max-width: 989px) {
            content: '';
            width: 0;
            padding-left: var(--space-med);
            margin-left: calc(-1 * var(--grid-horizontal-spacing));
        }
    }
}


@media screen and (max-width: 989px) {
  .slider.slider--tablet.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .slider.slider--tablet.contains-content-container .slider__slide {
    --focus-outline-padding: 0rem;
  }
}

.slider--everywhere {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: var(--space);
}


@media screen and (min-width: 990px) {
  .slider-component-desktop.page-width {
    max-width: none;
  }

  .slider--desktop {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    scroll-padding-left: var(--desktop-margin-left-first-item);
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--desktop:after {
    content: '';
    width: 0;
    padding-left: 5rem;
    margin-left: calc(-1 * var(--grid-horizontal-spacing));
  }

  .slider.slider--desktop .slider__slide {
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  }

  .slider--desktop .slider__slide:first-child {
    margin-left: var(--desktop-margin-left-first-item);
    scroll-margin-left: var(--desktop-margin-left-first-item);
  }

  .slider-component-full-width .slider--desktop {
    scroll-padding-left: var(--space-med);
  }

  .slider-component-full-width .slider--desktop .slider__slide:first-child {
    margin-left: var(--space-med);
    scroll-margin-left: var(--space-med);
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider-component-full-width .slider--desktop:after {
    padding-left: var(--space-med);
  }

  .slider--desktop.grid--5-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 5 - var(--grid-horizontal-spacing) * 2);
  }

  .slider--desktop.grid--4-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 4 - var(--grid-horizontal-spacing) * 3);
  }

  .slider--desktop.grid--3-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 3 - var(--grid-horizontal-spacing) * 4);
  }

  .slider--desktop.grid--2-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 2 - var(--grid-horizontal-spacing) * 5);
  }

  .slider--desktop.grid--1-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) - var(--grid-horizontal-spacing) * 9);
  }

  .slider.slider--desktop.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .slider.slider--desktop.contains-content-container .slider__slide {
    --focus-outline-padding: 0rem;
  }
}

.slider-counter {
    display: flex;
        align-items: center;
        justify-content: center;
        min-width: 4.4rem;
    font-family: var(--font-heading-family);
    font-size: var(--font-size-smaller);
}

.slider-counter--dots {
    @media screen and (min-width: 750px) {
        margin: 0 var(--space);
    }
}

.slider-counter__link {
    padding: 0.7rem;

    @media screen and (min-width: 750px) {
        padding: var(--space);
    }
}

.slider-counter--divider {
    padding-inline: var(--space-xs);
}

.dot {
    border-radius: 50%;
    border: 0.1rem solid rgba(var(--color-foreground), 0.5);
    display: block;
        height: 1rem;
        width: 1rem;
    padding: 0;
    transition: transform var(--duration-default) ease-in-out;

    .slider-counter__link--active & {
        background-color: rgb(var(--color-foreground));
        pointer-events: none;

        @media screen and (forced-colors: active) {
            background-color: CanvasText;
        }
    }

    .slider-counter__link--dots:hover & {
        border-color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }
}

.slider-counter__link--numbers {
    color: rgba(var(--color-foreground), 0.5);
    text-decoration: none;
    transition: transform var(--duration-default) ease-in-out;

    &.slider-counter__link--active {
        color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }

    &:hover {
        color: rgb(var(--color-foreground));
        transform: scale(1.1);
    }
}

// .slider-counter__link--active.slider-counter__link--numbers,
// .slider-counter__link--dots:not(.slider-counter__link--active):hover .dot,
// .slider-counter__link--numbers:hover {
//   transform: scale(1.1);
// }


.slider-buttons {
    [class^='texture-'] &, div[class*=' texture-'] & {
        --slider-pagination-bg-opacity: 0;
    }

    background-color: rgba(var(--color-background), var(--slider-pagination-bg-opacity, 1));
    color: rgb(var(--color-foreground));
    display: flex;
        align-items: center;
        justify-content: center;
    margin: var(--space) auto;
    width: max-content;

    // WHERE Is this for - overlaid?
    // .background-transparent & {
    //     margin-bottom: calc(-1 * var(--space-sm));
    // }
}

@media screen and (min-width: 990px) {
    .slider:not(.slider--everywhere):not(.slider--desktop) + .slider-buttons {
        display: none;
    }
}

@media screen and (max-width: 989px) {
    .slider--desktop:not(.slider--tablet) + .slider-buttons {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .slider--mobile + .slider-buttons {
        display: none;
    }
}

.slider-button {
    color: currentColor;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    opacity: var(--opacity-light);

    &:hover {
        opacity: 1;
    }

    &:disabled {
        @include disabled;
    }

    .icon {
        // icons are rotated, height = width and vice versa
        height: var(--icon-size);
        width: var(--icon-size-xxs);
    }
}

.slider-button--next {
    &:hover {
        .icon {
            transform: rotate(-90deg) scale(1.1);
        }
    }

    .icon {
        transform: rotate(-90deg);
    }
}

.slider-button--prev {
    &:hover {
        .icon {
            transform: rotate(90deg) scale(1.1);
        }
    }

    .icon {
        transform: rotate(90deg);
    }
}