.newsletter-form {
    margin: var(--space-lg) auto var(--space);
    max-width: var(--content-width--narrow, 36rem);
    padding: 0 var(--content-padding-inline);
}

.newsletter-form__message {
    margin-top: 0;
    padding-top: 0;
}
