.article-card {
    @media screen and (min-width: 750px) {
        margin-inline: var(--space);

        .blog-articles & {
            margin-inline: 0;
        }
    }

    &.card--standard {
        &.card--text {
            padding-top: var(--space);

            .card__content {
                margin-top: 0;
            }
        }
    }
}

.article-card__excerpt {
    margin-bottom: 0;
}

