.collection-hero {
    margin-bottom: calc(var(--spacing-sections) * -1);

    .title-wrapper {
        position: relative;
        z-index: -1;
    }
}

.collection-hero__inner {
    display: flex;
        flex-direction: column;

    @media screen and (min-width: 750px) {
        align-items: center;
        flex-direction: row;
    }
}

.collection-hero__text-wrapper {
    flex-basis: 100%;

    @media screen and (min-width: 750px) {
        margin: var(--space);
    }

    .collection-hero--with-image & {
        @media screen and (min-width: 750px) {
            flex-basis: 50%;
        }
    }
}

.collection-hero__image-container {
    border: var(--media-border-width) solid rgba(var(--color-media-border), var(--media-border-opacity));
    border-radius: var(--media-radius);
    box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
    height: 20rem;

    @media screen and (min-width: 750px) {
        align-self: stretch;
        flex: 1 0 50%;
        height: auto;
        min-height: 20rem;
    }

    @media screen and (min-width: 990px) {
        min-height: 22rem;
    }
}

