.price {
    @media screen and (min-width: 750px) {
        margin-bottom: 0;
    }

    &.price--unavailable {
        visibility: hidden;
    }

    &:not(.price--show-badge) {
        .price-item--last {
            &:last-of-type {
                margin: 0;
            }
        }
    }
    .price__badge-sale {
        display: none;
    }
    .price__badge-sold-out {
        display: none;
    }
}

.price-item {
    display: inline-block;
    margin: 0 var(--space) 0 0;
}

.price--center {
    display: initial;
    justify-content: center;
}

.price--end {
    text-align: right;
}

.price__regular {
    .price-item--regular {
        margin-right: 0;
    }
    display: block;
}

.price--large {
    font-size: 1.6rem;
    line-height: calc(1 + 0.5 / var(--font-body-scale));

    @media screen and (min-width: 750px) {
        font-size: 1.8rem;
    }
}

.price--sold-out {
    .price__availability {
        display: block;
    }
    .price__badge-sold-out {
        display: inline-block;
    }
}
.price__sale {
    display: none;
}

.price--on-sale {
    .price__regular {
        display: none;
    }
    .price__availability {
        display: none;
    }
    .price__badge-sale {
        display: inline-block;
    }
    .price__sale {
        display: initial;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .price-item--regular {
        text-decoration: line-through;
        color: rgba(var(--color-foreground), 0.75);
        font-size: 1.3rem;
    }
}
.volume-pricing--sale-badge {
    .price__badge-sale {
        display: inline-block;
        margin-left: 0.5rem;
    }
}

.unit-price {
    display: block;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    margin-top: 0.2rem;
    text-transform: uppercase;
    color: rgba(var(--color-foreground), 0.75);
}
