.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
    position: absolute;
    min-width: 100%;
    // width: var(--list-menu-disclosure-width);
    border: 1px solid rgba(var(--color-foreground), 0.2);

    &.header__submenu {
        min-width: 0;
    }
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item {
    display: flex;
        align-items: center;
        line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.list-menu__item--link {
    padding-block: var(--space-sm);
}

.list-menu__item--active {
    opacity: var(--opacity-light);
//   text-decoration: underline;
//   text-underline-offset: 0.3rem;
}

// .list-menu__item--active:hover {
// text-decoration-thickness: 0.2rem;
// }

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
