@import "helpers/common";

.price {
    margin-bottom: 0;
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: var(--space);

    &.price--unavailable {
        visibility: hidden;
    }

    &:not(.price--show-badge) {
        .price-item--last {
            &:last-of-type {
                margin: 0;
            }
        }
    }

    s {

    }
}

.price__badge-sale {
    display: none;
}
.price__badge-sold-out {
    display: none;
}

.price-item {
    display: inline-block;
    font-size: var(--font-size-h6);
}

.price--center {
    display: initial;
    justify-content: center;
}

.price--end {
    text-align: right;
}

.price__regular {
    .price-item--regular {
        margin-right: 0;
    }
    display: block;
}

.price--large {
    font-size: var(--font-size-h4);
}

.price--sold-out {
    .price__availability {
        display: block;
    }
    .price__badge-sold-out {
        display: inline-block;
    }
}
.price__sale {
    display: none;
}

.price--on-sale {
    .price__sale {
        display: initial;
            flex-direction: row;
            flex-wrap: wrap;
    }

    .price__regular {
        display: none;
    }
    .price__availability {
        display: none;
    }
    .price__badge-sale {
        display: inline-block;
    }

    .price-item--regular {
        color: rgba(var(--color-foreground), var(--opacity-light));
        font-size: var(--font-size-base);
        text-decoration: line-through;
    }
}
.volume-pricing--sale-badge {
    .price__badge-sale {
        display: inline-block;
    }
}

.product__tax.product__tax  {
    color: rgba(var(--color-foreground), var(--opacity-light));
    margin: var(--space-sm) 0 var(--space-med);
    padding: 0;
    opacity: 1;

    a {
        @include underline-on-hover;
        color: rgb(var(--color-link));
    }
}

.unit-price {
    display: block;
    // font-size: 1.1rem;
    font-size: var(--font-size-caption);
    // letter-spacing: 0.04rem;
    // line-height: calc(1 + 0.2 / var(--font-body-scale));
    // margin-top: 0.2rem;
    text-transform: uppercase;
    color: rgba(var(--color-foreground), var(--opacity-light));
}
