@import "components/buttons/button-bar";

.section__container--rich-text {
    .section__content {
        display: flex;
    }

    .button-bar {
        margin-block: var(--space-med);
    }

    .rich-text__caption {
        font-weight: normal;
    }

    .rich-text__heading,
    div {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
