@import "helpers/common";
// todo: remove unused styles
.multicolumn {
    // &.texture-lined {
    //     margin-left: var(--texture-lined-border-size);
    //     padding-left: 0;
    // }

    slider-component {
        padding-inline: 0;
    }

    .multicolumn-card__link {
        @include text-heading;
        display: inline-flex;
        align-items: center;
        gap: var(--space-sm);
        margin-bottom: var(--space);
    }
}

.multicolumn-card {
    position: relative;

    @media screen and (min-width: 750px) {
        margin-bottom: var(--space-med);
    }
}


.multicolumn-list {
    margin: 0;
    padding: 0;
    width: 100%;

    @media screen and (min-width: 750px) {
        --grid-horizontal-spacing: calc(var(--grid-desktop-horizontal-spacing) * 2);
    }
}


.multicolumn-list__item {
    &:only-child {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--page-width-narrow);
    }

    &.center {
        .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width) {
            margin-left: auto;
            margin-right: auto;
        }

        .media--adapt {
            width: auto;

            img {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .media--adapt {
        .multicolumn-card__image {
            width: auto;
        }
    }
}

.multicolumn-list__item--empty {
    display: none;

    @media screen and (min-width: 990px) {
        display: list-item;
    }
}

.multicolumn-card {
    display: flex;
        flex-direction: column;
        row-gap: var(--space-lg);
    height: 100%;
}

.multicolumn-card-spacing {
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 750px) {
  .multicolumn-list.slider,
  .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
    // margin-top: var(--space-xl);
  }

}

.multicolumn-card__info {
    padding: 0;
    --space: calc(var(--grid-vertical-spacing) / 2);


    @media screen and (min-width: 750px) {
        padding-left: var(--space-med);
        padding-right: var(--space-med);
    }
}

.multicolumn-card__image-wrapper {
    .media {
        overflow: visible;
    }

    img {
        border-radius: var(--media-radius);
        border: var(--media-border-width) solid rgba(var(--color-media-border),var(--media-border-opacity));
        box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
    }

    .media--circle {
        img {
            border-radius: 50%;
        }
    }
}



//  .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
//   padding-left: var(--space-med);
// }

//  .multicolumn-list:not(.slider) .center .multicolumn-card__info {
//   padding-left: var(--space-med);
//   padding-right: var(--space-med);
// }

@media screen and (max-width: 749px) {
   .slider .multicolumn-card__info {
    padding-bottom: var(--space);
  }

  .multicolumn .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

// @media screen and (min-width: 750px) {
//    .multicolumn-list .multicolumn-card__info,
//    .multicolumn-list:not(.slider) .center .multicolumn-card__info {
//     padding-left: var(--space-med);
//     padding-right: var(--space-med);
//   }
// }


.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  //overflow: clip;
}

.multicolumn .multicolumn-card {
  border-radius: 0;
}
.multicolumn-card__image-wrapper--third-width {
    width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
    width: 50%;
}



