@import "./pages/product-detail/layout",
        "./pages/product-detail/temp-import",
        "./pages/product-detail/product_info",
        "./pages/product-detail/gallery",
        "./pages/product-detail/modal"
        ;


@import "./components/forms/quantity";