@import "helpers/common";

:root {
    --footer-grid-cols: 4;
}

.footer {
    font-size: var(--font-size-smaller);

    .list-payment {
        margin: 0 0 var(--space-med);
        padding: 0;
    }
}

// blocks with content added via the theme editor - menu, brand information, text, image, or app blocks
.footer__blocks-wrapper {
    display: grid;
    gap: 0 var(--space-lg);
    margin-bottom: var(--space-lg);

    @media screen and (min-width: 750px) {
        grid-template-columns: repeat(var(--footer-grid-cols), 1fr);
        justify-content: start;
    }
}

.footer-block {
    margin-bottom: var(--space);

    .list-social {
        justify-content: center;
        margin-bottom: var(--space-med);
    }
}

.footer-block--link-list {
    ul {
        margin-bottom: var(--space);
    }
}

.footer-block--app {
    // @media screen and (min-width: 750px) {
    //     grid-area: span 1 / span 2;
    // }

    .shopify-app-block {
        margin: 0;
    }
}

.footer-block__brand-info {
    display: flex;
        flex-direction: column;
}

.footer-block-image {
    display: flex;
        flex-direction: column;
}

.footer-block__image-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: var(--space-med);
    position: relative;
    overflow: hidden !important;

    .align-image-left & {
        @media screen and (min-width: 750px) {
            justify-content: flex-start;
            align-self: flex-start;
        }
    }

    .align-image-center & {
        @media screen and (min-width: 750px) {
            justify-content: center;
            align-self: center;
        }
    }

    .align-image-right & {
        @media screen and (min-width: 750px) {
            justify-content: flex-end;
            align-self: flex-end;
        }
    }

    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
}

.footer__row {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    margin-top: var(--space-med);

    @media screen and (min-width: 750px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: end;
    }
}

.footer__row--small-gap {
    gap: var(--space-sm);
}

.footer__row-item {
    margin-bottom: var(--space-sm);
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media screen and (min-width: 750px) {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }

    &:only-child {
        @media screen and (min-width: 750px) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}

.footer__row-item--newsletter {
    margin-bottom: 0;

    @media screen and (min-width: 750px) {
        width: var(--content-width--narrow);
    }

    .newsletter-form {
        padding: 0;
    }
}

.footer__row-item--follow-on-shop {
    margin-bottom: var(--space-med);
}

.footer__row-item--localization {
    &:only-child {
        h2 {
            @media screen and (min-width: 750px) {
                text-align: left;
            }
        }
    }

    .localization-form {
        padding: 0;

        .localization-form__select {
            margin-top: 0;
        }
    }

    .localization-selector.link {
        &:not(:only-child) {
            @media screen and (min-width: 750px) {
                padding-left: 0;
            }
        }
    }

    h2 {
        margin-bottom: 0;
    }
}

.footer__row-item--policies {
    ul {
        display: flex;
            gap: var(--space);
        font-size: var(--font-size-small);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
            flex-direction: column;
            justify-content: center;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        line-height: 1.1;
        padding-bottom: var(--space-xs);
    }
}

.footer__row-item--payment {
    padding-top: 0;
}

.footer__row-item--copyright {
    display: flex;
    gap: var(--space);
}

.footer__copyright-block {
    display: inline-flex;
}
