.blog-placeholder-svg {
    height: 100%;
}

@media screen and (min-width: 990px) {
    .grid--1-col-desktop .article-card .card__content {
        --card-justification: center;
        text-align: center;

    }
}

.blog__posts {
    &.articles-wrapper {
        margin-bottom: var(--space);

        @media screen and (min-width: 750px) {
            --grid-horizontal-spacing: calc( var(--grid-desktop-horizontal-spacing) * 2 );
        }
    }

    .card-wrapper {
        width: 100%;
    }

    .article {
        scroll-snap-align: start;
    }

    .article-card {
        margin-inline: 0;
    }

    .card--media {
        .card__inner {
            height: auto;
        }
    }
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-horizontal-spacing));
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}



.blog__button {
    margin-top: 3rem;

    @media screen and (min-width: 750px) {
        margin-top: 5rem;
    }
}



/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-horizontal-spacing);
    }
  }
}
