@import "helpers/common";

:root {
    --footer-grid-cols: 4;
}

.footer {
    font-size: var(--font-size-smaller);

    .list-payment {
        margin: 0 0 var(--space-med);
        padding: 0;
    }

    .list-menu__item {
        display: inline-flex;
        gap: var(--space-sm);

        &:hover,
        &:focus {
            .icon {
                opacity: 1;
            }
        }

        .icon {
            opacity: 0;
            width: var(--icon-size-sm);
        }
    }

    .list-menu__item--link {
        padding-top: 0;
    }
}

// blocks with content added via the theme editor - menu, brand information, text, image, or app blocks
.footer__blocks-wrapper {
    display: grid;
    gap: 0 var(--space-lg);
    margin-bottom: var(--space-lg);

    @media screen and (min-width: 750px) {
        grid-template-columns: repeat(var(--footer-grid-cols), 1fr);
        justify-content: start;
    }
}

.footer-block {
    margin-bottom: var(--space);

    .list-social {
        justify-content: center;
        margin-bottom: var(--space-med);
    }
}

.footer-block--link-list {
    ul {
        margin-bottom: var(--space);
    }
}

.footer-block--app {
    // @media screen and (min-width: 750px) {
    //     grid-area: span 1 / span 2;
    // }

    .shopify-app-block {
        margin: 0;
    }
}

.footer-block__brand-info {
    display: flex;
        flex-direction: column;
}

.footer-block-image {
    display: flex;
        flex-direction: column;
}

.footer-block__image-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: var(--space-med);
    position: relative;
    overflow: clip !important;

    .align-image-left & {
        @media screen and (min-width: 750px) {
            justify-content: flex-start;
            align-self: flex-start;
        }
    }

    .align-image-center & {
        @media screen and (min-width: 750px) {
            justify-content: center;
            align-self: center;
        }
    }

    .align-image-right & {
        @media screen and (min-width: 750px) {
            justify-content: flex-end;
            align-self: flex-end;
        }
    }

    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
}

.footer__row {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    margin-top: var(--space-med);

    @media screen and (min-width: 750px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: end;
    }
}

.footer__row--small-gap {
    gap: var(--space-sm);
}

.footer__row-item {
    line-height: 1.2;
    margin-bottom: var(--space-sm);
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media screen and (min-width: 750px) {
        margin-left: 0;
        // margin-right: 0;
        text-align: left;
    }

    &:only-child {
        @media screen and (min-width: 750px) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }


    .disclosure .localization-form__select {
        justify-content: center;

        @media screen and (min-width: 750px) {
            justify-content: start;
        }
    }

    .disclosure__list {
        width: 100%;
    }
}

.footer__row-item--newsletter {
    margin: 0;

    @media screen and (min-width: 750px) {
        width: var(--content-width--narrow);
    }

    .newsletter-form {
        padding: 0;
    }
}

.footer__row-item--follow-on-shop {
    margin-bottom: var(--space-med);
}

.footer__row-item--localization {
    &:only-child {
        h2 {
            @media screen and (min-width: 750px) {
                text-align: left;
            }
        }
    }

    .localization-form {
        padding: 0;

        .localization-form__select {
            margin-top: 0;
        }
    }

    .localization-form__select.disclosure__button {
        @media screen and (min-width: 750px) {
            padding-left: 0;
        }

    }

    .disclosure__button,
    .disclosure__list {
        font-size: var(--font-size-small);
    }

    .localization-selector.link {
        &:not(:only-child) {
            @media screen and (min-width: 750px) {
                padding-left: 0;
            }
        }
    }

    .disclosure__link--country {
        grid-template-columns: 1fr 2fr;
    }

    h2 {
        margin-bottom: 0;
    }
}

.footer__row-item--policies {
    align-self: start;

    ul {
        display: flex;
            gap: var(--space);
        font-size: var(--font-size-small);
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 750px) {
            justify-content: end;
        }
    }

    li {
        display: flex;
            flex-direction: column;
            justify-content: center;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        line-height: 1.1;
        padding-bottom: var(--space-xs);
    }
}

.footer__row-item--payment {
    padding-top: 0;
}

.footer__row-item--copyright {
    display: flex;
        flex-direction: column;
        align-items: center;
    gap: var(--space-sm) var(--space);

    @media screen and (min-width: 750px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-self: start;
    }

    &:only-child {
        @media screen and (min-width: 750px) {
            margin-inline: auto;
        }
    }
}
.footer__row-item--copyright,
.footer__row-item--policies {
    font-size: var(--font-size-caption);
}

.footer__copyright-block {
    display: inline-flex;

    &.powered-by {
        a {
            @include underline-on-hover;
        }
    }
}
