.article-template__hero-container {
    height: var(--hero-top-space);
    max-height: 40vh;
    width: 100%;
    position: sticky;
        top: 0;
    overflow: visible;
}

// @keyframes moveUp {
//     0% {
//         transform: translateX(0) translateY(0) rotate(0deg);
//     }

//     10% {
//         opacity: 0;
//     }

//     50% {
//         opacity: 1;
//         transform: translateX(-5vw) translateY(-5) rotate(0deg);
//     }

//     100% {
//         transform: translateX(0) translateY(0) rotate(0deg);
//     }
// }


// @keyframes moveDown {
//     0% {
//         transform: translateX(0) translateY(0) rotate(0deg);
//     }

//     10% {
//         opacity: 0;
//     }

//     50% {
//         opacity: 1;
//         transform: translateX(-5vw) translateY(-5) rotate(0deg);
//     }

//     100% {
//         transform: translateX(0) translateY(0) rotate(0deg);
//     }
// }

.article-template__hero {
    height: 100vh;
    position: absolute;
        top: 0;
        right: 0;
        left: 0;
    margin: 0 auto;
    overflow: visible;

    img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        transition: all var(--duration-medium) var(--transition-type);
        transition-delay: 500ms;
    }
}

.article-template__hero--width-page {
    max-width: var(--page-width);
}

.article-template__main {
    display: grid;
        gap: var(--space) 0;

    h1,
    h2,
    h3,
    h4,
    h5 {
        padding-top: var(--space-sm);
    }
}

.article-template__comment-wrapper {
    background-image: var(--crease);
    margin-bottom: var(--space-med);
}

.article-template__hero-container {
    ~ .article-template__comment-wrapper {
        margin-top: var(--space-xl);
        margin-bottom: var(--space-xxl);
    }
}

// @media screen and (min-width: 750px) {
//   .article-template__comment-wrapper {
//     padding: 3.6rem 0;
//   }
// }

// .article-template__comment-wrapper h2 {
//   margin-top: 0;
// }

.article-template__comments {
    margin-bottom: var(--space-lg);
}

// @media screen and (min-width: 750px) {
//   .article-template__comments {
//     margin-bottom: 7rem;
//   }
// }

.article-template__comments-fields {
    margin-bottom: var(--space-xl);


}

.article-template__comment-fields {
    @media screen and (min-width: 750px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--space-xl);
    }
}


.article-template__comments-comment {
    padding: 0 0 var(--space-xl);

    p {
        //font-size: var(--font-size-smaller);
        line-height: 1.4;
        margin: 0;
        padding: 0 0 var(--space-sm);
    }
}

// .article-template__comments-comment p {
//   margin: 0 0 1rem;
// }

// .article-template__comment-fields > * {
//   margin-bottom: 3rem;
// }


.article-template__comments-footer {
    display: flex;
        justify-content: flex-end;
    font-size: var(--font-size-smaller);
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    letter-spacing: 0;
    line-height: 1.2;
}

.article-template__comment-warning {
    margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}

.comment-form {
    margin-bottom: var(--space-med);
}