.facets-wrapper {

}

.facets-container {
    --filter-color: rgba(var(--color-foreground), var(--opacity-light));
    --filter-color-active: rgb(var(--color-foreground));

    display: grid;
        grid-template-columns: auto minmax(0, max-content);
        // column-gap: var(--space-lg);
    margin-bottom: var(--space-med);

    @media screen and (min-width: 990px) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .product-count {
        margin: auto 0;
        text-align: right;

        @media screen and (min-width: 750px) {
            grid-column-start: 3;
            align-self: center;
        }
    }
}

.facets {
    display: block;
    grid-column-start: span 2;
}

.facets__form {
    display: grid;
    gap: 0 var(--space-xl);
    grid-template-columns: 1fr max-content max-content;


    .icon-caret {
        cursor: pointer;
        height: 0.6rem;
        margin: auto 0;
        position: static;
        transition: transform var(--duration-default) var(--transition-type);
    }




    // .product-count {
    //     align-self: center;
    //     position: relative;
    //     text-align: right;
    // }

    // .product-count__text {
    //     font-size: var(--font-size-smaller);
    //     line-height: calc(1 + 0.5 / var(--font-body-scale));
    //     margin: 0;


    // }

    .product-count .loading-overlay__spinner {
        display: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1.8rem;
    }

    .loading + .loading-overlay__spinner {
        display: block;
    }

    .loading-overlay__spinner {
        display: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1.8rem;
    }
}

.product-count__text {
    @include text-heading;
    margin: 0;
    padding: 0;

    &.loading {
        visibility: hidden;
    }
}

.facets__wrapper--horizontal { // groups availability / price etc
    align-items: center;
    align-self: flex-start;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--space-med);
}


.facets__heading {
    display: block;
    color: rgba(var(--color-foreground), 0.85);
    margin: 0;
    padding: 0;
}

.facet-filters {
    align-items: flex-start;
        display: flex;
        grid-column: 2;
        grid-row: 1;
}

.facet-filters__label {
    display: block;
    color: rgba(var(--color-foreground), 0.85);
    margin: 0;
    padding: 0;
//   font-size: var(--font-size-smaller);
}

.facet-filters__field {
    display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
    // gap: var(--space);

    .select { // select wrapper
        width: auto;

        &::before,
        &::after {
            content: none;
        }
    }

    .select__select { // select element
        border-radius: 0;
        min-width: auto;
        min-height: auto;
        padding: var(--space);
        transition: none;
    }
}

.facet-filters__sort { //
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    filter: none;

    font-size: var(--font-size-smaller);
    height: auto;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    // margin: 0;
    // padding-left: 0;
    // padding-right: 1.75rem;
    transition: none;

    &:hover {
        box-shadow: none;
        filter: none;
        transition: none;
    }
}

.facets__disclosure {
    fieldset {
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.facets__summary,
.facet-filters .select {
    color: var(--filter-color);
    cursor: pointer;
    display: flex;
        gap: 0 var(--space);
    font-size: var(--font-size-smaller);

    &.facets__summary {
        padding: var(--space);
    }

    &:hover,
    &:focus,
    .facets__disclosure[open] & {
        color: var(--filter-color-active);
    }

    &:hover {
        color: var(--filter-color-active);

        .icon-caret {
            transform: rotate(-90deg);
        }
    }

    &:focus, &:focus-within,
    .facets__disclosure[open] & {
        color: var(--filter-color-active);

        .icon-caret {
            transform: rotate(-180deg) !important;
        }
    }

    span {
        transition: all var(--duration-short) var(--transition-type);
    }
}

.facets__summary-label,
.facet-filters__sort {
    appearance: none;
    box-shadow: none;
    color: var(--filter-color);
    cursor: pointer;
    font-size: var(--font-size-base);
    letter-spacing: 0.04rem;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    margin: 0;
    padding: 0;

    &::before {
        .disclosure-has-popup[open] & {
            z-index: 2;
        }
    }

    &:focus-visible,
    &.focused,
    &:hover {
        color: var(--filter-color-active);
    }
}


.facets__reset {
    // @include underline-on-hover;
    display: flex;
        align-items: center;
        gap: var(--space-sm);
    margin-left: auto;
}

.facets__display {
    border-width: var(--popup-border-width);
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-radius: var(--popup-corner-radius);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
    background-color: rgb(var(--color-background));
    position: absolute;
    top: calc(100% + 0.5rem);
    left: -1.2rem;
    width: 35rem;
    max-height: 55rem;
    overflow-y: auto;

    .facets__disclosure[open] & {
        animation: animateMenuOpen var(--duration-default) var(--transition-type);
    }
}

.facets__header {
    background-color: rgb(var(--color-background));
    border-bottom: var(--border-thin);
    border-color: var(--border-color-light);
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-smaller);
    padding: var(--content-padding);
    position: sticky;
        top: 0;
    z-index: 1;
}

.facets__list {
    padding-top: var(--space);
}

.facets__item {
    display: flex;
        align-items: center;
    padding-inline: var(--content-padding-inline);
    padding-bottom: var(--space);;

    label,
    input[type='checkbox'] {
        cursor: pointer;
    }
}

.facet-checkbox { // checkbox label / wrapper
    // cursor: pointer;
    // display: flex;
    //     flex-grow: 1;
        font-size: var(--font-size-smaller);
    // gap: var(--space);
    // position: relative;
    // word-break: break-word;

    // &:hover,
    // &:focus {
    //     .icon {
    //         path {
    //             stroke-dasharray: var(--path-length);
    //             animation: draw var(--duration-medium) backwards;

    //             &:nth-child(2) {
    //                 animation-delay: var(--duration-short);
    //             }
    //         }

    //     }
    // }

    // input[type='checkbox'] {
    //     // appearance: none;
    //     // position: absolute;
    //     // inset: 0;
    //     // z-index: -1;

    //     // &:checked {
    //     //     ~ .icon-checkmark {
    //     //         visibility: visible;
    //     //         transform: scale(0.9);
    //     //     }
    //     // }

    //     .no-js & {
    //         z-index: 0;
    //     }
    // }

    // svg {
    //     background-color: rgb(var(--color-background));
    //     flex-shrink: 0;
    //     margin: auto 0;
    // }

    // .icon {
    //     --path-length: 30;
    //     stroke-width: 1.5px;
    // }

    // .icon-checkmark {
    //     position: absolute;
    //         inset: 1px;
    //     transform: scale(0);
    //     transition: transform var(--duration-default) var(--transition-type);
    //     visibility: hidden;
    //     z-index: var(--zi-base);
    // }

    // span {
    //     display: inline-block;
    //     line-height: 1.2;
    //     margin: auto 0;
    // }
}

// .facet-checkbox--disabled {
//     @include disabled;
// }

.facets__price {
    display: flex;
    align-items: center;
    padding: 2rem;

    .field {
        + .field-currency {
            margin-left: 2rem;
        }


    }

    .field-currency {
    align-self: center;
    margin-right: 0.6rem;
    }

    .field__label {
    left: 1.5rem;
    }
}

.facets__button {
    margin: 0 0 0 var(--space-sm);
    min-height: 0;
    // box-shadow: none;
    // padding-top: 1.4rem;
    // padding-bottom: 1.4rem;
}

.facets__button-no-js {
    transform: translateY(-0.6rem);
}

.active-facets {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2;
    gap: var(--space-sm);
}

facet-remove {
    &:only-child {
        display: none;
    }

    &::before {
        border-radius: var(--button-border-radius);
        transform: rotate(-0.5deg);
    }
}

.active-facets__button-remove {
    @include sharp-text;
    display: flex;
        align-items: center;
    margin-left: var(--space-med);
    // @include underlined-link;
    // font-size: var(--font-size-smaller);
}


.active-facets__button-wrapper {
    display: flex;
        align-items: center;
        justify-content: center;
    margin-left: auto;

    // * {
    //     font-size: 1rem;
    // }
}


.active-facets__button {
    // @include sharp-text;
    // @include underlined-link;
    display: flex;
        align-items: center;
        justify-content: space-between;
    margin: 0;
    padding: var(--space-sm) var(--space);

    @media screen and (min-width: 990px) {
        font-size: var(--font-size-smaller);
    }

    &.disabled {
        @include disabled;
    }

    svg {
        pointer-events: none;
    }

    &.highlight {
        &::before {
            border-radius: var(--button-border-radius);
            transform: rotate(-0.5deg);
        }
    }
}

.active-facets__button-inner {
    font-size: inherit;

}




// @media screen and (min-width: 990px) {
//     .active-facets__button-wrapper *, span.active-facets__button-inner {
//     font-size: var(--font-size-smaller);
//     }
// }


.no-js a.active-facets__button:focus {
    outline: none;
    box-shadow: none;
}


.no-js a.active-facets__button:focus .active-facets__button-inner {
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2), 0 0 0 0.2rem rgb(var(--color-background)), 0 0 0 0.4rem rgb(var(--color-foreground));
    outline: none;
}


/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {
    a.active-facets__button:focus-visible {
        outline: transparent solid 1px;
    }
}
