@media screen and (min-width: 750px) {
    .template-search--vertical {
        --crease: linear-gradient(to bottom, rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), 0.05) 100%);

        .template-search__search-container {
            position: relative;
            z-index: 1;
        }

        .facets-container {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .facets__summary {
            margin: 0;
            padding: var(--space-med) 0;
        }

        .active-facets {
            margin: 0;
            padding-block: var(--space-med);
            position: relative;

            &::before {
                background-image: var( --crease);
                content: '';
                position: absolute;
                top: 0;
                left: calc(var(--content-padding-inline) * -1);
                right: calc(var(--content-padding-inline) * -1);
                bottom: 0;
                pointer-events: none;
                z-index: -1;
            }
        }

        .facets__item {
            padding-inline: 0;
        }

        .facets__price {
            padding: 0;

            .field {
                font-size: var(--font-size-smaller);

                ~.field {
                    margin-left: var(--space-lg);
                }
            }
        }

        .product-grid-container {
            width: 100%;
        }
    }

    .facets-vertical-sort {
        padding-inline: var(--content-padding-inline);
    }

    .facets__heading--vertical {
        font-size: var(--font-size-h6);
    }

    .facets-vertical {
        display: flex;
            align-items: flex-start;
        gap: 0 var(--space-xl);
    }

    .product-grid-container {
        .template-search--vertical &,
        .facets-vertical & {
            width: 100%;
        }

    }

    // .active-facets-vertical-filter:only-child {
    //     facet-remove {
    //         display: none;
    //     }
    // }

    .facets-wrapper--vertical {
        box-shadow: 0 -1px 6px 0 rgba(var(--color-shadow), 0.1);
        padding-bottom: 0;
        transform: translate(5px, -5px) rotate(-0.5deg);


        // background-blend-mode: multiply;
        // background-color: rgb(var(--color-background));
        // background-image:
        //     url('texture-paper-white.jpg'),
        //     linear-gradient(to bottom,  rgba(var(--color-shadow), 0.05) 0, rgba(var(--color-shadow), 0) 4rem),
        //     var(--gradient-background);
        // background-position: top center, bottom center, center;
        // background-repeat: repeat;
        // background-size: 100px auto, cover, cover;
        // position: relative;
        // &::before,
        // &::after {
        //     content: '';
        //     position: absolute;
        //     inset: 0;
        //     z-index: 0;
        // }

        // &::before {
        //     --shadow-alpha: 0.03;
        //     --mask:
        //         radial-gradient(4.14px at 50% 5.85px,#000 99%,#0000 101%) calc(50% - 6px) 0/12px 51% repeat-x,
        //         radial-gradient(4.14px at 50% -2.85px,#0000 99%,#000 101%) 50% 3px/12px calc(51% - 3px) repeat-x,
        //         radial-gradient(4.14px at 50% calc(100% - 5.85px),#000 99%,#0000 101%) calc(50% - 6px) 100%/12px 51% repeat-x,
        //         radial-gradient(4.14px at 50% calc(100% + 2.85px),#0000 99%,#000 101%) 50% calc(100% - 3px)/12px calc(51% - 3px) repeat-x;

        //     background-color: rgb(var(--color-background));
        //     background-image:
        //         linear-gradient(to bottom, rgba(var(--color-shadow),var(--shadow-alpha)) 5%, rgba(var(--color-shadow),0) 50%),
        //         // linear-gradient(to right,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(216,225,231,1) 75%,rgba(181,198,208,1) 76%,rgba(224,239,249,1) 100%)
        //         ;
        //     background-blend-mode: multiply;
        //     border-radius: 2px;
        //     mask: var(--mask);
        // }

        // &::after {
        //     background: radial-gradient(ellipse at center, rgba(var(--color-shadow), 0.1) 0%, rgba(var(--color-shadow), 0) 73%);
        //     background-size: contain;
        //     //box-shadow: 0 5px 18px rgba(var(--color-shadow),0.3), 12px 6px 2px 0px rgba(var(--color-shadow),0.5);
        //     top: auto;
        //     height: calc(var(--space) * 3);
        //     margin-top: var(--space);
        //     margin-bottom: calc(var(--space) * -1);
        //     z-index: -1;
        // }
    }

    .active-facets-vertical-filter {
        display: flex;
            align-items: center;
            justify-content: space-between;
        width: 100%;

        .active-facets__button-wrapper {
            align-items: flex-start;
        }
    }

    .facets__form--vertical {
        display: flex;
            justify-content: flex-end;
            gap: 0 var(--space-xl);
    }



    .facets__form-vertical {
        display: flex;
            flex-direction: column;
        gap: 0 var(--space-xl);
        width: 26rem;
    }

    .facets__disclosure-vertical {
        // availability / price
        // margin-right: 0;
        // padding-bottom: var(--space);
        position: relative;

        &::before {
            background-image: var( --crease);
            border-bottom: thin solid rgba(255,255,255,0.8);
            content: '';
            position: absolute;
            top: 0;
            left: calc(var(--content-padding-inline) * -1);
            right: calc(var(--content-padding-inline) * -1);
            bottom: 0;
            pointer-events: none;
            z-index: -1;
        }
    }

    .facets__header-vertical {
        font-size: var(--font-size-smaller);
    }

    .no-js .facets-vertical .facets-wrapper--no-filters {
        display: block;
    }
}

.facets-vertical {
    .facets__item {
        padding: 0;
    }



    .facets__summary {
        padding-inline: 0;
    }
}

.facets__wrapper--vertical {
    display: flex;
        flex-direction: column;
        gap: var(--space);
}

.product-count-vertical {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    position: relative;

    .loading-overlay__spinner {
        position: absolute;
        inset: 0;
    }
}