.shopify-section-group-header-group {
    position: relative;

    &::after {
        background: radial-gradient(ellipse at center, rgba(var(--color-shadow),0.3) 0%, rgba(var(--color-shadow),0) 100%);
        content: '';
        filter: blur(0.6rem);
        position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        height: 2rem;
        margin-bottom: -2rem;
        mix-blend-mode: color-burn;
        pointer-events: none;
        z-index: -1;
    }
}

.shopify-section-header-sticky {
    &,
    &.shopify-section-group-header-group {
        position: sticky;
            top: 0;
        z-index: var(--zi-header);
    }
}

.section-header ~ .shopify-section-group-header-group {
    &::after {
        content: none;
    }
}

/* Main Header Layout */
.header-wrapper {
    display: block;
    position: relative;
    z-index: var(--zi-header);

    &sticky-header {
        background:red !important;
    }

    // --fold-shadow-rgb: 60,60,60;
    // --fold-shadow-alpha-transparent: 0;
    // --fold-shadow-alpha-darker: 0.15;
    // --fold-shadow-alpha-lighter: 0.07;
    // background-color: rgb(var(--color-background));
    // background-image: linear-gradient(90deg, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 0%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-darker)) 50.5%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 51%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 100%), linear-gradient(180deg, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 50%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 100%);
    // background-blend-mode: multiply;
    // box-shadow: var(--product-card-shadow-horizontal-offset) var(--product-card-shadow-vertical-offset) var(--product-card-shadow-blur-radius) rgba(var(--color-shadow), var(--product-card-shadow-opacity));

    // &.header--middle-center  {
    //     background-image: linear-gradient(90deg, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 0%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-darker)) 33.3%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 34%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-darker)) 66.6%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 67%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 100%),
    //     linear-gradient(180deg, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 50%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 100%);
    // }
}

// middle left is default desktop layout
.header {
    display: grid;
    grid-template-areas: 'header-nav header-brand header-utility';
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    column-gap: 2rem;

    @include breakpoint(large) {
        grid-template-areas: 'header-brand header-nav header-utility';
        grid-template-columns: auto 1fr max-content;
    }

    .header--middle-center & {
        @include breakpoint(large) {
            grid-template-areas: 'header-nav header-brand header-utility';
            grid-template-columns: 1fr auto 1fr;
        }
    }

    .header--top-left & {
        @include breakpoint(large) {
            grid-template-areas:
            'header-brand header-utility'
            'header-nav header-nav';
            grid-template-columns: auto 1fr;
            row-gap: 1rem;
        }
    }

    *[tabindex='-1']:focus {
        outline: none;
    }
}


.header--has-app {
    grid-template-columns: auto 1fr auto;

    @include breakpoint(medium) {
        grid-template-columns: max-content 1fr max-content;
    }
}

.header__brand {
    grid-area: header-brand;
}

header-drawer {
    grid-area: header-nav;

    @include breakpoint(large) {
        display: none;
    }
}

.header__nav{
    grid-area: header-nav;
}

.header__utility {
    grid-area: header-utility;
}

.predictive-search {
    .no-js & {
        display: none;
    }
}

