.shopify-section-group-header-group {
    position: relative;

    &::after {
        background: radial-gradient(ellipse at center, rgba(var(--color-shadow),0.3) 0%, rgba(var(--color-shadow),0) 100%);
        content: '';
        filter: blur(0.6rem);
        position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        height: 2rem;
        margin-bottom: -2rem;
        mix-blend-mode: color-burn;
        pointer-events: none;
        z-index: -1;
    }
}

.shopify-section-header-sticky {
    &,
    &.shopify-section-group-header-group {
        position: sticky;
            top: 0;
        z-index: var(--zi-header);
    }
}

.section-header ~ .shopify-section-group-header-group {
    &::after {
        content: none;
    }
}

/* Main Header Layout */
.header-wrapper {
    display: block;
    position: relative;
    z-index: var(--zi-header);

    &sticky-header {
        background:red !important;
    }

    // --fold-shadow-rgb: 60,60,60;
    // --fold-shadow-alpha-transparent: 0;
    // --fold-shadow-alpha-darker: 0.15;
    // --fold-shadow-alpha-lighter: 0.07;
    // background-color: rgb(var(--color-background));
    // background-image: linear-gradient(90deg, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 0%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-darker)) 50.5%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 51%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 100%), linear-gradient(180deg, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 50%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 100%);
    // background-blend-mode: multiply;
    // box-shadow: var(--product-card-shadow-horizontal-offset) var(--product-card-shadow-vertical-offset) var(--product-card-shadow-blur-radius) rgba(var(--color-shadow), var(--product-card-shadow-opacity));

    // &.header--middle-center  {
    //     background-image: linear-gradient(90deg, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 0%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-darker)) 33.3%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 34%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-darker)) 66.6%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 67%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 100%),
    //     linear-gradient(180deg, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-transparent)) 50%, rgba(var(--fold-shadow-rgb),var(--fold-shadow-alpha-lighter)) 100%);
    // }
}

// middle left is default desktop layout
.header {
    display: grid;
    grid-template-areas: 'header-nav header-brand header-utility';
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    column-gap: 2rem;

    @include breakpoint(large) {
        grid-template-areas: 'header-brand header-nav header-utility';
        grid-template-columns: auto 1fr max-content;
    }

    .header--middle-center & {
        @include breakpoint(large) {
            grid-template-areas: 'header-nav header-brand header-utility';
            grid-template-columns: 1fr auto 1fr;
        }
    }

    .header--top-left & {
        @include breakpoint(large) {
            grid-template-areas:
            'header-brand header-utility'
            'header-nav header-nav';
            grid-template-columns: auto 1fr;
            row-gap: 1rem;
        }
    }

    *[tabindex='-1']:focus {
        outline: none;
    }
}


.header--has-app {
    grid-template-columns: auto 1fr auto;

    @include breakpoint(medium) {
        grid-template-columns: max-content 1fr max-content;
    }
}

.header__brand {
    grid-area: header-brand;
}

header-drawer {
    grid-area: header-nav;

    @include breakpoint(large) {
        display: none;
    }
}

.header__nav{
    grid-area: header-nav;
}

.header__utility {
    grid-area: header-utility;
}

.predictive-search {
    .no-js & {
        display: none;
    }
}




// // /* Header icons */
// // .header__icons {
// //   display: flex;
// //   grid-area: icons;
// //   justify-self: end;
// //   padding-right: 0.8rem;
// // }

// // .header__icons .shopify-app-block {
// //   max-width: 4.4rem;
// //   max-height: 4.4rem;
// //   overflow: hidden;
// // }

// // .header__icon:not(.header__icon--summary),
// // .header__icon span {
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// // }

// // .header__icon {
// //   color: rgb(var(--color-foreground));
// // }

// // .header__icon span {
// //   height: 100%;
// // }

// // .header__icon::after {
// //   content: none;
// // }

// // .header__icon:hover .icon,
// // .modal__close-button:hover .icon {
// //   transform: scale(1.07);
// // }

// // .header__icon .icon {
// //   height: 2rem;
// //   width: 2rem;
// //   fill: none;
// //   vertical-align: middle;
// // }

// // .header__icon,
// // .header__icon--cart .icon {
// //   height: 4.4rem;
// //   width: 4.4rem;
// //   padding: 0;
// // }

// // .header__icon--cart {
// //   position: relative;
// //   margin-right: -1.2rem;
// // }

// // .header__icon--menu[aria-expanded='true']::before {
// //   content: '';
// //   top: 100%;
// //   left: 0;
// //   height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
// //   width: 100%;
// //   display: block;
// //   position: absolute;
// //   background: rgba(var(--color-foreground), 0.5);
// // }

// // /* Search */
// // menu-drawer + .header__search {
// //   display: none;
// // }

// // .header > .header__search {
// //   grid-area: left-icons;
// //   justify-self: start;
// // }

// // .header--top-center.drawer-menu > .header__search {
// //   margin-left: 3.2rem;
// // }

// // .header--top-center header-drawer {
// //   grid-area: left-icons;
// // }

// // .header:not(.header--has-menu) * > .header__search {
// //   display: none;
// // }

// // .header__search {
// //   display: inline-flex;
// //   line-height: 0;
// // }

// // .header--top-center > .header__search {
// //   display: none;
// // }

// // .header--top-center * > .header__search {
// //   display: inline-flex;
// // }

// // @media screen and (min-width: 990px) {
// //   .header:not(.header--top-center) * > .header__search,
// //   .header--top-center > .header__search {
// //     display: inline-flex;
// //   }

// //   .header:not(.header--top-center) > .header__search,
// //   .header--top-center * > .header__search {
// //     display: none;
// //   }
// // }

// .no-js .predictive-search {
//   display: none;
// }

// details[open] > .search-modal {
//   opacity: 1;
//   animation: animateMenuOpen var(--duration-default) ease;
// }

// details[open] .modal-overlay {
//   display: block;
// }

// details[open] .modal-overlay::after {
//   position: absolute;
//   content: '';
//   background-color: rgb(var(--color-foreground), 0.5);
//   top: 100%;
//   left: 0;
//   right: 0;
//   height: 100vh;
// }

// .no-js details[open] > .header__icon--search {
//   top: 1rem;
//   right: 0.5rem;
// }

// .search-modal {
//   opacity: 0;
//   border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
//   min-height: calc(100% + var(--inputs-margin-offset) + (2 * var(--inputs-border-width)));
//   height: 100%;
// }

// .search-modal__content {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   padding: 0 5rem 0 1rem;
//   line-height: calc(1 + 0.8 / var(--font-body-scale));
//   position: relative;
// }

// .search-modal__content-bottom {
//   bottom: calc((var(--inputs-margin-offset) / 2));
// }

// .search-modal__content-top {
//   top: calc((var(--inputs-margin-offset) / 2));
// }

// .search-modal__form {
//   width: 100%;
// }

// .search-modal__close-button {
//   position: absolute;
//   right: 0.3rem;
// }

// @media screen and (min-width: 750px) {
//   .search-modal__close-button {
//     right: 1rem;
//   }

//   .search-modal__content {
//     padding: 0 6rem;
//   }
// }

// @media screen and (min-width: 990px) {
//   .search-modal__form {
//     max-width: 74.2rem;
//   }

//   .search-modal__close-button {
//     position: initial;
//     margin-left: 0.5rem;
//   }
// }

// /* Header menu drawer */
// .header__icon--menu .icon {
//   display: block;
//   position: absolute;
//   opacity: 1;
//   transform: scale(1);
//   transition: transform 150ms ease, opacity 150ms ease;
// }

details:not([open]) > .header__icon--menu .icon-cross,
details[open] > .header__icon--menu .icon-hamburger {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-cross {
    visibility: hidden;
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
    visibility: visible;
    opacity: 1;
    transform: scale(1.07);
}

// .js details > .header__submenu {
//   opacity: 0;
//   transform: translateY(-1.5rem);
// }

// details[open] > .header__submenu {
//   animation: animateMenuOpen var(--duration-default) ease;
//   animation-fill-mode: forwards;
//   z-index: 1;
// }

// @media (prefers-reduced-motion) {
//   details[open] > .header__submenu {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// /* Header menu */
// .header__inline-menu {
//   margin-left: -1.2rem;
//   grid-area: navigation;
//   display: none;
// }

// .header--top-center .header__inline-menu,
// .header--top-center .header__heading-link {
//   margin-left: 0;
// }

// @media screen and (min-width: 990px) {
//   .header__inline-menu {
//     display: block;
//   }

//   .header--top-center .header__inline-menu {
//     justify-self: center;
//   }

//   .header--top-center .header__inline-menu > .list-menu--inline {
//     justify-content: center;
//   }

//   .header--middle-left .header__inline-menu {
//     margin-left: 0;
//   }
// }

// .header__menu {
//   padding: 0 1rem;
// }

// .header__menu-item {
//   padding: 1.2rem;
//   text-decoration: none;
//   color: rgba(var(--color-foreground), 0.75);
// }

// .header__menu-item:hover {
//   color: rgb(var(--color-foreground));
// }

// .header__menu-item span {
//   transition: text-decoration var(--duration-short) ease;
// }

// .header__menu-item:hover span {
//   text-decoration: underline;
//   text-underline-offset: 0.3rem;
// }

// details[open] > .header__menu-item {
//   text-decoration: underline;
// }

// details[open]:hover > .header__menu-item {
//   text-decoration-thickness: 0.2rem;
// }

// details[open] > .header__menu-item .icon-caret {
//   transform: rotate(180deg);
// }

// .header__active-menu-item {
//   transition: text-decoration-thickness var(--duration-short) ease;
//   color: rgb(var(--color-foreground));
//   text-decoration: underline;
//   text-underline-offset: 0.3rem;
// }

// .header__menu-item:hover .header__active-menu-item {
//   text-decoration-thickness: 0.2rem;
// }

// .header__submenu {
//   transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;
// }

// .global-settings-popup,
// .header__submenu.global-settings-popup {
//   border-radius: var(--popup-corner-radius);
//   border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
//   border-style: solid;
//   border-width: var(--popup-border-width);
//   box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
//     rgba(var(--color-shadow), var(--popup-shadow-opacity));
//   z-index: -1;
// }

// .header__submenu.list-menu {
//   padding: 1rem 0;
// }

// .header__submenu .header__submenu {
//   background-color: rgba(var(--color-foreground), 0.03);
//   padding: 1rem 0;
//   margin: 1rem 0;
// }

// .header__submenu .header__menu-item:after {
//   right: 2rem;
// }

// .header__submenu .header__menu-item {
//   justify-content: space-between;
//   padding: 0.8rem 2rem;
// }

// .header__submenu .header__menu-item:hover {
//   text-decoration-line: underline;
// }

// .header__menu-item .icon-caret {
//   right: 0.8rem;
// }

// .header__submenu .icon-caret {
//   flex-shrink: 0;
//   margin-left: 1rem;
//   position: static;
// }

// header-menu > details,
// details-disclosure > details {
//   position: relative;
// }

// @keyframes animateMenuOpen {
//   0% {
//     opacity: 0;
//     transform: translateY(-1.5rem);
//   }

//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// .overflow-hidden-mobile,
// .overflow-hidden-tablet,
// .overflow-hidden-desktop {
//   overflow: hidden;
// }

// @media screen and (min-width: 750px) {
//   .overflow-hidden-mobile {
//     overflow: auto;
//   }
// }

// @media screen and (min-width: 990px) {
//   .overflow-hidden-tablet {
//     overflow: auto;
//   }
// }
