.shopify-section-group-header-group {
    position: relative;
    margin-bottom: auto;;

    &::after {
        background: radial-gradient(ellipse at center, rgba(var(--color-shadow),0.3) 0%, rgba(var(--color-shadow),0) 100%);
        content: '';
        filter: blur(0.6rem);
        position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        height: 2rem;
        margin-bottom: -2rem;
        mix-blend-mode: color-burn;
        pointer-events: none;
        z-index: -1;
    }
}

.shopify-section-header-sticky {
    &,
    &.shopify-section-group-header-group {
        position: sticky;
            top: 0;
        z-index: var(--zi-header);
    }
}

.section-header ~ .shopify-section-group-header-group {
    &::after {
        content: none;
    }
}

/* Main Header Layout */
.header-wrapper {
    @include default-texture;
    display: block;
    position: relative;
    z-index: var(--zi-header);
}

// middle left is default desktop layout
.header {
    display: grid;
        grid-template-areas: 'header-nav header-brand header-utility';
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        column-gap: var(--space);

    @media screen and (min-width: 990px) {
        grid-template-areas: 'header-brand header-nav header-utility';
        grid-template-columns: auto 1fr max-content;
        column-gap: var(--space-lg);
    }

    .header--middle-center & {
        @media screen and (min-width: 990px) {
            grid-template-areas: 'header-nav header-brand header-utility';
            grid-template-columns: 1fr max-content 1fr;
        }
    }

    .header--top-left & {
        @media screen and (min-width: 990px) {
            grid-template-areas:
            'header-brand header-utility'
            'header-nav header-nav';
            grid-template-columns: auto 1fr;
            row-gap: var(--space);
        }
    }

    .header--top-center & {
        @media screen and (min-width: 990px) {
            grid-template-areas:
            'blank header-brand header-utility'
            'header-nav header-nav header-nav';
            grid-template-columns: 1fr auto 1fr;
            row-gap: var(--space);
        }
    }

    *[tabindex='-1']:focus {
        outline: none;
    }
}

.header__brand {
    grid-area: header-brand;
}

header-drawer {
    grid-area: header-nav;

    @media screen and (min-width: 990px) {
        display: none;

        &[data-breakpoint="desktop"] {
            display: block;
        }

    }
}

.header__nav{
    grid-area: header-nav;
}

.header__utility {
    grid-area: header-utility;
}

.predictive-search {
    .no-js & {
        display: none;
    }
}

details:not([open]) > .header__icon--menu .icon-cross,
details[open] > .header__icon--menu .icon-hamburger {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-cross {
    visibility: hidden;
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
    visibility: visible;
    opacity: 1;
    transform: scale(1.07);
}
