.header__brand {
    // aspect-ratio: var(--header-brand-aspect-ratio);
    display: flex;
        align-items: center;
        justify-content: center;
        align-self: start;
    margin: auto;
    min-height: 100%;
    max-width: 60vw;
    position: relative;
    text-decoration: none;
    z-index: var(--zi-header);

    [data-sticky-type="reduce-logo-size"] & {
        .scrolled-past-header & {
            height: var(--header-height-scrolled);
        }
    }
}

.header__brand-image {
    box-shadow: 0 5px 5px rgba(var(--color-shadow), var(--shadow-opacity));
    display: block;
        height: auto;
        width: auto;
        // max-width: 100%; // causing issues when header resizes in shopify theme editor ?
        max-height: calc(var(--header-height) + var(--space-sm));
        max-width: 100%;
    margin-bottom: calc(var(--space-sm) * -1);
    transition: max-height var(--duration-long) ease;

    [data-sticky-type="reduce-logo-size"] & {
        .scrolled-past-header & {
            max-height: var(--header-height-scrolled);
            margin: auto;
        }
    }
}

.header__brand-text {
    margin: auto;
    padding: 0;
    text-align: center;
}