.header__nav {
    @include breakpoint(large) {
        margin-left: 0;
        margin-right: auto;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        &:first-of-type {
            display: inline-flex;
            flex-wrap: wrap;

            li {
                &:first-of-type {
                    .header__menu-item {
                        .header--top-left & {
                            @include breakpoint(large) {
                                padding-left: 0;
                                margin-left: 0;
                            }

                        }
                    }
                }
            }
        }
    }
}


.header__menu {
    padding: 0 var(--space);
}

.header__menu-item {
    @include underline-on-hover;
    color: rgba(var(--color-foreground), var(--opacity-light));
    display: flex;
        align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    padding: var(--space);
    text-decoration: none;
    transition: text-decoration var(--duration-short) ease;


    details[open] > & {
        @include underlined-link;

        .icon-caret {
            transform: rotate(180deg);
        }
    }

    details[open]:hover > & {
        color: rgb(var(--color-foreground));
    }
}

.header__active-menu-item {
    @include underlined-link;
    display: flex;
    color: rgb(var(--color-foreground));
}

drawer-menu {
    display: none;
    justify-self: start;
    margin-left: calc(var(--space) * -1);

    .drawer-menu & {
        display: block;
    }
}