.header__nav {
    @include breakpoint(large) {
        margin-left: 0;
        margin-right: auto;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        &:first-of-type {
            display: inline-flex;
            flex-wrap: wrap;
        }
    }

    .list-menu {
        >li {
            &:first-of-type {
                .header__menu-item {
                    .header--top-left & {
                        @include breakpoint(medium) {
                            padding-left: 0;
                            margin-left: 0;
                        }

                    }
                }
            }
        }
    }
}


.header__menu {
    padding: 0 var(--space);
}

.header__menu-item {
    @include underline-child-on-hover;
    color: rgba(var(--color-foreground), var(--opacity-light));
    display: flex;
        align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    padding: var(--space);
    text-decoration: none;
    transition: text-decoration var(--duration-short) ease;

    &:hover,
    details[open]:hover > & {
        color: rgb(var(--color-foreground));
    }

    &::after {
        .header__submenu & {
            right: var(--space-lg);
        }
    }

    details[open] > & {
        // @include underlined-link;

        .icon-caret {
            transform: rotate(180deg);
        }
    }

    .icon-caret {
        right: 0;
    }
}

.header__active-menu-item {
    display: flex;
    color: rgb(var(--color-foreground));
}

drawer-menu {
    display: none;
    justify-self: start;
    margin-left: calc(var(--space) * -1);

    .drawer-menu & {
        display: block;
    }
}

.header__inline-menu {
    // grid-area: navigation;
    display: none;

    @media screen and (min-width: 990px) {
        display: block;
    }

}


.header__submenu {
    transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;

    &.list-menu {
        padding: var(--space) 0;
    }


    .header__submenu {
        background-color: rgba(var(--color-foreground), 0.03);
        padding: var(--space) 0;
        margin: var(--space) 0;
    }
}


//   .header--top-center .header__inline-menu,
//   .header--top-center .header__heading-link {
//     margin-left: 0;
//   }

//   @media screen and (min-width: 990px) {
//     .header__inline-menu {
//       display: block;
//     }

//     .header--top-center .header__inline-menu {
//       justify-self: center;
//     }

//     .header--top-center .header__inline-menu > .list-menu--inline {
//       justify-content: center;
//     }

//     .header--middle-left .header__inline-menu {
//       margin-left: 0;
//     }
//   }





// //   .header__menu-item span {
// //     transition: text-decoration var(--duration-short) ease;
// //   }

// //   .header__menu-item:hover span {
// //     text-decoration: underline;
// //     text-underline-offset: 0.3rem;
// //   }

// //   details[open] > .header__menu-item {
// //     text-decoration: underline;
// //   }

// //   details[open]:hover > .header__menu-item {
// //     text-decoration-thickness: 0.2rem;
// //   }


// //   .header__active-menu-item {
// //     color: rgb(var(--color-foreground));
// //     // transition: text-decoration-thickness var(--duration-short) ease;

// //     // text-decoration: underline;
// //     // text-underline-offset: 0.3rem;
// //   }

// //   .header__menu-item:hover .header__active-menu-item {
// //     text-decoration-thickness: 0.2rem;
// //   }



//   .global-settings-popup,
//   .header__submenu.global-settings-popup {
//     border-radius: var(--popup-corner-radius);
//     border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
//     border-style: solid;
//     border-width: var(--popup-border-width);
//     box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
//       rgba(var(--color-shadow), var(--popup-shadow-opacity));
//     z-index: -1;
//   }

//   .header__submenu .header__menu-item:after {
//     right: 2rem;
//   }

//   .header__submenu .header__menu-item {
//     justify-content: space-between;
//     padding: 0.8rem 2rem;
//   }

//   .header__submenu .header__menu-item:hover {
//     text-decoration-line: underline;
//   }


//   .header__submenu .icon-caret {
//     flex-shrink: 0;
//     margin-left: 1rem;
//     position: static;
//   }

//   header-menu > details,
//   details-disclosure > details {
//     position: relative;
//   }

//   @keyframes animateMenuOpen {
//     0% {
//       opacity: 0;
//       transform: translateY(-1.5rem);
//     }

//     100% {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }

//   .overflow-hidden-mobile,
//   .overflow-hidden-tablet,
//   .overflow-hidden-desktop {
//     overflow: hidden;
//   }

//   @media screen and (min-width: 750px) {
//     .overflow-hidden-mobile {
//       overflow: auto;
//     }
//   }

//   @media screen and (min-width: 990px) {
//     .overflow-hidden-tablet {
//       overflow: auto;
//     }
//   }