.header__utility {
    --header-fold-alpha: 0.025;
    --header-icon-alpha: var(--opacity-light);
    --header-icon-margin-inline: 0;

    .header__icon  {
        &:hover,
        &:focus {
            --header-fold-alpha: 0.005;
            --header-icon-alpha: 1;
            // --header-icon-margin-inline: 2px;
        }
    }

    display: flex;
    justify-self: end;
    padding: 0;
    position: relative;
    z-index: calc(var(--zi-header) + 1); // needs to be above the logo, otherwise site search is obscured

    &::before,
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
    }

    &::before {
        --shadow-alpha: 0.03;
        --mask:
            radial-gradient(4.14px at 50% 5.85px,#000 99%,#0000 101%) calc(50% - 6px) 0/12px 51% repeat-x,
            radial-gradient(4.14px at 50% -2.85px,#0000 99%,#000 101%) 50% 3px/12px calc(51% - 3px) repeat-x,
            radial-gradient(4.14px at 50% calc(100% - 5.85px),#000 99%,#0000 101%) calc(50% - 6px) 100%/12px 51% repeat-x,
            radial-gradient(4.14px at 50% calc(100% + 2.85px),#0000 99%,#000 101%) 50% calc(100% - 3px)/12px calc(51% - 3px) repeat-x;

        background-color: rgb(var(--color-background));
        background-image:
            linear-gradient(to bottom, rgba(var(--color-shadow),var(--shadow-alpha)) 5%, rgba(var(--color-shadow),0) 50%),
            // linear-gradient(to right,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(216,225,231,1) 75%,rgba(181,198,208,1) 76%,rgba(224,239,249,1) 100%)
            ;
        background-blend-mode: multiply;
        border-radius: 2px;
        mask: var(--mask);
    }

    &::after {
        background: radial-gradient(ellipse at center, rgba(var(--color-shadow), 0.1) 0%, rgba(var(--color-shadow), 0) 73%);
        background-size: contain;
        //box-shadow: 0 5px 18px rgba(var(--color-shadow),0.3), 12px 6px 2px 0px rgba(var(--color-shadow),0.5);
        top: auto;
        height: calc(var(--space) * 3);
        margin-top: var(--space);
        margin-bottom: calc(var(--space) * -1);
        z-index: -1;
    }
}

.header__search {
    display: inline-flex;
    line-height: 0;
}

.header__icon {
    background-image: linear-gradient(to right, rgba(var(--color-shadow),var(--header-fold-alpha)) 0%,rgba(var(--color-shadow),0) 40%);
    // border-left: 2px dotted rgba(var(--color-foreground),0.2);
    color: rgba(var(--color-foreground), var(--header-icon-alpha));
    display: inline-flex;
        align-items: center;
        justify-content: center;
    min-height: 4rem;
    width: 4.6rem;
    // mix-blend-mode: multiply; // won't work on reversed color schemes
    margin: auto var(--header-icon-margin-inline);
    padding: var(--space-lg) var(--space);
    position: relative;
    transition: all var(--duration-default) var(--transition-type);
    transition-delay: var(--duration-short);

    &[aria-controls="menu-drawer"] {
        width: auto;
    }

    // &.has-items {
    //     color: rgb(var(--color-ecommerce));
    // }
}

// .header__icon--cart {
//     position: relative;
//     &.has-items {
//         // color: rgba(var(--color-ecommerce), 0.8);

//         &:hover,
//         &:focus {
//             svg {
//                 // color: rgb(var(--color-ecommerce));
//             }
//         }
//     }

//     svg {
//         width: 100%;
//         height: auto;
//     }
// }

.cart-count-bubble {
    background-color: rgb(var(--color-ecommerce));
    //border: 2px solid rgb(var(--color-ecommerce-contrast));
    color: rgb(var(--color-ecommerce-contrast));
    aspect-ratio: 1/1;
    // background-color: rgb(var(--color-button));
    // color: rgb(var(--color-button-text));
    border-radius: 99em;
    //box-shadow: 0 2px 4px rgba(var(--color-shadow),0.3);
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1;
    padding: var(--space-xs);
    //outline: 2px solid rgba(var(--color-button-text), 0.8);
    position: absolute;
        bottom: 2rem;
        right: 0.25rem;

    &:empty {
        display: none;
    }

    span {
        transform: translateY(1px);
    }
}

.localisation-form {
    margin: 0 var(--space);
}

// .desktop-localization-wrapper {
//     display: flex;
//         flex-wrap: wrap;
//         justify-content: flex-end;
// }

// .localisation-form {
//     flex-direction: column;

//     &:only-child {
//         display: inline-flex;
//             flex-wrap: wrap;
//         margin: 0;
//         padding: 0;

//         @include breakpoint(medium) {
//             justify-content: start;
//             width: auto;
//         }
//     }
// }