.title-wrapper {
    display: flex;
    margin-bottom: var(--title-margin-bottom);

    &.align-center {
        justify-content: center;
    }

    &.align-right {
        justify-content: flex-end;
    }
}

.title {
    display: inline-flex;
    margin: 0 auto;
    padding: var(--space-med) var(--space-lg) var(--space);
    transform: rotate(-1deg);

    .align-left & {
        margin-left: var(--space-sm);
    }

    .align-right & {
        margin-right: var(--space-sm);
    }

    &.texture-transparent {
        --title-shadow-opacity: 0;
        padding-left: 0;
        padding-right: 0;
    }
}