@import "helpers/common";

.product-form {
    display: block;
    margin-bottom: var(--space);
}

.product-form__error-message-wrapper {
    &:not([hidden]) {
        display: flex;
        align-items: flex-start;
        font-size: var(--font-size-small);
        margin-bottom: var(--space-med);
    }

    svg {
        flex-shrink: 0;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.7rem;
        margin-top: 0.5rem;
    }
}


/* Form Elements */
.product-form__input {
    flex: 0 0 100%;
    padding: 0;
    margin: 0 0 1.2rem 0;
    min-width: fit-content;
    border: none;
}

variant-radios,
variant-selects {
    display: block;
}

variant-radios {
    .disabled {
        @include disabled;

        .checkable__highlight-text {
            text-decoration: line-through;
        }
    }
}

.product-form__input--dropdown {
    margin-bottom: var(--space-med);
}

.product-form__input .form__label {
    padding-left: 0;
}

fieldset.product-form__input .form__label {
    margin-bottom: 0.2rem;
}

.product-form__input input[type='radio'] {
    clip: rect(0, 0, 0, 0);
    overflow: clip;
    position: absolute;
    height: 1px;
    width: 1px;
}

.product-form__input input[type='radio']+label {
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
    background-color: rgb(var(--color-background));
    color: rgba(var(--color-foreground));
    border-radius: var(--variant-pills-radius);
    color: rgb(var(--color-foreground));
    display: inline-block;
    margin: 0.7rem 0.5rem 0.2rem 0;
    padding: 1rem 2rem;
    font-size: var(--font-size-smaller);
    letter-spacing: 0.1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    position: relative;
}

.product-form__input input[type='radio']+label:before {
    content: '';
    position: absolute;
    top: calc(var(--variant-pills-border-width) * -1);
    right: calc(var(--variant-pills-border-width) * -1);
    bottom: calc(var(--variant-pills-border-width) * -1);
    left: calc(var(--variant-pills-border-width) * -1);
    z-index: -1;
    border-radius: var(--variant-pills-radius);
    box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset) var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
}

.product-form__input input[type='radio']+label:hover {
    border-color: rgb(var(--color-foreground));
}

.product-form__input input[type='radio']:checked+label {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
}

.product-form__input input[type='radio']:not(.disabled)+label>.visually-hidden {
    display: none;
}

@media screen and (forced-colors: active) {
    .product-form__input input[type='radio']:checked+label {
        text-decoration: underline;
    }
}

.product-form__input input[type='radio']:checked+label::selection {
    background-color: rgba(var(--color-background), 0.3);
}

.product-form__input input[type='radio']:disabled+label,
.product-form__input input[type='radio'].disabled+label {
    border-color: rgba(var(--color-foreground), 0.1);
    color: rgba(var(--color-foreground), 0.6);
    text-decoration: line-through;
}

.product-form__input input[type='radio'].disabled:checked+label,
.product-form__input input[type='radio']:disabled:checked+label {
    color: rgba(var(--color-background), 0.6);
}

.product-form__input input[type='radio']:focus-visible+label {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* Fallback */
.product-form__input input[type='radio'].focused+label,
.no-js .shopify-payment-button__button [role='button']:focus+label {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* No outline when focus-visible is available in the browser */
.no-js .product-form__input input[type='radio']:focus:not(:focus-visible)+label {
    box-shadow: none;
}


.product-form__submit {
    margin-bottom: 1rem;
}

.no-js .product-form__submit.button--secondary {
    --color-button: inherit;
    --color-button-text: inherit;
    --alpha-button-background: 1;
}

.product-form__submit[aria-disabled='true']+.shopify-payment-button .shopify-payment-button__button[disabled],
.product-form__submit[disabled]+.shopify-payment-button .shopify-payment-button__button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

@media screen and (forced-colors: active) {
    .product-form__submit[aria-disabled='true'] {
        color: Window;
    }

    .product-form__input input[type='radio']:focus-visible+label {
        outline: transparent solid 1px;
        outline-offset: 2px;
    }
}


/* Overrides */
.shopify-payment-button__more-options {
    color: rgb(var(--color-foreground));
}

a.product__text {
    display: block;
    text-decoration: none;
    color: rgba(var(--color-foreground), var(--opacity-light));
}

.product__text.caption-with-letter-spacing {
    text-transform: uppercase;
}


.product .price dl {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.product .price--sold-out .price__badge-sale {
    display: none;
}

.product__description-title {
    font-weight: 600;
}


.product-form__buttons {
    display: flex;
    flex-direction: column;
        row-gap: var(--space);
    margin-bottom: var(--space);

    .button {
        flex: 0 0 auto;
        margin: 0 0 var(--space);
    }

    .shopify-payment-button {
        margin: 0;
    }
}

.product-form__buttons-button-pre-text {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    display: flex;
    justify-content: center;

    &::before,
    &::after {
        content: '~';
    }
}

/* Inventory status */

.product__inventory {
    display: flex;
        align-items: center;
        gap: var(--space-sm);
    font-size: var(--font-size-smaller);
}

/* This keeps the container from getting display: none; applied to it and to make sure we're not introducing some layout shift when switching to an unavailable variant */
.product__inventory.visibility-hidden:empty {
    display: block;
}

.product__inventory.visibility-hidden:empty::after {
    content: '#';
}

.product__sku.visibility-hidden::after {
    content: '#';
}
