.product {
    column-gap: calc(var(--grid-horizontal-spacing) * 2);
    margin: 0;
}

.product__media-wrapper {
    flex: 1;
    order: 0;

    .product--gallery-right & {
        @media screen and (min-width: 750px) {
            order: 2;
        }
    }
}

.product__info-wrapper {
    order: 1;

    @media screen and (min-width: 990px) {
        max-width: 55%;

        .product--medium & {
            max-width: 45%;
        }
        .product--large & {
            max-width: 35%;
        }
    }
}

.product--no-media {
    // max-width: 57rem;
    margin: 0 auto;
}

.product__column-sticky {
    @media screen and (min-width: 750px) {
        display: block;
        //min-height: 100%;
        position: sticky;
        // top: var(--space-xl);
        top: 0;
        z-index: 2;
    }
}

.product__media-wrapper {
    padding-left: 0;
}
