.product {
    gap: 0;
    margin: 0;

    &,
    .section-featured-product & {
        @media screen and (min-width: 750px) {
            column-gap: calc(var(--grid-horizontal-spacing) * 2);
        }
    }

    .section-featured-product & {
        column-gap: var(--grid-horizontal-spacing);
        row-gap: var(--grid-vertical-spacing);
    }
}

.product__media-wrapper {
    flex: 1 1 auto;
    order: 0;

    @media screen and (min-width: 750px) {
        flex: 1;
    }

    .product--gallery-right & {
        @media screen and (min-width: 750px) {
            order: 2;
        }
    }
}

.product__info-wrapper {
    order: 1;

    @media screen and (min-width: 990px) {
        max-width: 55%;

        .product--medium & {
            max-width: 45%;
        }
        .product--large & {
            max-width: 35%;
        }
    }
}

.product--no-media {
    // max-width: 57rem;
    margin: 0 auto;
}

.product__column-sticky {
    @media screen and (min-width: 750px) {
        display: block;
        //min-height: 100%;
        position: sticky;
        // top: var(--space-xl);
        top: 0;
        z-index: 2;
    }
}

.product__media-wrapper {
    padding-left: 0;
}

@media screen and (min-width: 990px) {
    .product--large:not(.product--no-media) .product__media-wrapper {
        max-width: 65%;
        width: calc(65% - var(--grid-desktop-horizontal-spacing) / 2);
    }

    .product--large:not(.product--no-media) .product__info-wrapper {
        max-width: 35%;
        width: calc(35% - var(--grid-desktop-horizontal-spacing) / 2);
    }


    .product--medium:not(.product--no-media) .product__media-wrapper,
    .product--small:not(.product--no-media) .product__info-wrapper {
        max-width: 55%;
        width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);
    }

    .product--medium:not(.product--no-media) .product__info-wrapper,
    .product--small:not(.product--no-media) .product__media-wrapper {
        max-width: 45%;
        width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
    }
}