.product__info-wrapper {
    padding: var(--space-lg);
}


.product__info-container {
    // display: flex;
    // flex-direction: column;
    //     flex-wrap: wrap;
    display: grid;
    grid-gap: 0 var(--space);
    position: relative;
    // grid-template-columns: 2fr 3fr;

    .caption {
        line-height: 1.1;
        opacity: var(--opacity-light);

        @media screen and (min-width: 990px) {
            letter-spacing: 0;
        }
    }
}

.product__lead-in {
    margin: 0 0 var(--space-sm);
    padding: 0;
}


// .product__lead-in,
// variant-radios,
// .product__description,
// // .product-form,
// .product__price,
// .product__accordion {
//     grid-column: 1/-1;
// }

.product__title {
    // grid-column: 1/-1;
    line-height: 1.2;

    >a {
         display: none; // seo?
    }
}

.product__price {
    position: relative;
    z-index: var(--zi-base);

    .subtitle {
        .price-item {
            font-family: var(--font-heading-family);
            font-style: var(--font-heading-style);
            font-weight: var(--font-heading-weight);
        }
    }

    .price-item {
        font-size: calc(var(--price-font-scale) * 100%);
        line-height: 1;
    }

    // .badge {
    //     margin-left: calc((-1 * var(--space-lg)) - 2px);
    // }
}

.product-form__buttons {
    display: flex;
    flex-direction: column;

    .button {
        flex: 0 0 auto;
        margin: 0 0 var(--space);
    }

    .shopify-payment-button {
        margin: 0;
    }
}

.product-form__buttons-button-pre-text {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    display: flex;
    justify-content: center;

    &::before,
    &::after {
        content: '~';
    }
}

.product__info-container iframe {
    max-width: 100%;
  }