.product__info-wrapper {
    background-blend-mode: multiply;
    background-image: url('texture-paper.jpg');
    padding: var(--space-lg);
}


.product__info-container {
    // display: flex;
    // flex-direction: column;
    //     flex-wrap: wrap;
    display: grid;
    grid-gap: var(--space);
    // grid-template-columns: 2fr 3fr;

    .caption {
        letter-spacing: 0;
        line-height: 1.1;
        opacity: 0.8;
    }
}


// .product__lead-in,
// variant-radios,
// .product__description,
// // .product-form,
// .product__price,
// .product__accordion {
//     grid-column: 1/-1;
// }

.product__title {
    // grid-column: 1/-1;
    line-height: 1.2;

    >a {
         display: none; // seo?
    }
}

.product-form__buttons {
    display: flex;
    flex-direction: column;

    .button {
        flex: 0 0 auto;
        margin: 2.2rem 0 var(--space-sm);
    }

    .shopify-payment-button {
        margin: 0;
    }
}

.product-form__buttons-button-pre-text {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    display: flex;
    justify-content: center;

    &::before,
    &::after {
        content: '~';
    }
}