  /* Product form */

  .product-form {
    display: block;
    margin-bottom: var(--space);
  }

  .product-form__error-message-wrapper:not([hidden]) {
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .product-form__error-message-wrapper svg {
    flex-shrink: 0;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
  }

  /* Form Elements */
  .product-form__input {
    flex: 0 0 100%;
    padding: 0;
    margin: 0 0 1.2rem 0;
    //max-width: 44rem;
    min-width: fit-content;
    border: none;
  }

  variant-radios,
  variant-selects {
    display: block;
  }

  .product-form__input--dropdown {
    margin-bottom: 1.6rem;
  }

  .product-form__input .form__label {
    padding-left: 0;
  }

  fieldset.product-form__input .form__label {
    margin-bottom: 0.2rem;
  }

  .product-form__input input[type='radio'] {
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
  }

  .product-form__input input[type='radio'] + label {
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
    background-color: rgb(var(--color-background));
    color: rgba(var(--color-foreground));
    border-radius: var(--variant-pills-radius);
    color: rgb(var(--color-foreground));
    display: inline-block;
    margin: 0.7rem 0.5rem 0.2rem 0;
    padding: 1rem 2rem;
    font-size: var(--font-size-smaller);
    letter-spacing: 0.1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    position: relative;
  }

  .product-form__input input[type='radio'] + label:before {
    content: '';
    position: absolute;
    top: calc(var(--variant-pills-border-width) * -1);
    right: calc(var(--variant-pills-border-width) * -1);
    bottom: calc(var(--variant-pills-border-width) * -1);
    left: calc(var(--variant-pills-border-width) * -1);
    z-index: -1;
    border-radius: var(--variant-pills-radius);
    box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset)
      var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
  }

  .product-form__input input[type='radio'] + label:hover {
    border-color: rgb(var(--color-foreground));
  }

  .product-form__input input[type='radio']:checked + label {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
  }

  .product-form__input input[type='radio']:not(.disabled) + label > .visually-hidden {
    display: none;
  }

  @media screen and (forced-colors: active) {
    .product-form__input input[type='radio']:checked + label {
      text-decoration: underline;
    }
  }

  .product-form__input input[type='radio']:checked + label::selection {
    background-color: rgba(var(--color-background), 0.3);
  }

  .product-form__input input[type='radio']:disabled + label,
  .product-form__input input[type='radio'].disabled + label {
    border-color: rgba(var(--color-foreground), 0.1);
    color: rgba(var(--color-foreground), 0.6);
    text-decoration: line-through;
  }

  .product-form__input input[type='radio'].disabled:checked + label,
  .product-form__input input[type='radio']:disabled:checked + label {
    color: rgba(var(--color-background), 0.6);
  }
  .product-form__input input[type='radio']:focus-visible + label {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
  }

  /* Fallback */
  .product-form__input input[type='radio'].focused + label,
  .no-js .shopify-payment-button__button [role='button']:focus + label {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
  }

  /* No outline when focus-visible is available in the browser */
  .no-js .product-form__input input[type='radio']:focus:not(:focus-visible) + label {
    box-shadow: none;
  }

  .product-form__input .select {
    max-width: 25rem;
  }

  .product-form__submit {
    margin-bottom: 1rem;
  }

  .no-js .product-form__submit.button--secondary {
    --color-button: inherit;
    --color-button-text: inherit;
    --alpha-button-background: 1;
  }

  .product-form__submit[aria-disabled='true'] + .shopify-payment-button .shopify-payment-button__button[disabled],
  .product-form__submit[disabled] + .shopify-payment-button .shopify-payment-button__button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @media screen and (forced-colors: active) {
    .product-form__submit[aria-disabled='true'] {
      color: Window;
    }
  }

  /* Overrides */
  .shopify-payment-button__more-options {
    color: rgb(var(--color-foreground));
  }

  .shopify-payment-button__button {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  /* Product info */

//   .product__info-container > * + * {
//     margin: 1.5rem 0;
//   }



//   .product__info-container .product-form,
//   .product__info-container .product__description,
//   .product__info-container .icon-with-text {
//     margin: 2.5rem 0;
//   }

//   .product__text {
//     margin-bottom: 0;
//   }

  a.product__text {
    display: block;
    text-decoration: none;
    color: rgba(var(--color-foreground), var(--opacity-light));
  }

  .product__text.caption-with-letter-spacing {
    text-transform: uppercase;
  }

//   .product__title {
//     word-break: break-word;
//     margin-bottom: 1.5rem;
//   }

//   .product__title > * {
//     margin: 0;
//   }

//   .product__title > a {
//     display: none;
//   }

//   .product__title + .product__text.caption-with-letter-spacing {
//     margin-top: -1.5rem;
//   }

//   .product__text.caption-with-letter-spacing + .product__title {
//     margin-top: 0;
//   }

//   .product__accordion .accordion__content {
//     padding: 0 1rem;
//   }

//   .product .price .badge {
//     margin-bottom: 0.5rem;
//   }

//   .product .price__container {
//     margin-bottom: 0.5rem;
//   }

  .product .price dl {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .product .price--sold-out .price__badge-sale {
    display: none;
  }

  @media screen and (min-width: 750px) {
    .product__info-container {
      max-width: 60rem;
    }

    .product__info-container .price--on-sale .price-item--regular {
      font-size: 1.6rem;
    }

    // .product__info-container > *:first-child {
    //   margin-top: 0;
    // }
  }

  .product__description-title {
    font-weight: 600;
  }

//   .product--no-media .product__title,
//   .product--no-media .product__text,
//   .product--no-media noscript .product-form__input,
//   .product--no-media .product__tax,
//   .product--no-media .product__sku,
//   .product--no-media shopify-payment-terms {
//     text-align: center;
//   }

//   .product--no-media .product__media-wrapper,
//   .product--no-media .product__info-wrapper {
//     padding: 0;
//   }

//   .product__tax {
//     margin-top: -1.4rem;
//   }

//   .product--no-media noscript .product-form__input,
//   .product--no-media .share-button {
//     max-width: 100%;
//   }

//   .product--no-media fieldset.product-form__input,
//   .product--no-media .product-form__quantity,
//   .product--no-media .product-form__input--dropdown,
//   .product--no-media .share-button,
//   .product--no-media .product__view-details,
//   .product--no-media .product__pickup-availabilities,
//   .product--no-media .product-form {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//   }

//   .product--no-media .product-form {
//     flex-direction: column;
//   }

//   .product--no-media .product-form > .form {
//     max-width: 30rem;
//     width: 100%;
//   }

//   .product--no-media .product-form__quantity,
//   .product--no-media .product-form__input--dropdown {
//     flex-direction: column;
//     max-width: 100%;
//   }

//   .product-form__quantity .form__label {
//     margin-bottom: 0.6rem;
//   }

//   .price-per-item__label.form__label {
//     margin-bottom: 0rem;
//   }

//   .product-form__quantity-top .form__label {
//     margin-bottom: 1.2rem;
//   }

//   .product--no-media fieldset.product-form__input {
//     flex-wrap: wrap;
//    // margin: 0 auto 1.2rem auto;
//   }

//   .product-form__buttons {
//     max-width: 44rem;
//   }


  /* Inventory status */

  .product__inventory {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

//   .product--no-media .product__inventory {
//     justify-content: center;
//   }

  /* This keeps the container from getting display: none; applied to it and to make sure we're not introducing some layout shift when switching to an unavailable variant */
  .product__inventory.visibility-hidden:empty {
    display: block;
  }

  .product__inventory.visibility-hidden:empty::after {
    content: '#';
  }

//   /* Icon with text */
//   .icon-with-text {
//     --icon-size: calc(var(--font-heading-scale) * 3rem);
//     --icon-spacing: calc(var(--font-heading-scale) * 1rem);
//   }

//   .icon-with-text--horizontal {
//     display: flex;
//     justify-content: center;
//     column-gap: 3rem;
//     flex-direction: row;
//   }

//   .icon-with-text--vertical {
//     --icon-size: calc(var(--font-heading-scale) * 2rem);
//   }

//   .icon-with-text .icon {
//     fill: rgb(var(--color-foreground));
//     height: var(--icon-size);
//     width: var(--icon-size);
//   }

//   .icon-with-text--horizontal .icon,
//   .icon-with-text--horizontal img {
//     margin-bottom: var(--icon-spacing);
//   }

//   .icon-with-text--vertical .icon {
//     min-height: var(--icon-size);
//     min-width: var(--icon-size);
//     margin-right: var(--icon-spacing);
//   }

//   .icon-with-text img {
//     height: var(--icon-size);
//     width: var(--icon-size);
//     object-fit: contain;
//   }

//   .icon-with-text--vertical img {
//     margin-right: var(--icon-spacing);
//   }

//   .icon-with-text--horizontal .h4 {
//     padding-top: calc(var(--icon-size) + var(--icon-spacing));
//     text-align: center;
//   }

//   .icon-with-text--horizontal svg + .h4,
//   .icon-with-text--horizontal img + .h4,
//   .icon-with-text--horizontal.icon-with-text--text-only .h4 {
//     padding-top: 0;
//   }

//   .icon-with-text__item {
//     display: flex;
//     align-items: center;
//   }

//   .icon-with-text--horizontal .icon-with-text__item {
//     flex-direction: column;
//     width: 33%;
//   }

//   .icon-with-text--vertical .icon-with-text__item {
//     margin-bottom: var(--icon-size);
//   }

  /* SKU block */

  .product__sku.visibility-hidden::after {
    content: '#';
  }

  /* Product-thumbnail snippet */

  .product-media-container {
    --aspect-ratio: var(--preview-ratio);
    --ratio-percent: calc(1 / var(--aspect-ratio) * 100%);
    position: relative;
    width: 100%;
    max-width: calc(100% - calc(var(--media-border-width) * 2));
  }

  .product-media-container.constrain-height {
    /* arbitrary offset value based on average theme spacing and header height */
    --viewport-offset: 400px;
    --constrained-min-height: 300px;
    --constrained-height: max(var(--constrained-min-height), calc(100vh - var(--viewport-offset)));
    margin-right: auto;
    margin-left: auto;
  }

  .product-media-container.constrain-height.media-fit-contain {
    --contained-width: calc(var(--constrained-height) * var(--aspect-ratio));
    width: min(var(--contained-width), 100%);
  }

  .product-media-container .media {
    padding-top: var(--ratio-percent);
  }

  .product-media-container.constrain-height .media {
    padding-top: min(var(--constrained-height), var(--ratio-percent));
  }

  @media screen and (max-width: 749px) {
    .product-media-container.media-fit-cover {
      display: flex;
      align-self: stretch;
    }

    .product-media-container.media-fit-cover .media {
      /* allow media img element to scale relative to modal-opener/product-media-container */
      position: initial;
    }
  }

  @media screen and (min-width: 750px) {
    .product-media-container {
      max-width: 100%;
    }

    .product-media-container:not(.media-type-image) {
      /* override to use actual media ratio (not poster ratio) for video/models on desktop */
      --aspect-ratio: var(--ratio);
    }

    .product-media-container.constrain-height {
      --viewport-offset: 170px;
      --constrained-min-height: 500px;
    }

    .product-media-container.media-fit-cover,
    .product-media-container.media-fit-cover .product__modal-opener,
    .product-media-container.media-fit-cover .media {
      height: 100%;
    }

    .product-media-container.media-fit-cover .deferred-media__poster img {
      object-fit: cover;
      width: 100%;
    }
  }

  .product-media-container .product__modal-opener {
    display: block;
    position: relative;
  }

  @media screen and (min-width: 750px) {
    .product-media-container .product__modal-opener:not(.product__modal-opener--image) {
      display: none;
    }
  }

