// /*  Card layout */
// - card-wrapper
// ---- card (card--standard card--media card--extend-height)
// -------- card__inner
// ------------ card__media
// ---------------- media
// ------------ card__content
// ---------------- card__information
// -------------------- card__heading
// -------------------- card__caption
// -------------------- card-information (product cards - vendor, price)
// ---------------- card-badge (product cards)
// -------- card__content
// ------------ card__information
// ---------------- card__heading

@mixin card-container {
    backface-visibility: hidden;
    background-color: rgb(var(--color-background));
    border-radius: var(--card-corner-radius);
    border: var(--card-border-width) solid rgba(var(--color-background),var(--card-border-opacity));
    box-shadow: var(--card-shadow-horizontal-offset) var(--card-shadow-vertical-offset) var(--card-shadow-blur-radius) rgba(var(--color-shadow), var(--card-shadow-opacity));
    padding: var(--card-padding);
}