// --border-radius: var(--collection-card-corner-radius);
// --border-width: var(--collection-card-border-width);
// --border-opacity: var(--collection-card-border-opacity);
// --shadow-horizontal-offset: var(--collection-card-shadow-horizontal-offset);
// --shadow-vertical-offset: var(--collection-card-shadow-vertical-offset);
// --shadow-blur-radius: var(--collection-card-shadow-blur-radius);
// --shadow-opacity: var(--collection-card-shadow-opacity);
// --shadow-visible: var(--collection-card-shadow-visible);
// --image-padding: var(--collection-card-image-padding);
// --text-alignment: var(--collection-card-text-alignment);

.card {
        // padding-bottom: calc(var(--card-padding) - var(--space));
    // margin-bottom: var(--space-lg);
    background: transparent;
    border: none;
    color: rgb(var(--color-foreground));
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    outline: 2px solid transparent;
    // overflow: hidden; cuts off shadow
    padding: 0;

    position: relative;
    text-align: var(--card-text-alignment);
    text-decoration: none;
    transform-style: preserve-3d;
    transform: rotate(-0.5deg);
    transition: all var(--duration-medium) var(--transition-type);
    will-change: transform;
    z-index: 1;


    .grid__item & {
        &:hover,
        &:focus {
            transform: rotate(0) translateY(-3px) translateX(0);

            .card__media-hover-image {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &.ratio,
    .ratio {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;

        .article-card & {
            flex-direction: column;
        }
    }

    &.card--badge-bottom-left {
        padding-bottom: calc(var(--card-padding) + var(--space-xl));
    }

    .grid__item:nth-child(2) & {
        transform: rotate(-1deg) translateX(-2px);
    }

    .grid__item:nth-child(3) & {
        transform: rotate(1deg) translateY(-2px);
    }

    .grid__item:nth-child(6) & {
        transform: rotate(0.25deg) translateY(2px);
    }

    .price-item--actual {
        position: relative;
    }
}

.card--card{
    @include card-container;
}