// --border-radius: var(--collection-card-corner-radius);
// --border-width: var(--collection-card-border-width);
// --border-opacity: var(--collection-card-border-opacity);
// --shadow-horizontal-offset: var(--collection-card-shadow-horizontal-offset);
// --shadow-vertical-offset: var(--collection-card-shadow-vertical-offset);
// --shadow-blur-radius: var(--collection-card-shadow-blur-radius);
// --shadow-opacity: var(--collection-card-shadow-opacity);
// --shadow-visible: var(--collection-card-shadow-visible);
// --image-padding: var(--collection-card-image-padding);
// --text-alignment: var(--collection-card-text-alignment);

.card {
        // padding-bottom: calc(var(--card-padding) - var(--space));
    // margin-bottom: var(--space-lg);
    background: transparent;
    border: none;
    color: rgb(var(--color-foreground));
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    outline: 2px solid transparent;
    // overflow: hidden; cuts off shadow
    padding: 0;

    position: relative;
    text-align: var(--card-text-alignment);
    text-decoration: none;
    transform-style: preserve-3d;
    transform: rotate(-0.5deg) translateY(-2px);
    transition: all var(--duration-medium) var(--transition-type);
    will-change: transform;
    z-index: 1;

    @media (prefers-reduced-motion: no-preference) {
        &,
        &:nth-child {
            &:hover,
            &:focus {
                .grid__item & {
                    transform: rotate(0) translateY(-3px) translateX(0);
                }
            }
        }
    }

    .grid__item & {
        &:hover,
        &:focus {
            @media (prefers-reduced-motion: no-preference) {
                &,
                &:nth-child {
                    transform: rotate(0) translateY(-3px) translateX(0);

                    .card__media-hover-image {
                        opacity: 1;
                        transform: scale(1);
                    }

                    .shape--blob {
                        clip-path: polygon(var(--shape--blob-5));
                    }
                }
            }
        }
    }

    .shape--blob {
        @media (prefers-reduced-motion: no-preference) {
            transition: clip-path var(--duration-long) ease-in-out;
        }
    }

    &.ratio,
    .ratio {
        flex-direction: row;
            flex-wrap: wrap;
            height: auto;

        .slider & {
            height: 100%;
        }

        .contains-card--article.contains-card--standard & {
            height: auto;
        }

        .article-card & {
            flex-direction: column;
        }
    }

    &.card--standard {
        &.ratio,
        .ratio {
            .slider & {
                height: auto;
            }
        }
    }

    &.card--badge-bottom-left {
        padding-bottom: calc(var(--card-padding) + var(--space-xl));
    }

    .grid__item:nth-child(2) & {
        transform: rotate(-1deg) translateX(-2px);
    }

    .grid__item:nth-child(3) & {
        transform: rotate(1deg) translateY(-2px);
    }

    .grid__item:nth-child(6) & {
        transform: rotate(0.25deg) translateY(2px);
    }

    .price-item--actual {
        position: relative;
    }
}

.card--card{
    @include card-container;
}

.card--extend-height {
    height: 100%;

    &.card--standard.card--text,
    &.card--media {
        display: flex;
            flex-direction: column;

        .card__inner  {
            flex-grow: 1;
        }
    }
}

