.card-wrapper {
    color: inherit;
    height: 100%;
    position: relative;
    text-decoration: none;

    .media.media--hover-effect {
        >img {
            &:only-child {
                transition: transform var(--duration-long) ease;
            }
        }
    }
    &:hover,
    &:focus {
        .media.media--hover-effect {
            >img {
                &:first-child {
                    &:only-child {
                        transform: scale(1.03);
                    }
                    &:not(:only-child) {
                        opacity: 0;
                    }
                }
            }
            >img+img {
                opacity: 1;
                transition: transform var(--duration-long) ease;
                transform: scale(1.03);
            }
        }
    }
}

// .card__content {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     margin-bottom: auto;
// }

.card__content {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.card--text {
    padding-top: var(--space); // no media, needs a little extra space (for blog cards, check others?)
}

// .card--standard.card--media .card__inner .card__information,
// .card--standard.card--text:not(.card--horizontal)>.card__content .card__heading:not(.card__heading--placeholder),
// .card--standard:not(.card--horizontal)>.card__content .card-badge,
// .card--standard.card--text.article-card>.card__content .card__information,
// .card--standard>.card__content .card__caption {
.card__information {
    padding: var(--space-sm) 0;

    @media screen and (min-width: 750px) {
        padding: var(--space-sm);
    }

    .card--text & {
        padding: 0 0 var(--space);

        @media screen and (min-width: 750px) {
            padding: 0 0 var(--space);
        }
    }

    .card--card & {
        padding-bottom: 0;
    }

    .card--standard & {
        padding-top: 0;
    }

    .collection-list .card__inner &,
    .collage .card__inner & {
        display: none;
    }
}

.card__heading {
    display: flex;
        gap: var(--space);
        justify-content: var(--card-justification);
    margin: 0;
    padding: 0 0 var(--space);

    &:last-child {
        padding-bottom: 0;
    }

    // .card--standard & {
    //     padding-bottom: var(--space);
    // }

    .grid--2-col-tablet-down & {
        @media screen and (max-width: 749px) {
            // smaller font size, spacing when using two column layout on mobile
            font-size: var(--font-size-h4);
            gap: var(--space-sm);
        }
    }

    .icon {
        flex: 0 0 auto;
    }
}

// eg blog article card
.card__heading--text {
    flex: 1;
}

.card {
    .price {
        justify-content: var(--card-justification);
        margin-bottom: var(--space);
    }
}

.card--card {
    .price {
        margin-bottom: 0;
    }
}

.card__inner {
    width: 100%;

    .card--standard & {
        @include card-container;
        margin-bottom: var(--space);
    }
}