// .card--standard.card--media .card__inner .card__information,
// .card--standard.card--text:not(.card--horizontal)>.card__content .card__heading:not(.card__heading--placeholder),
// .card--standard:not(.card--horizontal)>.card__content .card__badge,
// .card--standard.card--text.article-card>.card__content .card__information,
// .card--standard>.card__content .card__caption {
.card__information {
    .collection-list .card__inner &,
    .collage .card__inner & {
        display: none;
    }
}
