.card__media {
    //object-fit: cover;




    // border-radius: var(--card-corner-radius);
    // border-radius: calc(var(--card-corner-radius) - var(--card-padding));
    // box-shadow: inset 0 0 var(--card-border-width) rgba(var(--color-shadow), var(--card-border-opacity));
    display: grid;
        grid-template-areas: "image";
        align-items: center;
        justify-content: center;
    height: 0;
    overflow: hidden;
    margin: var(--card-image-offset) var(--card-image-offset) var(--card-padding);
    padding: 0;
    padding-top: var(--ratio-percent);
    position: relative;
    width: calc((var(--card-image-offset) * -2) + 100%);
    min-width: 100%;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        outline: 2px dashed aqua;
        box-shadow: inset 0 0 5px rgba(var(--color-shadow), 0.25);
        mix-blend-mode: multiply;
    }

    // .card--standard & {
    //     padding-top:  calc((var(--card-image-offset) * -2) + var(--ratio-percent));
    // }

    .media {
        position: absolute;
            inset: 0;
    }

    .placeholder-svg,
    img {
        display: block;
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        // max-width: 100%;
        position: absolute;
            inset: 0;
        margin: 0 auto auto;
        backface-visibility: hidden;
        outline: 1px solid transparent;
        transform: scale(1.2);
        object-fit: cover;
    }
}

.card__media-hover-image {
    opacity: 0;
    transition: all var(--duration-medium) var(--transition-type) var(--transition-type);
    transition-delay: var(--duration-medium);
}

// .card__media {
//     background: rgba(var(--color-background),1);
//     border-radius: calc(var(--product-card-corner-radius)  - var(--product-card-padding));
//     // border-bottom-right-radius: 0;
//     // border-bottom-left-radius: 0;
//     //border-radius: var(--product-card-corner-radius);
//     box-shadow: inset 0 0 var(--border-width) rgba(var(--color-foreground), var(--border-opacity));
//     display: grid;
//         grid-template-areas: "image";
//         align-items: center;
//         justify-content: center;
//     height: 0;
//     overflow: hidden;
//     margin: var(--card-image-offset);
//     margin-bottom: var(--product-card-padding);
//     padding: 0;
//     padding-top: var(--ratio-percent);
//     position: relative;

//     .card__inner & {
//         // collection, article and blog cards
//         // overflow: hidden;
//         z-index: 0;
//         border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));

//         .card--card & {
//             border-bottom-right-radius: 0;
//             border-bottom-left-radius: 0;
//         }
//     }

//     .card--full-width-image & {
//         border-bottom-left-radius: 0;
//         border-bottom-right-radius: 0;
//     }

//     .card--standard & {
//         margin: var(--image-padding);
//     }

//     &[class^='shape-'], &[class*=' shape-'] {
//         height: auto;
//         padding-top: 0;

//         img {
//             grid-area: image;
//             position: relative;
//             height: fit-content;
//             min-height: 100%;
//             max-width: none;
//             transition: all var(--duration-medium) var(--transition-type);

//         }
//     }

//     img {
//         display: block;
//         height: auto;
//         width: auto;
//         min-width: 100%;
//         max-width: 100%;
//         position: absolute;
//             inset: 0;
//         margin: 0 auto auto;
//         backface-visibility: hidden;
//         outline: 1px solid transparent;
//         transform: scale(1.2);
//     }

//     .media {
//         bottom: 0;
//         position: absolute;
//         top: 0;
//         width: 100%;

//         img {
//             height: 100%;
//             object-fit: cover;
//             object-position: center center;
//             width: 100%;
//         }
//     }
// }

