.shopify-challenge__container {
    margin: var(--page-margin);
    padding: var(--content-padding);
    position: relative;
    z-index: 1;

    .shopify-challenge__button {
        margin: var(--space) auto;
    }
}