.margin-bottom {
    margin-bottom: var(--space) !important;
}

.margin-bottom--med {
    margin-bottom: var(--space-med) !important;
}

.w-100 {
    width: 100% !important;
}

.content-padding-inline {
    padding-left: var(--content-padding-inline);
    padding-right: var(--content-padding-inline);
}

.content-padding {
    padding: var(--content-padding);
}

.page-margin {
    margin: var(--page-margin);
}

.center {
    text-align: center;
    margin-inline: auto;
}

.color--danger {
    color: var(--color-danger) !important;
}


.visibility-hidden {
    visibility: hidden;
}

.break {
    word-break: break-word;
}

.flex {
    display: flex;
}


@media (prefers-reduced-motion) {
    .motion-reduce {
        transition: none !important;
        animation: none !important;
    }
}