:root {
  --corner-shadow-alpha: 0.5;
  --corner-size: 15px;
  --corner-offset: calc(var(--corner-size) * -1 - var(--space-sm));
}

:root {
  --tape-color: hsl(53, 15%, 80%);
  --tape-edge-color: hsl(53, 15%, 67%);
  --tape-height: 4rem;
}

@keyframes draw {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scaleX100 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes scaleOutX100 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes scaleOutX40 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(40%);
  }
}
@keyframes scaleX100Angled {
  0% {
    transform: scaleX(0) rotate(0.5deg);
  }
  100% {
    transform: scaleX(100%) rotate(0.5deg);
  }
}
.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: "";
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  filter: drop-shadow(var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius) rgba(var(--color-shadow), var(--drawer-shadow-opacity)));
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }
  .no-js .menu-drawer {
    height: auto;
  }
}
.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: var(--space) var(--space-xl);
  text-decoration: none;
  font-size: 1.8rem;
}

.no-js .menu-drawer__menu-item {
  font-size: var(--font-size-base);
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: var(--space) var(--space-xxl);
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: var(--space-xxl);
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: var(--space-xl);
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  --rotation: -1deg;
  position: relative;
  z-index: 1;
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}
.menu-drawer__menu-item--active:nth-child(2n),
.menu-drawer__menu-item:focus:nth-child(2n),
.menu-drawer__close-button:focus:nth-child(2n),
.menu-drawer__menu-item:hover:nth-child(2n),
.menu-drawer__close-button:hover:nth-child(2n) {
  --rotation: -2deg;
}
.menu-drawer__menu-item--active:nth-child(3n),
.menu-drawer__menu-item:focus:nth-child(3n),
.menu-drawer__close-button:focus:nth-child(3n),
.menu-drawer__menu-item:hover:nth-child(3n),
.menu-drawer__close-button:hover:nth-child(3n) {
  --rotation: 1deg;
}
.menu-drawer__menu-item--active:hover::before, .menu-drawer__menu-item--active:focus::before,
.menu-drawer__menu-item:focus:hover::before,
.menu-drawer__menu-item:focus:focus::before,
.menu-drawer__close-button:focus:hover::before,
.menu-drawer__close-button:focus:focus::before,
.menu-drawer__menu-item:hover:hover::before,
.menu-drawer__menu-item:hover:focus::before,
.menu-drawer__close-button:hover:hover::before,
.menu-drawer__close-button:hover:focus::before {
  transition: transform var(--duration-long) var(--transition-type);
  transform: rotate(var(--rotation)) scaleX(1);
}
.menu-drawer__menu-item--active::before,
.menu-drawer__menu-item:focus::before,
.menu-drawer__close-button:focus::before,
.menu-drawer__menu-item:hover::before,
.menu-drawer__close-button:hover::before {
  background: rgba(var(--color-highlight), var(--highlight-opacity));
  border-radius: var(--button-border-radius);
  content: "";
  margin: -2px;
  position: absolute;
  inset: 0;
  transform: rotate(-1deg) scaleX(0);
  transform-origin: center left;
  transition-delay: 100ms;
  z-index: -1;
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: var(--space-xl);
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: var(--space-med);
  padding: var(--space-lg) var(--space-xl);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size-smaller);
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: var(--space);
}

.menu-drawer__utility-links {
  position: relative;
  padding: 0;
  background-color: rgba(var(--color-foreground), 0.03);
  box-shadow: 0 var(--media-shadow-vertical-offset) 2px rgba(var(--color-shadow), 0.1);
}
.menu-drawer__utility-links::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 8rem;
  height: var(--tape-height);
  background-color: var(--tape-color);
  border-right: 1px dotted var(--tape-edge-color);
  border-left: 1px dotted var(--tape-edge-color);
  opacity: 0.4;
  transform: rotate(0deg);
  top: calc(var(--tape-height) * -0.5);
  margin-left: auto;
  margin-right: auto;
}

.header--has-social .menu-drawer__utility-links {
  padding: var(--content-padding);
}

@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: var(--space-lg) var(--space-xl);
  }
}
@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: var(--space-lg) var(--space-xl);
  }
}
.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: var(--space) 0;
  font-size: var(--font-size-smaller);
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}
.menu-drawer__account .icon {
  height: var(--space-lg);
  width: 2rem;
  margin-right: var(--space);
}

.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin: 0;
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: var(--space);
}
/*# sourceMappingURL=component-menu-drawer.css.map */
