:root {
  --corner-shadow-alpha: 0.5;
  --corner-size: 15px;
  --corner-offset: calc(var(--corner-size) * -1 - var(--space-sm));
}

:root {
  --tape-color: hsl(53, 15%, 80%);
  --tape-edge-color: hsl(53, 15%, 67%);
  --tape-height: 4rem;
}

@keyframes draw {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scaleX100 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes scaleOutX100 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes scaleOutX40 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(40%);
  }
}
@keyframes scaleX100Angled {
  0% {
    transform: scaleX(0) rotate(0.5deg);
  }
  100% {
    transform: scaleX(100%) rotate(0.5deg);
  }
}
.mega-menu {
  position: static;
}

.mega-menu__content {
  --crease-direction: top;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: rgba(var(--color-foreground), 0.2) rgba(var(--color-background), 0.8);
  /* Chrome, Edge, and Safari */
  background-color: rgb(var(--color-background));
  background-image: var(--crease);
  background-position: top center;
  background-size: 100% auto;
  border: 0;
  border-radius: 0;
  padding-bottom: var(--space-xl);
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}
.mega-menu__content::-webkit-scrollbar {
  width: 12px;
  scrollbar-width: thin;
}
.mega-menu__content::-webkit-scrollbar-track {
  background: transparent url("bg-scrollbar.png?v=2") repeat-y !important;
  background-size: contain;
}
.mega-menu__content::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.2);
  border-radius: 8px;
  border: 2px solid rgba(var(--color-background), 1);
}
.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - var(--space-xxl));
}
.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}
.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list.mega-menu__list, .header__nav .mega-menu__list.mega-menu__list {
  display: grid;
  gap: var(--space-med) var(--space-xl);
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
  margin: 0 auto;
  padding: 0 var(--content-padding-inline);
}
.header--top-center .mega-menu__list.mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 0;
       column-gap: 0;
}
.header--top-center .mega-menu__list.mega-menu__list > li {
  width: 16%;
  padding-right: var(--space-lg);
}

.mega-menu__link {
  position: relative;
  z-index: 1;
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding: var(--space-sm) var(--content-padding-inline);
  /* padding-bottom: 0.6rem;
  padding-top: 0.6rem; */
  text-decoration: none;
  transition: -webkit-text-decoration var(--duration-short) ease;
  transition: text-decoration var(--duration-short) ease;
  transition: text-decoration var(--duration-short) ease, -webkit-text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}
.mega-menu__link:hover::after, .mega-menu__link:focus::after {
  animation: scaleX100 var(--duration-medium) var(--transition-type) forwards;
}
.mega-menu__link::after {
  animation: scaleOutX100 var(--duration-medium) var(--transition-type) forwards;
  -webkit-mask-image: url(mask-underline.svg);
          mask-image: url(mask-underline.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: bottom left;
          mask-position: bottom left;
  background-color: rgba(var(--color-link), var(--alpha-link));
  content: "";
  position: absolute;
  right: var(--content-padding-inline);
  bottom: 0;
  left: var(--content-padding-inline);
  height: 2px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.mega-menu__link--active::after {
  animation: scaleX100 var(--duration-medium) var(--transition-type) forwards;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}
.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}
/*# sourceMappingURL=component-mega-menu.css.map */
