:root {
  /* todo */
}

.card {
  border-radius: var(--product-card-corner-radius);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: var(--product-card-shadow-horizontal-offset) var(--product-card-shadow-vertical-offset) var(--product-card-shadow-blur-radius) rgba(var(--color-shadow), var(--product-card-shadow-opacity));
  background: rgba(var(--color-background), 1);
  border: var(--product-card-border-width) solid rgba(var(--color-foreground), var(--product-card-border-opacity));
  color: rgb(var(--color-foreground));
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: var(--space-lg);
  padding: var(--card-padding);
  position: relative;
  text-decoration: none;
  text-align: var(--text-alignment);
  transition: all 300ms ease;
  transform: rotate(-0.5deg);
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  z-index: 1;
}
.grid__item .card.card:hover, .grid__item .card.card:focus {
  transform: rotate(0) translateY(-3px) translateX(0);
}
.grid__item .card.card:hover .card__media-hover-image, .grid__item .card.card:focus .card__media-hover-image {
  opacity: 1;
  transform: scale(1);
}
.grid__item:nth-child(2) .card {
  transform: rotate(-1deg) translateX(-2px);
}
.grid__item:nth-child(3) .card {
  transform: rotate(1deg) translateY(-2px);
}
.grid__item:nth-child(6) .card {
  transform: rotate(0.25deg) translateY(2px);
}
.card .price-item--actual {
  position: relative;
}

.card--badge-bottom-left {
  padding-bottom: calc(var(--card-padding) + 3rem);
}

.card__media {
  background: rgba(var(--color-background), 1);
  border-radius: calc(var(--product-card-corner-radius) - var(--card-padding));
  box-shadow: inset 0 0 var(--border-width) rgba(var(--color-foreground), var(--border-opacity));
  display: grid;
  grid-template-areas: "image";
  align-items: center;
  justify-content: center;
  height: 0;
  overflow: hidden;
  margin: var(--card-image-offset);
  margin-bottom: var(--card-padding);
  padding: 0;
  padding-top: var(--ratio-percent);
  position: relative;
}
.card--full-width-image .card__media {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card__media[class^=shape-], .card__media[class*=" shape-"] {
  height: auto;
  padding-top: 0;
}
.card__media[class^=shape-] img, .card__media[class*=" shape-"] img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100%;
  max-width: none;
  transition: all 150ms;
}
.card__media img {
  display: block;
  height: auto;
  width: auto;
  min-width: 100%;
  max-width: 100%;
  position: absolute;
  inset: 0;
  margin: 0 auto auto;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  transform: scale(1.2);
}

.card__media-hover-image {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.25s;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: auto;
}

.card-information {
  padding-top: var(--card-padding);
  text-align: var(--text-alignment);
}

.grid__item:nth-child(2n) .shape--blob {
  -webkit-clip-path: polygon(var(--shape--blob-2));
          clip-path: polygon(var(--shape--blob-2));
}

.grid__item:nth-child(3n) .shape--blob {
  -webkit-clip-path: polygon(var(--shape--blob-3));
          clip-path: polygon(var(--shape--blob-3));
}

.grid__item:nth-child(4n) .shape--blob {
  -webkit-clip-path: polygon(var(--shape--blob-4));
          clip-path: polygon(var(--shape--blob-4));
}

.grid__item:nth-child(5n) .shape--blob {
  -webkit-clip-path: polygon(var(--shape--blob-5));
          clip-path: polygon(var(--shape--blob-5));
}

.grid__item:nth-child(7n) .shape--blob {
  -webkit-clip-path: polygon(var(--shape--blob-6));
          clip-path: polygon(var(--shape--blob-6));
}

.grid__item:nth-child(8n) .shape--blob {
  -webkit-clip-path: polygon(var(--shape--blob-1));
          clip-path: polygon(var(--shape--blob-1));
}

/* Card Shape Hover Rules */
@media (prefers-reduced-motion: no-preference) {
  .product-card-wrapper .shape--round {
    transition: -webkit-clip-path var(--duration-long) ease;
    transition: clip-path var(--duration-long) ease;
    transition: clip-path var(--duration-long) ease, -webkit-clip-path var(--duration-long) ease;
  }
  .product-card-wrapper:hover .shape--round {
    -webkit-clip-path: ellipse(47% 47% at 50% 50%);
            clip-path: ellipse(47% 47% at 50% 50%);
  }
  .product-card-wrapper .shape--blob {
    transition: -webkit-clip-path var(--duration-long) ease-in-out;
    transition: clip-path var(--duration-long) ease-in-out;
    transition: clip-path var(--duration-long) ease-in-out, -webkit-clip-path var(--duration-long) ease-in-out;
  }
  .product-card-wrapper:hover .shape--blob {
    -webkit-clip-path: polygon(var(--shape--blob-5));
            clip-path: polygon(var(--shape--blob-5));
  }
  .grid__item:nth-child(2n) .product-card-wrapper:hover .shape--blob {
    -webkit-clip-path: polygon(var(--shape--blob-6));
            clip-path: polygon(var(--shape--blob-6));
  }
  .grid__item:nth-child(3n) .product-card-wrapper:hover .shape--blob {
    -webkit-clip-path: polygon(var(--shape--blob-1));
            clip-path: polygon(var(--shape--blob-1));
  }
  .grid__item:nth-child(4n) .product-card-wrapper:hover .shape--blob {
    -webkit-clip-path: polygon(var(--shape--blob-2));
            clip-path: polygon(var(--shape--blob-2));
  }
  .grid__item:nth-child(5n) .product-card-wrapper:hover .shape--blob {
    -webkit-clip-path: polygon(var(--shape--blob-3));
            clip-path: polygon(var(--shape--blob-3));
  }
  .grid__item:nth-child(7n) .product-card-wrapper:hover .shape--blob {
    -webkit-clip-path: polygon(var(--shape--blob-4));
            clip-path: polygon(var(--shape--blob-4));
  }
  .grid__item:nth-child(8n) .product-card-wrapper:hover .shape--blob {
    -webkit-clip-path: polygon(var(--shape--blob-5));
            clip-path: polygon(var(--shape--blob-5));
  }
}
/*# sourceMappingURL=component-card.css.map */
