:root {
  --sb-track-color: rgba(var(--color-shadow), 0.1 );
  --sb-thumb-color: rgba(var(--color-foreground), 0.7);
  --sb-size: 12px;
  --sb-radius: 8px;
}

:root {
  --corner-shadow-alpha: 0.125;
  --corner-size: 15px;
  --corner-offset: calc(var(--corner-size) * -1 - var(--space-sm));
}

:root {
  --tape-color: hsl(53, 15%, 80%);
  --tape-edge-color: hsl(53, 15%, 67%);
  --tape-height: 4rem;
}

@keyframes draw {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scaleX100 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes scaleOutX100 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes scaleOutX40 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(40%);
  }
}
@keyframes scaleX100Angled {
  0% {
    transform: scaleX(0) rotate(0.5deg);
  }
  100% {
    transform: scaleX(100%) rotate(0.5deg);
  }
}
/* Image mask global styles */
.shape--mask {
  display: block;
  height: 0;
  width: 0;
}

.shape--arch {
  -webkit-clip-path: url("#Shape-Arch");
          clip-path: url("#Shape-Arch");
}

.shape--blob {
  -webkit-clip-path: polygon(var(--shape--blob-1));
          clip-path: polygon(var(--shape--blob-1));
}

.shape--chevronleft {
  -webkit-clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 15% 100%, 0% 50%, 15% 0%);
          clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 15% 100%, 0% 50%, 15% 0%);
}

.shape--chevronright {
  -webkit-clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
          clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.shape--circle {
  -webkit-clip-path: circle(closest-side);
          clip-path: circle(closest-side);
}

.shape--diamond {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.shape--parallelogram {
  -webkit-clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}

.shape--round {
  -webkit-clip-path: ellipse(45% 45% at 50% 50%);
          clip-path: ellipse(45% 45% at 50% 50%);
}

/* Fixed background */
.animate--fixed {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}

.animate--fixed > img:not(.zoom):not(.deferred-media__poster-button),
.animate--fixed > svg:not(.zoom):not(.deferred-media__poster-button) {
  position: fixed;
  height: 100vh;
}

/* Zoom in image on scroll */
.animate--zoom-in {
  --zoom-in-ratio: 1;
}

.animate--zoom-in > img,
.animate--zoom-in > svg {
  transition: scale var(--duration-short) linear;
  scale: var(--zoom-in-ratio);
}

/* Animations */
@media (prefers-reduced-motion: no-preference) {
  .animate--ambient > img,
  .animate--ambient > svg {
    animation: animateAmbient 30s linear infinite;
  }
  @keyframes animateAmbient {
    0% {
      transform: rotate(0deg) translateX(1em) rotate(0deg) scale(1.2);
    }
    100% {
      transform: rotate(360deg) translateX(1em) rotate(-360deg) scale(1.2);
    }
  }
  .scroll-trigger.animate--fade-in,
  .scroll-trigger.animate--slide-in {
    opacity: 0.01;
  }
  .scroll-trigger.animate--slide-in {
    transform: translateY(2rem);
  }
  .scroll-trigger:not(.scroll-trigger--offscreen).animate--fade-in {
    opacity: 1;
    animation: var(--animation-fade-in);
  }
  .scroll-trigger:not(.scroll-trigger--offscreen).animate--slide-in {
    animation: var(--animation-slide-in);
    animation-delay: calc(var(--animation-order) * 75ms);
  }
  .scroll-trigger.scroll-trigger--design-mode.animate--fade-in,
  .scroll-trigger.scroll-trigger--design-mode.animate--slide-in,
  .scroll-trigger.scroll-trigger--design-mode .slider,
  .scroll-trigger:not(.scroll-trigger--offscreen).scroll-trigger--cancel {
    opacity: 1;
    animation: none;
    transition: none;
  }
  .scroll-trigger.scroll-trigger--design-mode.animate--slide-in {
    transform: translateY(0);
  }
  @keyframes slideIn {
    from {
      transform: translateY(2rem);
      opacity: 0.01;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0.01;
    }
    to {
      opacity: 1;
    }
  }
}
/* Element Hovers: Vertical Lift, 3d Lift */
@media (prefers-reduced-motion: no-preference) and (hover: hover) {
  .animate--hover-3d-lift .card-wrapper .card--card,
  .animate--hover-3d-lift .card-wrapper .card--standard .card__inner,
  .animate--hover-3d-lift .button:not(.button--tertiary),
  .animate--hover-3d-lift .shopify-challenge__button,
  .animate--hover-3d-lift .customer button,
  .animate--hover-3d-lift .shopify-payment-button__button,
  .animate--hover-3d-lift .deferred-media .deferred-media__poster-button {
    transition: transform var(--duration-long) ease, box-shadow var(--duration-long) ease;
    transform-origin: center;
  }
  .animate--hover-3d-lift .card-wrapper:hover .card--card,
  .animate--hover-3d-lift .card-wrapper:hover .card--standard .card__inner,
  .animate--hover-3d-lift .button:not(.button--tertiary):not([disabled]):hover,
  .animate--hover-3d-lift .shopify-challenge__button:not([disabled]):hover,
  .animate--hover-3d-lift .customer button:not([disabled]):hover,
  .animate--hover-3d-lift .shopify-payment-button__button:hover,
  .animate--hover-3d-lift .deferred-media:hover .deferred-media__poster-button {
    transition: transform var(--duration-extended) ease, box-shadow var(--duration-long) ease; /* Slow the card transition speed while hover is active. */
    transform: rotate(1deg);
    box-shadow: -1rem -1rem 1rem -1rem rgba(0, 0, 0, 0.05), 1rem 1rem 1rem -1rem rgba(0, 0, 0, 0.05), 0 0 0.5rem 0 rgba(255, 255, 255, 0), 0 2rem 3.5rem -2rem rgba(0, 0, 0, 0.5);
  }
  .animate--hover-3d-lift .deferred-media:hover .deferred-media__poster-button {
    transform: translate(-50%, -50%) scale(1.05); /* Apply a specialized transform to the video play button. */
  }
  .animate--hover-3d-lift .collage__item .card-wrapper:hover .card--card,
  .animate--hover-3d-lift .collage__item .card-wrapper:hover .card--standard .card__inner {
    transform: rotate(0.5deg); /* Less intense rotation for collage items. */
  }
  .animate--hover-3d-lift .product-grid .grid__item:hover,
  .animate--hover-3d-lift .collection-list .grid__item:hover,
  .animate--hover-3d-lift .collage__item:hover,
  .animate--hover-3d-lift .blog-articles .article:hover,
  .animate--hover-3d-lift .complementary-slide li:hover {
    z-index: 2; /* Make sure the hovered card is the topmost card. */
  }
  .animate--hover-3d-lift .product-grid {
    isolation: isolate; /* Ensure z-index changes here don't negatively effect other UI stacking. */
  }
  .animate--hover-3d-lift .card-wrapper .card--shape.card--standard:not(.card--text) .card__inner {
    box-shadow: none;
    transition: transform var(--duration-long) ease, filter var(--duration-long) ease;
  }
  .animate--hover-3d-lift .card-wrapper:hover .card--shape.card--standard:not(.card--text) .card__inner {
    transition: transform calc(2 * var(--duration-extended)) ease, filter var(--duration-long) ease; /* Slow the card transition speed while hover is active. */
    filter: drop-shadow(0rem 2rem 2rem rgba(0, 0, 0, 0.15)) drop-shadow(0rem 1rem 1rem rgba(0, 0, 0, 0.15));
  }
  .animate--hover-3d-lift .card-wrapper:hover .card--card:after,
  .animate--hover-3d-lift .card-wrapper:hover .card--standard .card__inner:after,
  .animate--hover-3d-lift .card-wrapper:hover .card--shape.card--standard:not(.card--text) .card__inner .card__media:before {
    background-size: 250px 250px;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    z-index: 2;
  }
  .animate--hover-3d-lift .card-wrapper:hover .card--shape.card--standard:not(.card--text) .card__inner .card__media:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .animate--hover-3d-lift .card-wrapper .card--card:before,
  .animate--hover-3d-lift .card-wrapper .card--standard .card__media:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: background-position calc(2 * var(--duration-extended)) ease, opacity var(--duration-default) ease;
    mix-blend-mode: overlay;
    background-size: 400% 100%;
    background-position: 90% 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 45%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 55%);
  }
  .animate--hover-3d-lift .card-wrapper:hover .card--card:before,
  .animate--hover-3d-lift .card-wrapper:hover .card--standard .card__media:after {
    opacity: 0.2;
    transition: background-position 6s ease, opacity var(--duration-long) ease;
    background-position: left;
    z-index: 2;
  }
  .animate--hover-vertical-lift .button:not(.button--tertiary),
  .animate--hover-vertical-lift .shopify-challenge__button,
  .animate--hover-vertical-lift .customer button,
  .animate--hover-vertical-lift .shopify-payment-button__button {
    transition: transform var(--duration-default) var(--ease-out-slow);
  }
  .animate--hover-vertical-lift .card-wrapper .card--card,
  .animate--hover-vertical-lift .card-wrapper .card--standard .card__inner {
    transition: transform var(--duration-medium) var(--ease-out-slow);
  }
  .animate--hover-vertical-lift .card-wrapper:hover .card--card,
  .animate--hover-vertical-lift .card-wrapper:hover .card--standard .card__inner {
    transform: translateY(-0.75rem);
  }
  .animate--hover-vertical-lift .card-wrapper:active .card--card,
  .animate--hover-vertical-lift .card-wrapper:active .card--standard .card__inner {
    transform: translateY(-0.5rem);
  }
  .animate--hover-vertical-lift .button:not(.button--tertiary):not([disabled]):hover,
  .animate--hover-vertical-lift .shopify-challenge__button:not([disabled]):hover,
  .animate--hover-vertical-lift .customer button:not([disabled]):hover,
  .animate--hover-vertical-lift .shopify-payment-button__button:hover {
    transform: translateY(-0.25rem);
  }
  .animate--hover-vertical-lift .button:not(.button--tertiary):not([disabled]):active,
  .animate--hover-vertical-lift .shopify-challenge__button:not([disabled]):active,
  .animate--hover-vertical-lift .customer button:not([disabled]):active,
  .animate--hover-vertical-lift .shopify-payment-button__button:active {
    transform: translateY(0);
  }
  .animate--hover-vertical-lift .button:not([disabled]):hover:after,
  .animate--hover-vertical-lift .customer button:not([disabled]):hover:after,
  .animate--hover-vertical-lift .shopify-payment-button__button:not([disabled]):hover:after {
    --border-offset: 0.3px; /* Default is 1.3px as defined above in this file. This removes 1px to prevent the border from growing on buttons when this effect is on.  */
    box-shadow: 0 0 0 calc(var(--button-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 var(--button-border-width) rgba(var(--color-button), var(--alpha-button-background));
  }
  .animate--hover-vertical-lift .button:not([disabled]).button--secondary:hover:after {
    --border-offset: 0px; /* Prevent the border from growing on buttons when this effect is on. */
  }
}
.drawer {
  background-color: rgba(var(--color-foreground), 0.5);
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility var(--duration-default) ease;
  z-index: 1000;
}
.drawer.active {
  visibility: visible;
}

.cart-drawer__overlay {
  position: fixed;
  offset: 0;
}
.cart-drawer__overlay:empty {
  display: block;
}

.drawer__inner {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(var(--color-background));
  border-right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: calc(100vw - var(--space-lg) - var(--space-lg));
  padding: var(--space-lg);
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
  width: 40rem;
}
.drawer__inner::-webkit-scrollbar {
  width: var(--sb-size);
  scrollbar-width: thin;
}
.drawer__inner::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  mix-blend-mode: multiply;
}
.drawer__inner::-webkit-scrollbar-thumb {
  background-color: var(--sb-track-color);
  border-radius: var(--sb-radius);
}
@supports not selector(::-webkit-scrollbar) {
  .drawer__inner {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
@media screen and (min-height: 650px) {
  .drawer__inner {
    overflow: clip;
  }
}
.drawer.active .drawer__inner {
  transform: translateX(0);
}
.drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.drawer__inner-empty {
  background-color: rgb(var(--color-background));
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: clip;
  padding: 0 var(--space-med);
}

.drawer__header {
  align-items: center;
  background-color: rgb(var(--color-background));
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 var(--space-med) 0;
  position: relative;
}

.drawer__close {
  background-color: transparent;
  border: none;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  color: rgb(var(--color-foreground));
  cursor: pointer;
  display: inline-block;
  padding: 0;
}
.cart-drawer__warnings .drawer__close {
  right: 5px;
}

cart-drawer-items {
  overflow: visible;
  flex: 1;
}
@media screen and (min-height: 650px) {
  cart-drawer-items {
    overflow-x: hidden;
    overflow-y: auto;
  }
  cart-drawer-items::-webkit-scrollbar {
    width: var(--sb-size);
    scrollbar-width: thin;
  }
  cart-drawer-items::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    mix-blend-mode: multiply;
  }
  cart-drawer-items::-webkit-scrollbar-thumb {
    background-color: var(--sb-track-color);
    border-radius: var(--sb-radius);
  }
  @supports not selector(::-webkit-scrollbar) {
    cart-drawer-items {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
.cart-drawer tbody {
  display: block;
  width: 100%;
}
.cart-drawer thead {
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-background));
}
.cart-drawer thead tr {
  display: flex;
  justify-content: space-between;
}
.cart-drawer tr {
  margin-bottom: var(--space);
}
.cart-drawer td,
.cart-drawer th {
  margin: 0;
  padding: 0;
}
.cart-drawer th {
  border-bottom: var(--border-light);
  flex: 0 1 auto;
}
.cart-drawer .cart-items__th-product {
  flex: 1 1 0;
}
.cart-drawer .cart-items__th-totals {
  flex: 1 1 0;
}
.cart-drawer .cart-item {
  display: grid;
  grid-template-areas: "cart-item--image cart-item--details cart-item--totals" "cart-item--image cart-item--quantity cart-item--quantity";
  gap: var(--space-med);
  align-items: start;
}
.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}
.cart-drawer .cart-item cart-remove-button {
  margin-left: 0;
}
.cart-drawer .cart-item .cart-item__media {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: cart-item--image;
}
.cart-drawer .cart-item .cart-item__image {
  max-width: 100%;
}
.cart-drawer .cart-item .cart-item__details {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cart-item--details;
  width: auto;
  align-self: center;
}
.cart-drawer .cart-item .cart-item__name {
  margin: 0;
  padding: 0;
}
.cart-drawer .cart-item .cart-item__totals {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: cart-item--totals;
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.cart-drawer .cart-item .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}
.cart-drawer .cart-item .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.cart-drawer .cart-item .cart-item__quantity {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: cart-item--quantity;
  padding-top: 0;
}
.cart-drawer .cart-item .unit-price {
  margin-top: 0.6rem;
}
.cart-drawer .cart-item .cart-item__error {
  margin-top: 0.8rem;
}
@media screen and (min-width: 750px) {
  .cart-drawer .cart-item .cart-item__error {
    margin-left: 0;
  }
}
.cart-drawer .cart-item__quantity--info quantity-popover > * {
  padding-left: 0;
}
.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}
.cart-drawer .quantity-popover-container {
  padding: 0;
}
.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  right: 0;
}
.cart-drawer .cart__checkout-button {
  max-width: none;
}
.cart-drawer .totals {
  justify-content: space-between;
}
.cart-drawer .price {
  line-height: 1;
}
.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer__warnings {
  display: none;
  flex: 1;
}
.drawer.is-empty .cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-drawer__collection {
  display: none;
  margin: 0 2.5rem var(--space-med);
}
.drawer.is-empty .cart-drawer__collection {
  display: block;
}

.drawer__footer {
  background-color: rgb(var(--color-background));
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
}
cart-drawer-items.is-empty .drawer__footer {
  display: none;
}
.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: var(--space-med) 0;
}
.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}
.drawer__footer #dynamic-checkout-cart [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}
.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}
.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}
@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(33.3333333333% - 0.5rem) !important;
    margin: 0 !important;
  }
}
.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}
.drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2), .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) {
  flex-basis: calc(50% - 0.5rem) !important;
}
.drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li, .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
  flex-basis: calc(50% - 0.5rem) !important;
}

.drawer__footer-details {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
  margin-bottom: var(--space);
}
.drawer__footer-details .icon-caret {
  transition: transform var(--duration-short) var(--transition-type);
}
.drawer__footer-details[open] {
  border-bottom: 0 none;
}
.drawer__footer-details[open] > summary .icon-caret {
  transform: rotate(180deg);
}
.drawer__footer-details[open] .cart__note {
  max-height: 100vh;
}
.drawer__footer-details summary:hover .icon-caret, .drawer__footer-details summary:focus .icon-caret {
  transform: rotate(270deg);
}
.drawer__footer-details .cart__note {
  display: block;
  margin: 0;
  max-height: 0;
  transition: max-height var(--duration-short) var(--transition-type);
}
/*# sourceMappingURL=component-cart-drawer.css.map */
