:root {
  --font-display: "Rancho", "cursive";
  --font-body: "Roboto", "Helvetica", "Arial", "sans-serif";
  --c-primary: #457b9d;
  --c-primary-light: #a8dadc;
  --c-primary-xlight: #cdeae5;
  --c-primary-dark: #24262C;
  --c-accent: #F0C62D;
  --c-accent-light: #FFE66D;
  --c-accent-dark: #BF980D;
  --c-white: #ffffff;
  --c-black: #141415;
  --c-danger: #e63946;
  --c-success: #5FAB6B;
  --border-radius: 0.3rem;
  --ease: ease-in-out;
}

:root {
  --font-display: "Rancho", "cursive";
  --font-body: "Roboto", "Helvetica", "Arial", "sans-serif";
  --h1: 2.4rem;
  --h2: 2.8rem;
  --h3: 2.6rem;
  --h4: 2.1rem;
  --h5: 1.9rem;
  --h6: 1.7rem;
  --p: 1.6rem;
  --p-sm: 1.3rem;
  --sm: 0.9rem;
  --xs: 0.8rem;
}
@media (min-width: 760px) {
  :root {
    --h1: 3rem;
    --h4: 2.4rem;
  }
}

:root {
  --space: 1rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-lg: 2rem;
  --zi-base: 10;
  --zi-header: 40;
  --zi-header-nav: 41;
  --zi-hamburger: 22;
  --zi-popup: 100;
  --zi-blocker: 100;
  --space: 1rem; /* 20px -> 1.25rem */
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem; /* 8px -> .5rem */
  --space-sm: 0.5rem; /* 8px -> .5rem */
  --space-md: 1rem; /* 30px -> 1.875rem */
  --space-lg: 1.5rem; /* 40px -> 2.5rem */
  --space-xxs-neg: calc(var(--space-xxs) * -1);
  --space-xs-neg: calc(var(--space-xs) * -1);
  --space-neg: calc(var(--space) * -1);
  --space-sm-neg: calc(var(--space-sm) * -1);
  --space-md-neg: calc(var(--space-md) * -1);
  --space-lg-neg: calc(var(--space-lg) * -1);
  --radius: 0.25rem; /* 4px -> .25rem */
  --radius-lg: 0.5rem;
  --border-width: 2px;
  --border-width-wide: 3px;
  --border-width-xwide: 5px;
  --border: var(--border-width) solid;
  --max-content-width: 60rem; /* 960px -> 60rem */
  --max-form-width-sm: 23rem;
  --max-form-width: 40rem;
  --box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  --box-shadow-soft: 0px 4px 5px rgba(0, 0, 0, 0.125);
  --box-shadow-close: 0px 3px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
  --transition-speed: 200ms;
  --transition-type: ease-in-out;
  --transition: var(--transition-speed) var(--transition-type);
  --sidebar-space-h: var(var(--space-md));
}

:root {
  --border-radius: 0.3rem;
  --ease: ease-in-out;
}

/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126  License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
li,
input,
select,
textarea {
  margin: 0 0 var(--space);
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

h1,
.h1 {
  color: var(--c-primary);
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

p,
address,
li,
input,
select,
textarea {
  font-size: var(--p);
}

small {
  font-size: var(--p-sm);
}

.site-main a {
  text-decoration-skip-ink: auto;
}
.site-main a:hover, .site-main a:active, .site-main a:focus {
  text-decoration: underline;
}

strong {
  font-weight: 900;
}

ul {
  list-style-type: none;
  margin: 0 0 var(--space-sm);
  padding: 0;
}

li {
  margin-bottom: var(--space-sm);
}

html,
body {
  min-height: 100vh;
  min-width: 320px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--c-white);
  color: var(--c-primary-dark);
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: var(--max-content);
  padding: 0 var(--space);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.site-header {
  --c-site-header-bg: var(--c-primary-light);
  background: var(--c-site-header-bg);
  color: var(--c-primary-dark);
  display: grid;
  grid-template-areas: "header-brand header-cart header-burger" "header-nav header-nav header-nav";
  grid-template-columns: 1fr max-content max-content;
  gap: 0 var(--space-sm);
  align-items: center;
  padding: var(--space);
  position: relative;
}
@media (min-width: 1024px) {
  .site-header {
    grid-template-areas: "header-brand header-nav header-cart";
  }
}
.site-header a,
.site-header button {
  color: currentColor;
}
.site-header a:hover, .site-header a:active, .site-header a:focus,
.site-header button:hover,
.site-header button:active,
.site-header button:focus {
  color: var(--c-primary);
}
.site-header ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-header li {
  flex: 0 0 auto;
  list-style: none;
  margin: 0;
  padding: var(--space);
  position: relative;
}

.site-header__brand {
  grid-area: header-brand;
  font-family: var(--font-display);
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  transition: all var(--transition);
}
@media (min-width: 1024px) {
  .site-header__brand {
    font-size: 3rem;
    text-align: left;
  }
}
.site-header__brand:hover, .site-header__brand:active, .site-header__brand:focus {
  color: var(--c-primary-dark);
  text-shadow: 1px 1px 1px rgb(255, 255, 255), 1px 1px 2px rgb(255, 255, 255), 1px 1px 3px rgb(255, 255, 255);
}

.site-header__burger {
  grid-area: header-burger;
  padding: var(--space-sm);
}
@media (min-width: 1024px) {
  .site-header__burger {
    display: none;
  }
}

.site-header__cart {
  grid-area: header-cart;
  padding: var(--space-sm);
}

.site-header__nav {
  grid-area: header-nav;
  display: flex;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: calc(var(--space) * -1);
  right: calc(var(--space) * -1);
  background: var(--c-site-header-bg);
  transition: all var(--transition);
  padding-inline: var(--space);
  padding-block: 0;
}
@media (min-width: 1024px) {
  .site-header__nav {
    max-height: 100vh;
    position: static;
  }
}
.site-header__nav.is-active {
  max-height: 1000vh;
  padding-block: var(--space);
  overflow: visible;
}

.site-header-nav__top-level-item {
  display: flex;
  align-items: center;
}

.site-header__nav-dropdown {
  background: var(--c-site-header-bg);
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0 var(--space);
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-out;
}

.site-header__nav-dropdown.is-active {
  max-height: 1000vh;
  padding-bottom: var(--space-sm);
}

.pg-signup {
  grid-template-areas: "welcome" "form" "login";
  grid-template-rows: auto 1fr;
  align-items: start;
  margin-bottom: var(--space);
}
@media (min-width: 760px) {
  .pg-signup {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "form welcome" "form login";
  }
}
@media (min-width: 1024px) {
  .pg-signup {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "form welcome login";
  }
}
.pg-signup.has-invitation {
  grid-template-areas: "welcome welcome" "invitation login" "form form";
}
@media (min-width: 760px) {
  .pg-signup.has-invitation {
    grid-template-areas: "form welcome" "form invitation" "form login";
  }
}
@media (min-width: 1024px) {
  .pg-signup.has-invitation {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "form welcome invitation" "form welcome login";
  }
}
.pg-signup .is-welcome {
  grid-area: welcome;
  z-index: var(--zi-base);
}
.pg-signup .is-invitation {
  grid-area: invitation;
  margin-inline: 0;
  z-index: var(--zi-base);
}
.pg-signup .is-login {
  grid-area: login;
  margin-bottom: auto;
  z-index: 0;
}
.pg-signup .form-signup {
  grid-area: form;
}
@media (min-width: 1024px) {
  .pg-signup .form-signup {
    max-width: var(--max-form-width);
  }
}

button[type=reset],
.btn[type=reset] {
  background: transparent;
  color: var(--text);
  font-weight: 400;
}

button[type=reset]:hover {
  background: transparent;
  color: var(--danger);
}

button:disabled {
  filter: grayscale(0.75);
  font-weight: 400;
  opacity: 0.5;
  pointer-events: none;
}

.btn {
  color: var(--text);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: var(--p);
  padding: var(--space);
  position: relative;
  white-space: nowrap;
}
.btn::before, .btn::after {
  background-image: url("@/assets/images/drawn-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 0;
  padding-top: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  transition: all;
  transform: scaleY(0.6) scaleX(1.2) translateY(0.3rem);
}
.btn::after {
  background-image: url("@/assets/images/drawn-circle-hover.svg");
  opacity: 0;
  transition: opacity var(--transition);
}
.btn:hover {
  color: var(--heading);
}
.btn:hover::after {
  opacity: 1;
}
.btn.is-text {
  padding-inline: 0;
}
.btn.is-text:hover::after, .btn.is-text:focus::after {
  transform: scaleX(1) translateY(var(--space-neg));
}
.is-success .btn.is-text {
  color: var(--green);
}
.btn.is-text::before, .btn.is-text::after {
  background: transparent;
}
.btn.is-text::after {
  border-bottom: thin solid;
  transition: all var(--transition);
  transform: scaleX(0) translateY(var(--space-neg));
}
.btn.is-small {
  font-size: var(--p-sm);
}

form.has-max-width {
  max-width: var(--max-form-width);
}

.width-small {
  max-width: var(--max-form-width-sm);
}

.form-actions {
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

label {
  font-size: var(--h6);
  font-weight: 600;
  color: var(--heading);
  display: block;
  margin: 0;
}
label abbr {
  text-decoration: none;
  color: var(--warning);
}

.checkable,
.checkable-list label {
  cursor: pointer;
  color: var(--text);
  font-family: var(--font-body);
  font-size: var(--p-small);
  font-weight: 400;
  line-height: 1.2;
  position: relative;
}

.checkable img {
  transition: all var(--transition);
}
.checkable input {
  appearance: none;
  cursor: pointer;
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.checkable input:checked ~ .swatch {
  border-radius: 0;
  min-width: 100%;
  min-height: 100%;
}

.checkable-text {
  position: relative;
  z-index: 1;
}

.checkable-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.checkable-list li {
  font-size: var(--sm);
  margin: 0 0 var(--space-sm);
  padding: 0;
}
.checkable-list label {
  cursor: pointer;
  margin: 0 var(--space) var(--space-sm) 0;
}
.checkable-list input {
  margin-right: var(--space-xs);
}

label {
  font-size: var(--h6);
  font-weight: 600;
  color: var(--heading);
  display: block;
  margin: 0;
}
label abbr {
  text-decoration: none;
  color: var(--warning);
}

input,
textarea,
select,
.multiselect-themed.multiselect-themed {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: 1rem;
  margin: 0 0 var(--space);
  width: 100%;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-internal-autofill-selected,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-internal-autofill-selected,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-internal-autofill-selected,
.multiselect-themed.multiselect-themed:-webkit-autofill,
.multiselect-themed.multiselect-themed:-webkit-autofill:hover,
.multiselect-themed.multiselect-themed:-webkit-autofill:focus,
.multiselect-themed.multiselect-themed:-internal-autofill-selected {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea,
select,
.multiselect-themed.multiselect-themed {
  border-bottom: 1px solid var(--biro);
  padding: var(--space-sm);
}
input:-internal-autofill-selected, input:-internal-light-dark,
textarea:-internal-autofill-selected,
textarea:-internal-light-dark,
select:-internal-autofill-selected,
select:-internal-light-dark,
.multiselect-themed.multiselect-themed:-internal-autofill-selected,
.multiselect-themed.multiselect-themed:-internal-light-dark {
  background: transparent !important;
}

input[type=checkbox],
input[type=radio] {
  appearance: auto;
  -webkit-appearance: auto;
  background: transparent;
  width: auto;
}

textarea {
  min-height: 160px;
}

.multiselect-themed.multiselect-themed {
  padding-inline: 0;
}
.multiselect-themed.multiselect-themed .multiselect-tags {
  padding: 0;
}
.multiselect-themed.multiselect-themed .multiselect-tag {
  background: var(--off-white);
  color: var(--biro);
  font-size: var(--xs);
  font-weight: normal;
}

.multiselect-tag .avatar-image {
  --size: 1.5rem;
  height: var(--size);
  width: var(--size);
  margin: var(--space-xs);
  margin-left: 0;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  transition: all var(--transition);
}
.icon[data-size=sm] {
  height: 1rem;
  width: 1rem;
}
.icon[data-size=xs] {
  height: 0.6rem;
  width: 0.6rem;
}

/*# sourceMappingURL=core.css.map */
