:root {
  --corner-shadow-alpha: 0.25;
  --corner-size: 15px;
  --corner-offset: calc(var(--corner-size) * -1 - var(--space-sm));
}

:root {
  --tape-color: hsl(53, 15%, 80%);
  --tape-edge-color: hsl(53, 15%, 67%);
  --tape-height: 4rem;
}

@keyframes draw {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scaleX100 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes scaleOutX100 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes scaleOutX40 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(40%);
  }
}
@keyframes scaleX100Angled {
  0% {
    transform: scaleX(0) rotate(0.5deg);
  }
  100% {
    transform: scaleX(100%) rotate(0.5deg);
  }
}
.button-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space);
}

.button-bar--fluid-buttons button,
.button-bar--fluid-buttons .button,
.button-bar--fluid-buttons a {
  flex: 1 1 auto;
  text-align: center;
}

.customer__page-content {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#recover,
#login {
  scroll-margin-top: 20rem;
}

.login,
.register {
  --page-width: 60rem;
}
.login form,
.register form {
  margin-bottom: var(--space);
}
.login form button[type=submit],
.register form button[type=submit] {
  width: 100%;
}

.customer {
  letter-spacing: 0;
  /* works around colspan phantom border issues */
}
.customer h1 {
  font-size: var(--font-size-h2);
}
.customer h2 {
  font-size: var(--font-size-h3);
}
.customer h3 {
  font-size: var(--font-size-h4);
}
.customer h4 {
  font-size: var(--font-size-h5);
}
.customer table {
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing);
  line-height: inherit;
  background-color: rbga(var(--color-background), 1);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), 0.1);
  color: rgb(var(--color-foreground));
  font-size: var(--font-size-smaller);
  margin-bottom: var(--space-med);
  position: relative;
  table-layout: auto;
}
.customer tr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .customer tr {
    display: table-row;
  }
}
.customer tbody tr {
  background-image: var(--crease);
}
.customer tbody tr:hover th,
.customer tbody tr:hover td, .customer tbody tr:focus th,
.customer tbody tr:focus td {
  background-color: rgba(var(--color-background), 0.08);
}
.customer th,
.customer td {
  font-size: inherit;
  font-weight: 400;
  border: none;
  line-height: 1.2;
  padding: var(--space-sm) var(--space);
  text-align: right;
}
.customer th:first-child,
.customer td:first-child {
  text-align: left;
}
.customer td {
  display: flex;
}
@media screen and (min-width: 750px) {
  .customer td {
    display: table-cell;
  }
}
.customer td::before {
  color: rgba(var(--color-foreground), 0.75);
  content: attr(data-label);
  font-size: var(--font-size-smaller, 1.4rem);
  padding-right: var(--space-med);
  flex-grow: 1;
  text-align: left;
}
@media screen and (min-width: 750px) {
  .customer td::before {
    content: none;
  }
}
.customer thead {
  display: none;
}
@media screen and (min-width: 750px) {
  .customer thead {
    display: table-header-group;
  }
}
.customer thead th {
  background: rgba(var(--color-foreground), 0.1);
  color: rgb(var(--color-foreground));
  font-weight: bold;
  padding-block: calc(var(--space) * 3 / 4);
}
.customer tbody td {
  padding-block: var(--space);
}
.customer tfoot th:first-child,
.customer tfoot td:first-child {
  display: none;
}
@media screen and (min-width: 750px) {
  .customer tfoot th:first-child,
  .customer tfoot td:first-child {
    display: table-cell;
    text-align: right;
  }
}
.customer .order-details__grand-total th,
.customer .order-details__grand-total td {
  font-size: var(--font-size-base);
  font-weight: 600;
}
.customer .customer thead::after,
.customer .customer tfoot::before {
  content: " ";
  height: 0.1rem;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  background: rgba(var(--color-foreground), 0.08);
}
@media screen and (forced-colors: active) {
  .customer .customer thead::after,
  .customer .customer tfoot::before {
    background: CanvasText;
  }
}

.customer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#recover {
  display: none;
  margin-bottom: 0;
}
#recover:target {
  display: block;
}
#recover:target ~ #login {
  display: none;
}

.fulfillment {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--font-size-smaller, 1.4rem);
  margin-top: var(--space);
  text-align: left;
}
.fulfillment .highlight::before {
  inset: calc(var(--space-xs) * -1) calc(var(--space-sm) * -1);
  opacity: 0.4;
}
.fulfillment a {
  justify-content: start;
}
/*# sourceMappingURL=customer.css.map */
