:root {
  --corner-shadow-alpha: 0.25;
  --corner-size: 15px;
  --corner-offset: calc(var(--corner-size) * -1 - var(--space-sm));
}

@keyframes draw {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scaleX100 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes scaleOutX100 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes scaleOutX40 {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(40%);
  }
}
@keyframes scaleX100Angled {
  0% {
    transform: scaleX(0) rotate(0.5deg);
  }
  100% {
    transform: scaleX(100%) rotate(0.5deg);
  }
}
.margin-bottom {
  margin-bottom: var(--space) !important;
}

.margin-bottom--med {
  margin-bottom: var(--space-med) !important;
}

.w-100 {
  width: 100% !important;
}

.content-padding-inline {
  padding-inline: var(--content-padding-inline);
}

.content-padding {
  padding: var(--content-padding);
}

.page-margin {
  margin: var(--page-margin);
}

.center {
  text-align: center;
  margin-inline: auto;
}

.color--danger {
  color: var(--color-danger) !important;
}

.visibility-hidden {
  visibility: hidden;
}

.break {
  word-break: break-word;
}

@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
    animation: none !important;
  }
}
.footer-block__details-content a {
  position: relative;
  z-index: 1;
  display: inline-flex;
  padding-bottom: 2px;
}
.footer-block__details-content a:hover::after, .footer-block__details-content a:focus::after {
  animation: scaleX100 var(--duration-medium) var(--transition-type) forwards;
}
.footer-block__details-content a::after {
  animation: scaleOutX100 var(--duration-medium) var(--transition-type) forwards;
  -webkit-mask-image: url(mask-underline.svg);
          mask-image: url(mask-underline.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: bottom left;
          mask-position: bottom left;
  background-color: rgba(var(--color-link), var(--alpha-link));
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 0 * 2);
  height: 2px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: bottom left;
}
.footer-block__details-content .list-menu__item--active {
  filter: grayscale(1);
  pointer-events: none;
  opacity: 0.6;
}

.footer__copyright a {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-bottom: 2px;
}
.footer__copyright a:hover::after, .footer__copyright a:focus::after {
  animation: scaleX100 var(--duration-medium) var(--transition-type) forwards;
}
.footer__copyright a::after {
  animation: scaleOutX100 var(--duration-medium) var(--transition-type) forwards;
  -webkit-mask-image: url(mask-underline.svg);
          mask-image: url(mask-underline.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: bottom left;
          mask-position: bottom left;
  background-color: rgba(var(--color-link), var(--alpha-link));
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 0 * 2);
  height: 2px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.footer__list-social.list-social:only-child {
  justify-content: center;
}

.footer-block__newsletter {
  text-align: center;
  flex-grow: 1;
}
/*# sourceMappingURL=section-footer.css.map */
