.button-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space);
}
.align-content-right .button-bar {
  justify-content: flex-end;
}
.align-content-left .button-bar {
  justify-content: flex-start;
}
.align-content-center .button-bar {
  justify-content: center;
}
@media screen and (min-width: 750px) {
  .align-content-desktop-right .button-bar {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 750px) {
  .align-content-desktop-left .button-bar {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 750px) {
  .align-content-desktop-center .button-bar {
    justify-content: center;
  }
}
.button-bar button:only-child,
.button-bar .button:only-child,
.button-bar a:only-child {
  margin-inline: auto;
}

.button-bar--fluid-buttons button,
.button-bar--fluid-buttons .button,
.button-bar--fluid-buttons a {
  flex: 1 1 auto;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .banner {
    flex-direction: row;
  }
}
.banner.align-content-right {
  justify-content: flex-end;
  text-align: end;
}
.banner.align-content-left {
  justify-content: flex-start;
  text-align: start;
}
.banner.align-content-center {
  justify-content: center;
}
@media screen and (min-width: 750px) {
  .banner.align-content-desktop-right {
    justify-content: flex-end;
    text-align: end;
  }
}
@media screen and (min-width: 750px) {
  .banner.align-content-desktop-left {
    justify-content: flex-start;
    text-align: start;
  }
}
@media screen and (min-width: 750px) {
  .banner.align-content-desktop-center {
    justify-content: center;
    text-align: center;
  }
}
.banner .rte,
.banner .inline-richtext {
  text-align: inherit;
}

.banner__box {
  padding: var(--content-padding);
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  position: relative;
  text-align: inherit;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
  /* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
}
@media screen and (min-width: 750px) {
  .banner__box {
    width: auto;
    max-width: 71rem;
    min-width: 45rem;
  }
}
@media screen and (min-width: 1400px) {
  .banner__box {
    max-width: 90rem;
  }
}
.banner__box.texture-torn {
  padding: calc(var(--content-padding-inline) + var(--space-sm));
}
.banner__box.gradient {
  transform: perspective(0);
}

@media only screen and (min-width: 750px) {
  .banner--content-align-left.banner--desktop-transparent .banner__box,
  .banner--content-align-right.banner--desktop-transparent .banner__box,
  .banner--medium.banner--desktop-transparent .banner__box {
    max-width: 68rem;
  }
}
.banner__media.animate--zoom-in {
  -webkit-clip-path: inset(0px);
          clip-path: inset(0px);
}

.banner__media.animate--zoom-in > img:not(.zoom):not(.deferred-media__poster-button),
.banner__media.animate--zoom-in > svg:not(.zoom):not(.deferred-media__poster-button) {
  position: fixed;
  height: 100vh;
}

@media screen and (max-width: 749px) {
  .banner--small.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 28rem;
  }
  .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 34rem;
  }
  .banner--large.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 39rem;
  }
  .banner--small:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 28rem;
  }
  .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 34rem;
  }
  .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 39rem;
  }
}
@media screen and (min-width: 750px) {
  .banner--small:not(.banner--adapt) {
    min-height: 42rem;
  }
  .banner--medium:not(.banner--adapt) {
    min-height: 56rem;
  }
  .banner--large:not(.banner--adapt) {
    min-height: 60rem;
  }
  .banner__content.banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .banner__content.banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }
  .banner__content.banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .banner__content.banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }
  .banner__content.banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }
  .banner__content.banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }
  .banner__content.banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }
  .banner__content.banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 749px) {
  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .banner--stacked {
    height: auto;
  }
  .banner--stacked .banner__media {
    flex-direction: column;
  }
}
.banner__media {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.banner__media-half {
  width: 50%;
}

.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}

.banner__media-half.animate--fixed:first-child > img,
.banner__media-half.animate--zoom-in:first-child > img {
  width: 50%;
}

.banner__media-half.animate--fixed:nth-child(2) > img,
.banner__media-half.animate--zoom-in:nth-child(2) > img {
  left: 50%;
  width: 50%;
}

@media screen and (max-width: 749px) {
  .banner--stacked .animate--fixed:first-child > img,
  .banner--stacked .animate--zoom-in:first-child > img {
    width: 100%;
  }
  .banner--stacked .banner__media-half.animate--fixed:nth-child(2) > img,
  .banner--stacked .banner__media-half.animate--zoom-in:nth-child(2) > img {
    left: 0;
    width: 100%;
  }
  .banner--stacked .banner__media-half {
    width: 100%;
  }
  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }
}
@media screen and (min-width: 750px) {
  .banner__media {
    height: 100%;
  }
}
.banner--adapt,
.banner--adapt_image.banner--mobile-bottom .banner__media:not(.placeholder) {
  height: auto;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__media,
  .banner--stacked:not(.banner--mobile-bottom) .banner__media {
    position: relative;
  }
  .banner--stacked.banner--adapt .banner__content {
    height: auto;
  }
  .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    background: transparent;
  }
  .banner:not(.banner--mobile-bottom) .banner__box {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .banner:not(.banner--mobile-bottom) .button--secondary {
    --alpha-button-background: 0;
  }
  .banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    position: absolute;
    height: auto;
  }
  .banner--stacked.banner--adapt:not(.banner--mobile-bottom) .banner__content {
    max-height: 100%;
    overflow: hidden;
    position: absolute;
  }
  .banner--stacked:not(.banner--adapt) .banner__media {
    position: relative;
  }
  .banner::before {
    display: none !important;
  }
  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
}
.banner__content {
  padding: 0;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .banner__content {
    padding: var(--content-padding-inline);
  }
  .banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }
  .banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }
  .banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }
  .banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }
  .banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }
  .banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 749px) {
  .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    order: 2;
  }
}
@media screen and (min-width: 750px) {
  .banner--desktop-transparent .banner__box {
    background: transparent;
    max-width: 89rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .banner--desktop-transparent .button--secondary {
    --alpha-button-background: 0;
  }
  .banner--desktop-transparent .content-container:after {
    display: none;
  }
}
@media screen and (max-width: 749px) {
  .banner--mobile-bottom::after,
  .banner--mobile-bottom .banner__media::after {
    display: none;
  }
}
.banner::after,
.banner__media::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000000;
  opacity: 0;
  z-index: 1;
}

@media screen and (max-width: 749px) {
  .banner:not(.slideshow) .rte a,
  .banner:not(.slideshow) .inline-richtext a:hover,
  .banner:not(.slideshow) .rte a:hover {
    color: currentColor;
  }
}
@media screen and (min-width: 750px) {
  .banner--desktop-transparent .rte a,
  .banner--desktop-transparent .inline-richtext a:hover,
  .banner--desktop-transparent .rte a:hover {
    color: currentColor;
  }
}
/*# sourceMappingURL=section-image-banner.css.map */
