/* component-modal */
.modal__toggle {
    list-style-type: none;
}

.modal__toggle-close {
    display: none;
}

.modal__toggle-open {
    display: flex;
}

// previously .modal__content (.search-modal)
.modal__outer {
    display: flex;
        justify-content: center;
        align-items: start;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
    // bottom: 0;
    // background-color: rgb(var(--color-background));
    z-index: var(--zi-modal);

    details[open] & {
        opacity: 1;
        animation: animateMenuOpen var(--duration-default) ease;

        &::before {
            position: absolute;
            content: '';
            background-color: rgba(var(--color-foreground), 0.5);
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
        }
    }
}

.modal__inner {
    // border-radius: var(--space);
    box-shadow: 0 0 3rem rgba(var(--color-shadow),0.5);
    margin: 0 auto;
    padding: var(--space-xl);
    outline: 4px solid rgba(var(--color-background), 1);
    outline-offset: -1px;
    // filter: url(#tornPaper);
}

.modal__close-button {
    background-color: transparent;
    color: rgb(var(--color-link));
    cursor: pointer;
    border: none;
    box-shadow: none;
    padding: var(--space);
    position: absolute;
        top: 0;
        right: 0;
    text-decoration: none;

    &:hover,
    &:focus {
        .icon {
            path {
                stroke-dasharray: var(--path-length);
                animation: draw var(--duration-medium) backwards;

                &:nth-child(2) {
                    animation-delay: var(--duration-short);
                }
            }

        }
    }

    .icon path {
        --path-length: 18;
        stroke-width: 1.5px;
        max-width: 1rem;
    }

    // @media screen and (min-width: 750px) {
    //     right: 1rem;
    // }

    // @media screen and (min-width: 990px) {
    //     position: initial;
    //     margin-left: 0.5rem;
    // }
}

.media-modal {
    cursor: zoom-out;

    .deferred-media {
        cursor: initial;
    }
}


.no-js details[open] .modal__toggle {
    position: absolute;
    z-index: 5;
}


.no-js details[open] svg.modal__toggle-close {
    display: flex;
    z-index: 1;
    height: 1.7rem;
    width: 1.7rem;
}


.no-js details[open] .modal__toggle-open {
    display: none;
}


.no-js .modal__close-button.link {
    display: none;
}