@import "helpers/common";

// previously search-modal__form, but that class name was also used elsewhere
.search-modal__form-wrapper {
    width: 100%;

    @media screen and (min-width: 990px) {

        max-width: 74.2rem;
    }
}

.search-modal__form {
    min-width: 50vw;
}


.predictive-search {
    @include scrollbars;
    display: none;

    predictive-search[open] & {
        display: block;
    }

    predictive-search[loading] & {
        display: block;
    }
}

.predictive-search__results-groups-wrapper {
    display: flex;
    // border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    gap: var(--space-xxl);
    padding-bottom: var(--space);
}

.predictive-search__list-item {
    line-height: 1.4;
    margin: 0 0 var(--space);
    padding: 0;
}

.predictive-search__item {
    color: currentColor;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.predictive-search__item--link-with-thumbnail {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-column-gap: var(--space);
    grid-template-areas: 'product-image product-content';
    align-items: center;
}

.predictive-search__item-content {
    grid-area: product-content;
    display: flex;
    flex-direction: column;
}

.predictive-search__item-content--centered {
    justify-content: center;
}

.predictive-search__item-vendor {
    font-size: 0.9rem;
}

.predictive-search__item-heading {
    margin: 0;
    padding: 0;
}


.predictive-search--search-template {
    z-index: 2;
    // width: calc(100% + 0.2rem);
}

.predictive-search__loading-state {
    display: none;
    align-items: center;
    justify-content: center;
    padding: var(--space);

    predictive-search[loading] & {
        display: flex;
    }
}

.predictive-search__search-for-button {
    predictive-search[loading] & {
        display: none;
    }

    button {
        margin-bottom: var(--space-lg);
    }
}

predictive-search[loading] .predictive-search__results-groups-wrapper ~ .predictive-search__search-for-button {
    display: initial;
}

.predictive-search__result-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: var(--space-lg);

    &:first-child {
        .predictive-search__pages-wrapper {
            display: none;
        }

        .predictive-search__results-groups-wrapper--no-products & {
            @media screen and (min-width: 750px) {
                flex-grow: 1;
            }
        }
    }

    &:nth-child(2) {
        .predictive-search__results-groups-wrapper--no-products & {
            @media screen and (min-width: 750px) {
                display: none;
            }
        }

    }
}


// .search-modal {
//     opacity: 0;
//     border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
//     // min-height: calc(100% + var(--inputs-margin-offset) + (2 * var(--inputs-border-width)));
//     // height: 100%;
// }

// .search-modal__content {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     // height: 100%;
//     padding: var(--space-lg) 5rem var(--space-lg) 1rem;
//     line-height: calc(1 + 0.8 / var(--font-body-scale));
//     position: relative;

//     @media screen and (min-width: 750px) {
//         padding: 0 6rem;
//     }
// }

// .search-modal__content-bottom {
//     bottom: calc((var(--inputs-margin-offset) / 2));
// }

// .search-modal__content-top {
//     top: calc((var(--inputs-margin-offset) / 2));
// }





// .no-js details[open]>.header__icon--search {
//     top: 1rem;
//     right: 0.5rem;
// }