// horizontal layout is default
.icon-with-text {
    --icon-size: --icon-size: calc(var(--font-heading-scale) * 3rem);

    display: flex;
        justify-content: center;
        column-gap: var(--space-xl);
        flex-direction: row;
    margin-bottom: var(--space-med);
    padding-top: var(--space-sm);

    .icon,
    img {
        height: var(--icon-size);
        width: var(--icon-size);
    }

    img {
        object-fit: contain;
    }
}

.icon-with-text--vertical {
    --icon-size: calc(var(--font-heading-scale) * 3rem);
    flex-direction: column;
    gap: var(--space);
}


.icon-with-text__item {
    display: flex;
        gap: var(--space-sm);
        align-items: center;
        flex-direction: column;
    width: 33%;
    margin-bottom: var(--space);

    .icon-with-text--vertical & {
        gap: var(--space);
        flex-direction: row;
        width: 100%;
    }
}

.icon-with-text__text {
    text-align: center;
}
