// horizontal layout is default
.icon-with-text {
    --iwt-icon-size: calc(var(--font-heading-scale) * 3rem);

    display: flex;
        justify-content: center;
        column-gap: var(--space-lg);
        flex-direction: row;
    margin-bottom: var(--space-med);
    padding-top: var(--space-sm);


    @media screen and (min-width: 750px) {
        column-gap: var(--space-xl);
    }

    .icon,
    img {
        height: var(--iwt-icon-size);
        width: var(--iwt-icon-size);
    }

    img {
        object-fit: contain;
    }
}

.icon-with-text--vertical {
    --iwt-icon-size: var(--icon-size-xl);

    flex-direction: column;
    gap: var(--space);
}


.icon-with-text__item {
    display: flex;
        gap: var(--space-sm);
        align-items: center;
        flex-direction: column;
    flex: 0 0 auto;
    max-width: 40%;
    margin-bottom: var(--space);

    .icon-with-text--vertical & {
        gap: var(--space);
        flex-direction: row;
        flex: 0 0 auto;
        max-width: 100%;
    }
}

.icon-with-text__text {
    @include text-heading;
    font-size: var(--font-size-h6);
    flex: 0 1 auto;
    text-align: center;

    @media screen and (min-width: 750px) {
        font-size: var(--font-size-h4);
    }

    .icon-with-text--vertical & {
        font-size: var(--font-size-h5);

        @media screen and (min-width: 750px) {
            font-size: var(--font-size-h4);
        }
    }

    .icon-with-text--vertical & {
        text-align: start;
    }
}
