:root {
    --card-badge-padding: 0.8rem;
    --card-badge-padding-lg: calc(var(--card-badge-padding) * 2);
    --card-badge-padding-sm: calc(var(--card-badge-padding) / 2);

    @media screen and (min-width: 990px) {
        --card-badge-padding: 1.2rem;
    }
}

.card-badge {
    --card-badge-offset: -4px;

    --card-badge-surface-shadow-left: linear-gradient(-90deg,rgba(var(--color-shadow), 0.06) 0%, rgba(var(--color-shadow), 0.05) 50%, rgba(var(--color-shadow), 0) 100%);
    --card-badge-surface-shadow-right: linear-gradient(90deg,rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), .05) 7%, rgba(var(--color-shadow), 0.05) 50%);

    --card-badge-drop-shadow-transform-left: skewY(-1deg) scaleY(75%) translateY(-1%);
    --card-badge-drop-shadow-transform-right: skewY(-1deg) rotate(-1deg) scaleX(100%) scaleY(86%) translateY(1%) translateX(-2%);

    --card-badge-drop-shadow-left:  3px 3px 4px 1px rgba(var(--color-shadow), 1);
    --card-badge-drop-shadow-right: 3px 5px 4px 1px rgba(var(--color-shadow), 1);

    border-radius: 0;
    display: flex;
        align-items: stretch;
        font-size: var(--font-size-h6);
        font-weight: bold;
        line-height: 1;
        font-family: var(--font-heading-family);
    position: absolute;
    z-index: 1;

    &::before {
        background-color: rgb(var(--color-shadow));
        content: '';
        mix-blend-mode: multiply;
        opacity: 0.07;
        position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        width: var(--card-badge-padding-lg);
        z-index: calc(var(--zi-base) + 1);
    }

    &::after {
        background-color: rgba(var(--color-shadow),1);
        box-shadow: var(--card-badge-drop-shadow-left);
        content: '';
        mix-blend-mode: multiply;
        opacity: 0.3;
        pointer-events: none;
        position: absolute;
        inset: 0;
        transform: var(--card-badge-drop-shadow-transform-left);
        z-index: -1;
    }
}

.card-badge--article {
    --card-badge-offset: -1px;
}

.card-badge__inner {
    @include sharp-text;
    background-color: rgb(var(--color-background));
    background-image: var(--background-gradient);
    display: inline-block;
    filter: drop-shadow(0px 0px 2px rgba(var(--color-shadow), 0.1));
    font-family: inherit;
    font-size: inherit;
    min-width: 10rem;
    line-height: 1;
    padding: calc(var(--card-badge-padding) + 2px) var(--card-badge-padding) calc(var(--card-badge-padding) - 2px) var(--card-badge-padding-lg);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: var(--zi-base);

    &::before {
        background-image: linear-gradient(90deg, rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), 0.1, ) 100%);
        content: '';
        mix-blend-mode: multiply;
        position: absolute;
        inset: 0;
        left: var(--card-badge-padding-lg);
    }

    .card-badge--article & {
        opacity: var(--opacity-lighter);
        text-transform: none;
    }

    .card-badge--top-right &,
    .card-badge--bottom-right & {
        padding-left: var(--card-badge-padding);
        padding-right: var(--card-badge-padding-lg);

        &::before {
            background-image: linear-gradient(-90deg, rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), 0.1, ) 100%);
            left: 0;
            right: var(--card-badge-padding-lg);
        }
    }
}

.card-badge--top-right,
.card-badge--bottom-right {
    right: var(--card-badge-offset);

    &::before {
        background-image: var(--card-badge-surface-shadow-right);
        left: auto;
        right: 0;
        // order: 2;
    }

    &::after {
        box-shadow: var(--card-badge-drop-shadow-left);
        transform: var(--card-badge-drop-shadow-transform-right);
    }
}

.card-badge--top-left {
    top: calc(var(--card-badge-padding-sm) * -1);
    left: var(--card-badge-offset);

    @media screen and (min-width: 990px) {
        top: var(--card-badge-padding-sm);
    }
}

.card-badge--top-right {
    top: calc(var(--card-badge-padding-sm) * -1);
    right: var(--card-badge-offset);

    @media screen and (min-width: 990px) {
        top: var(--card-badge-padding-sm);
    }
}

.card-badge--bottom-left {
    bottom: var(--card-badge-padding-sm);
    left: var(--card-badge-offset);
}

.card-badge--bottom-right {
    bottom: var(--card-badge-padding-sm);
    right: var(--card-badge-offset);
}