:root {
    --card-badge-offset: -4px;

    --card-badge-surface-shadow-left: linear-gradient(-90deg,rgba(var(--color-shadow), 0.06) 0%, rgba(var(--color-shadow), 0.05) 50%, rgba(var(--color-shadow), 0) 100%);
    --card-badge-surface-shadow-right: linear-gradient(90deg,rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), 0.05) 50%, rgba(var(--color-shadow), 0.06) 100%);

    --card-badge-drop-shadow-transform-left: skewY(-1deg) scaleY(75%) translateY(-1%);
    --card-badge-drop-shadow-transform-right: skewY(3deg) rotate(2deg) scaleX(90%) scaleY(75%) translateY(-4%);

    --card-badge-drop-shadow-left:  3px 3px 4px 1px rgba(var(--color-shadow), 1);
    --card-badge-drop-shadow-right: 3px 5px 4px 1px rgba(var(--color-shadow), 1);

    --card-badge-padding: 1.2rem;
}

.card-badge {
    --card-badge-offset: -4px;

    --card-badge-surface-shadow-left: linear-gradient(-90deg,rgba(var(--color-shadow), 0.06) 0%, rgba(var(--color-shadow), 0.05) 50%, rgba(var(--color-shadow), 0) 100%);
    --card-badge-surface-shadow-right: linear-gradient(90deg,rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), 0.05) 50%, rgba(var(--color-shadow), 0.06) 100%);

    --card-badge-drop-shadow-transform-left: skewY(-1deg) scaleY(75%) translateY(-1%);
    --card-badge-drop-shadow-transform-right: skewY(3deg) rotate(2deg) scaleX(90%) scaleY(75%) translateY(-4%);

    --card-badge-drop-shadow-left:  3px 3px 4px 1px rgba(var(--color-shadow), 1);
    --card-badge-drop-shadow-right: 3px 5px 4px 1px rgba(var(--color-shadow), 1);

    --card-badge-padding: 1.2rem;

    border-radius: 0;
    display: flex;
        align-items: stretch;
        font-size: var(--h6);
        line-height: 1;
        font-family: var(--font-heading-family);
    position: absolute;
    z-index: 1;



    &::before {
        background-color: rgb(var(--color-background));
        background-image: var(--card-badge-surface-shadow-left);
        background-blend-mode: multiply;
        content: '';
        display: inline-block;
        // opacity: 0.1;
        // mix-blend-mode: multiply;
        width: calc(var(--card-badge-padding)*2);
    }

    &::after {
        background-color: rgba(var(--color-shadow),1);
        box-shadow: var(--card-badge-drop-shadow-left);
        content: '';
        mix-blend-mode: multiply;
        // opacity: 0.1;
        pointer-events: none;
        position: absolute;
        inset: 0;
        transform: var(--card-badge-drop-shadow-transform-left);
        z-index: -1;
        outline:    10px dashed orange;
    }
}

.card-badge--article {
    --card-badge-offset: -1px;
}

.card-badge__inner {
    @include sharp-text;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    // font-weight: bold;
    min-width: 10rem;
    line-height: 1;
    padding: var(--card-badge-padding);
    text-align: center;
    text-transform: uppercase;
    transform: translateY(1px);

    .card-badge--article & {
        // font-weight: var(--font-heading-weight);
        opacity: var(--opacity-partial);
        text-transform: none;
    }

    .card-badge--top-right &,
    .card-badge--bottom-right & {
        padding-left: calc(var(--card-badge-padding)*2);
    }

    .card-badge--top-left &,
    .card-badge--bottom-left & {
        padding-right: calc(var(--card-badge-padding)*2);
    }
}

.card-badge--top-right,
.card-badge--bottom-right {
    right: var(--card-badge-offset);

    &::before {
        background-image: var(--card-badge-surface-shadow-right);
        order: 2;
    }

    &::after {
        box-shadow: var(--card-badge-drop-shadow-left);
        transform: var(--card-badge-drop-shadow-transform-right);
    }
}

.card-badge--top-left {
    top: calc(var(--card-badge-padding)/2);
    left: var(--card-badge-offset);
}

.card-badge--top-right {
    top: calc(var(--card-badge-padding)/2);
    right: var(--card-badge-offset);
}

.card-badge--bottom-left {
    bottom: calc(var(--card-badge-padding)/2);
    left: var(--card-badge-offset);
}

.card-badge--bottom-right {
    bottom: calc(var(--card-badge-padding)/2);
    right: var(--card-badge-offset);
}