:root {
    --card-badge-padding: 0.8rem;

    @media screen and (min-width: 990px) {
        --card-badge-padding: 1rem;
    }
}

.card-badge {
    --card-badge-offset: -4px;

    --card-badge-surface-shadow-left: linear-gradient(-90deg,rgba(var(--color-shadow), 0.06) 0%, rgba(var(--color-shadow), 0.05) 50%, rgba(var(--color-shadow), 0) 100%);
    --card-badge-surface-shadow-right: linear-gradient(90deg,rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), .05) 7%, rgba(var(--color-shadow), 0.06) 50%)

    --card-badge-drop-shadow-transform-left: skewY(-1deg) scaleY(75%) translateY(-1%);
    --card-badge-drop-shadow-transform-right: skewY(-1deg) rotate(-1deg) scaleX(100%) scaleY(86%) translateY(1%) translateX(-2%);

    --card-badge-drop-shadow-left:  3px 3px 4px 1px rgba(var(--color-shadow), 1);
    --card-badge-drop-shadow-right: 3px 5px 4px 1px rgba(var(--color-shadow), 1);

    border-radius: 0;
    display: flex;
        align-items: stretch;
        font-size: var(--font-size-h6);
        font-weight: bold;
        line-height: 1.2;
        font-family: var(--font-heading-family);
    position: absolute;
    z-index: 1;

    &::before {
        background-color: rgb(var(--color-background));
        background-image: var(--card-badge-surface-shadow-left);
        background-blend-mode: multiply;
        content: '';
        display: inline-block;
        // opacity: 0.1;
        // mix-blend-mode: multiply;
        width: calc(var(--card-badge-padding)*2);
    }

    &::after {
        background-color: rgba(var(--color-shadow),1);
        box-shadow: var(--card-badge-drop-shadow-left);
        content: '';
        mix-blend-mode: multiply;
        opacity: 0.3;
        pointer-events: none;
        position: absolute;
        inset: 0;
        transform: var(--card-badge-drop-shadow-transform-left);
        z-index: -1;
    }
}

.card-badge--article {
    --card-badge-offset: -1px;
}

.card-badge__inner {
    @include sharp-text;
    background-color: rgb(var(--color-background));
    // background-image: var(--background-gradient);
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    // font-weight: bold;
    min-width: 10rem;
    line-height: 1;
    padding: var(--card-badge-padding);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: var(--zi-base);

    .card-badge--article & {
        // font-weight: var(--font-heading-weight);
        opacity: var(--opacity-lighter);
        text-transform: none;
    }

    .card-badge--top-right &,
    .card-badge--bottom-right & {
        padding-left: calc(var(--card-badge-padding)*2);
    }

    .card-badge--top-left &,
    .card-badge--bottom-left & {
        padding-right: calc(var(--card-badge-padding)*2);
    }
}

.card-badge--top-right,
.card-badge--bottom-right {
    right: var(--card-badge-offset);

    &::before {
        background-image: var(--card-badge-surface-shadow-right);
        order: 2;
    }

    &::after {
        box-shadow: var(--card-badge-drop-shadow-left);
        transform: var(--card-badge-drop-shadow-transform-right);
    }
}

.card-badge--top-left {
    top: calc(var(--card-badge-padding) / -2);
    left: var(--card-badge-offset);

    @media screen and (min-width: 990px) {
        top: calc(var(--card-badge-padding) / 2);
    }
}

.card-badge--top-right {
    top: calc(var(--card-badge-padding) / -2);
    right: var(--card-badge-offset);

    @media screen and (min-width: 990px) {
        top: calc(var(--card-badge-padding) / 2);
    }
}

.card-badge--bottom-left {
    bottom: calc(var(--card-badge-padding)/2);
    left: var(--card-badge-offset);
}

.card-badge--bottom-right {
    bottom: calc(var(--card-badge-padding)/2);
    right: var(--card-badge-offset);
}