.customer__page-content {
    max-width: var(--page-width--medium);
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.customer__header {
    display: flex;
        justify-content: space-between;
        align-items: center;
    gap: var(--space);
    margin-bottom: var(--space);

    h1 {
        margin: 0 auto 0 0;
        padding: 0;
    }

    a {
        display: flex;
    }
}

.customer__content-wrapper {
    display: flex;
        justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 var(--space);

    @media screen and (min-width: 990px) {
        flex-wrap: nowrap;
        gap: 0 var(--space-lg);
    }
}

.customer__main {
    flex: 1 1 auto;
}

.customer__sidebar {
    flex: 1;
    letter-spacing: var(--letter-spacing);
    line-height: 1.4;
    min-width: 20rem;

    @media screen and (min-width: 990px) {
        flex: 0 0 auto;
    }

    hr {
        background: transparent;
        border-bottom: thin dashed rgba(var(--color-foreground), 0.25);
        height: 0;
        margin: var(--space) 0;
        padding: 0;
    }
}

.pg-customer {
    letter-spacing: 0;
    margin-top: var(--space-xl);

    h1 {
        font-size: var(--font-size-h2);
    }

    h2 {
        font-size: var(--font-size-h3);
    }

    h3 {
        font-size: var(--font-size-h4);
    }

    h4 {
        font-size: var(--font-size-h5);
    }

    a {
        color: rgba(var(--color-foreground), var(--alpha-link, 0.8));
    }

    table {
        @include text-body;
        background-color: rgb(var(--color-background));
        box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
        rgba(var(--color-shadow), 0.1);
        color: rgb(var(--color-foreground));
        font-size: var(--font-size-smaller);
        margin-bottom: var(--space-med);
        position: relative;
        table-layout: auto;
    }

    tr {
        display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

        @media screen and (min-width: 750px) {
            display: table-row;
        }
    }

    tbody {
        tr {
            background-image: var(--crease);

            &:hover,
            &:focus {
                th,
                td {
                    background-image: var(--crease-light);
                }
            }
        }
    }

    th,
    td {
        font-size: inherit;
        font-weight: 400;
        border: none;
        line-height: 1.2;
        padding: var(--space-sm) var(--space);
        text-align: right;

        &:first-child {
            text-align: left;
        }
    }

    td {
        display: flex;

        @media screen and (min-width: 750px) {
            display: table-cell;
        }

        // &:first-of-type {
        //     align-items: center;
        // }

        &::before {
            color: rgba(var(--color-foreground), 0.75);
            content: attr(data-label);
            font-size: var(--font-size-smaller, 1.4rem);
            padding-right: var(--space-med);
            // text-transform: uppercase;
            flex-grow: 1;
            text-align: left;

            @media screen and (min-width: 750px) {
                content: none;
            }
        }
    }

    thead {
        display: none;

        @media screen and (min-width: 750px) {
            // background-image: var(--crease);
            display: table-header-group;
        }

        th {
            background: rgba(var(--color-foreground), 0.1);
            color: rgb(var(--color-foreground));
            // font-size: var(--font-size-base);
            font-weight: bold;
            padding-block: calc(var(--space) * 3/4);
            // @include text-heading;
            // --border-width: var(--inputs-border-width);
            // --border-color: rgba(var(--color-foreground), 0.8);
            // border-bottom: var(--border);
            // font-size: var(--font-size-h6);
        }
    }

    tbody {
        td {
            padding-block: var(--space);
        }
    }

    tfoot {
        // --border-width: var(--inputs-border-width);
        // --border-color: rgba(var(--color-foreground), 0.8);
        // border-top: var(--border);
        th,
        td {
            &:first-child {
                display: none;

                @media screen and (min-width: 750px) {
                    display: table-cell;
                    text-align: right;
                }
            }
        }
    }

    .order-details__grand-total {
        th,
        td {
            font-size: var(--font-size-base);
            font-weight: 600;
        }
    }
    // .customer td:empty {
    //   display: initial;
    // }

    // .customer thead th {
    //   font-size: 1.2rem;
    //   letter-spacing: 0.07rem;
    //   text-transform: uppercase;
    // }

    // .customer tbody td:first-of-type {
    //   padding-top: 4rem;
    // }

    // @media screen and (min-width: 750px) {
    //   .customer th,
    //   .customer td:first-of-type {
    //     text-align: left;
    //     padding-left: 0;
    //     padding-right: 2.2rem;
    //   }

    //   .customer thead th,
    //   .customer tbody td {
    //     padding-top: 2.4rem;
    //     padding-bottom: 2.4rem;
    //   }

    //   .customer th:first-of-type,
    //   .customer td:first-of-type {
    //     padding-left: 2.2rem;
    //   }

    //   .customer tbody td {
    //     vertical-align: top;
    //   }

    //   .customer tbody td:first-of-type {
    //     padding-top: 2.4rem;
    //   }
    // }

    // .customer tbody td:last-of-type {
    //   padding-bottom: 4rem;
    // }

    // @media screen and (min-width: 750px) {
    //   .customer tbody td:last-of-type {
    //     padding-bottom: 0;
    //   }
    // }

    // .customer tbody tr {
    //   border-top: 0.01rem solid rgba(var(--color-foreground), 0.08);
    // }

    // @media screen and (min-width: 750px) {
    //   .customer tbody tr:first-of-type {
    //     border-top: none;
    //   }
    // }

    // @media screen and (forced-colors: active) {
    //   .customer tbody tr {
    //     border-top: 0.1rem solid transparent;
    //   }
    // }

    // .customer tfoot td:first-of-type,
    // .customer tfoot td {
    //   padding-top: 0.6rem;
    //   padding-bottom: 0.6rem;
    // }

    // .customer tfoot td:first-of-type {
    //   text-align: left;
    // }

    // .customer tfoot tr:first-of-type td {
    //   padding-top: 4rem;
    // }

    // @media screen and (min-width: 750px) {
    //   .customer tfoot tr:first-of-type td,
    //   .customer tfoot tr:first-of-type th {
    //     padding-top: 2.4rem;
    //   }
    // }

    // .customer tfoot tr:last-of-type td {
    //   padding-bottom: 4rem;
    // }

    // @media screen and (min-width: 750px) {
    //   .customer tfoot tr:last-of-type td,
    //   .customer tfoot tr:last-of-type th {
    //     padding-bottom: 2.4rem;
    //   }
    // }

    /* works around colspan phantom border issues */
    .customer thead::after,
    .customer tfoot::before {
      content: ' ';
      height: 0.1rem;
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      background: rgba(var(--color-foreground), 0.08);
    }

    @media screen and (forced-colors: active) {
      .customer thead::after,
      .customer tfoot::before {
        background: CanvasText;
      }
    }
}
