.site-outer {
    @include scrollbars;
    background: var(--background-image);
    background-size:  var(--background-size);
    background-position: center;
    background-attachment: fixed;
}

.overflow-hidden {
    overflow: hidden;
}

.page-width {
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto;

    // todo
    //outline: 5px dotted red;

    &.utility-bar__grid {
        padding-left: 3rem;
        padding-right: 3rem;

        @media screen and (min-width: 750px) {
            padding-left: 3.2rem;
            padding-right: 3.2rem;
        }
    }
}

// .content-padding-inline {
//      // todo
//      outline: 5px dotted pink;
// }


// .content-padding-inline {
//     // todo
//     outline: 5px dotted purple;
// }

.page-width--medium {
    max-width: var(--page-width--medium);
}

.page-width--narrow {
    max-width: var(--page-width--narrow);
}

.page-width-tablet {
    @media screen and (min-width: 750px) {
        padding: 0 var(--content-padding-inline);
    }
}

.page-width-desktop {
    padding: 0;
    margin: 0 auto;

    @media screen and (min-width: 750px) {
        padding: 0;
    }

    @media screen and (min-width: 990px) {
        max-width: var(--page-width);
        padding: 0 var(--inline-padding-lg);
    }
}

