.site-outer {
    @include scrollbars;
    background: var(--site-background-image);
    background-size:  var(--site-background-size);
    background-repeat: var(--site-background-repeat);
    background-position: center;
    background-attachment: fixed;
    max-width: 100vw;
}

.overflow-hidden {
    overflow: hidden;
}

.page-width,
.background-page {
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto;
}

.page-width--medium {
    max-width: var(--page-width--medium);
}

.page-width--narrow {
    max-width: var(--page-width--narrow);
}

.page-width-tablet {
    @media screen and (min-width: 750px) {
        padding: 0 var(--content-padding-inline);
    }
}

.page-width-desktop {
    padding: 0;
    margin: 0 auto;

    @media screen and (min-width: 750px) {
        padding: 0;
    }

    @media screen and (min-width: 990px) {
        max-width: var(--page-width);
        padding: 0 var(--inline-padding-lg);
    }
}

