/* component-grid */
:root {
    --grid-horizontal-spacing: var(--grid-mobile-horizontal-spacing, 1rem);
    --grid-vertical-spacing: var(--grid-mobile-vertical-spacing, 1rem);

    @media screen and (min-width: 750px) {
        --grid-horizontal-spacing: var(--grid-desktop-horizontal-spacing, 1rem);
        --grid-vertical-spacing: var(--grid-desktop-vertical-spacing, 1rem);
    }
}

.grid {
    display: flex;
        flex-wrap: wrap;
    column-gap: var(--grid-horizontal-spacing);
    row-gap: var(--grid-vertical-spacing);
    list-style: none;
    margin-bottom: var(--space-lg);
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }

    &.grid--gapless {
        column-gap: 0;
        row-gap: 0;
    }

    &.grid--col-gap-lg {
        --grid-horizontal-spacing: calc(var(--grid-mobile-horizontal-spacing) * 2);

        @media screen and (min-width: 750px) {
            --grid-horizontal-spacing: calc(var(--grid-desktop-horizontal-spacing) * 2);
        }
    }
}

.grid__item {
    width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
    max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
    flex-grow: 1;
    flex-shrink: 0;

    .grid--1-col & {
        max-width: 100%;
        width: 100%;
    }

    .grid--2-col & {
        @media screen and (min-width: 750px) {
            width: calc(50% - var(--grid-horizontal-spacing) / 2);
        }
    }

    .grid--3-col & {
        @media screen and (min-width: 750px) {
            width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
        }
    }

    .grid--2-col-tablet & {
        @media screen and (min-width: 750px) {
            width: calc(50% - var(--grid-horizontal-spacing) / 2);
        }
    }

    .grid--3-col-tablet & {
        @media screen and (min-width: 750px) {
            width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
        }
    }

    .grid--4-col-tablet & {
        @media screen and (min-width: 750px) {
            width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
        }
    }

    .grid--1-col-desktop & {
        @media screen and (min-width: 990px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .grid--2-col-desktop & {
        @media screen and (min-width: 990px) {
            width: calc(50% - var(--grid-horizontal-spacing) / 2);
            max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
        }
    }

    .grid--3-col-desktop & {
        @media screen and (min-width: 990px) {
            width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
            max-width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
        }
    }

    .grid--4-col-desktop & {
        @media screen and (min-width: 990px) {
            width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
            max-width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
        }
    }

    .grid--5-col-desktop & {
        @media screen and (min-width: 990px) {
            width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
            max-width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
        }
    }

    .grid--6-col-desktop & {
        @media screen and (min-width: 990px) {
            width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
            max-width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
        }
    }
}


@media screen and (max-width: 749px) {
    .grid__item.slider__slide--full-width {
        width: 100%;
        max-width: none;
    }
}


  @media screen and (max-width: 989px) {
    .grid--1-col-tablet-down .grid__item {
      width: 100%;
      max-width: 100%;
    }
  }





@media screen and (max-width: 749px) {
    .grid--peek.slider .grid__item:first-of-type {
        margin-left: var(--grid-horizontal-spacing);
    }

    .grid--peek.slider--mobile {
        margin: 0;
        width: 100%;
    }

    .grid--peek.slider--mobile .grid__item {
        box-sizing: content-box;
        margin: 0;
    }

    .grid--peek .grid__item {
        min-width: 35%;
    }

    // .grid--peek.slider .grid__item:first-of-type:not(:only-child) {
    //     margin-left: 1.5rem;
    // }

    // Fix to show some space at the end of our sliders in all browsers
    .grid--peek.slider:after {
        margin-left: calc(-1 * var(--grid-horizontal-spacing));
    }

    .grid--2-col-tablet-down .grid__item {
        width: calc(50% - var(--grid-horizontal-spacing) / 2);
    }

    .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item,
    .grid--peek .grid__item {
        width: calc(50% - var(--grid-horizontal-spacing) - var(--space));
    }

    .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
    .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
        width: calc(100% - var(--grid-horizontal-spacing) - var(--space));
    }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
    .slider--tablet.grid--peek .grid__item {
        width: calc(25% - var(--grid-horizontal-spacing) - var(--space));
    }

    .slider--tablet.grid--peek.grid--3-col-tablet .grid__item {
        width: calc(33.33% - var(--grid-horizontal-spacing) - var(--space));
    }

    .slider--tablet.grid--peek.grid--2-col-tablet .grid__item,
    .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item {
        width: calc(50% - var(--grid-horizontal-spacing) - var(--space));
    }

    .slider--tablet.grid--peek .grid__item:first-of-type {
        margin-left: 1.5rem;
    }

    .grid--2-col-tablet-down .grid__item {
        width: calc(50% - var(--grid-horizontal-spacing) / 2);
    }

    .grid--1-col-tablet-down.grid--peek .grid__item {
        width: calc(100% - var(--grid-horizontal-spacing) - var(--space-sm));
    }
}


// /* component-grid */
// .grid {
//     display: flex;
//     flex-wrap: wrap;
//     column-gap: var(--grid-horizontal-spacing);
//     row-gap: var(--grid-vertical-spacing);
//     list-style: none;
//     margin-bottom: var(--space-lg);
//     padding: 0;


//     @media screen and (min-width: 750px) {
//         column-gap: var(--grid-horizontal-spacing);
//         row-gap: var(--grid-desktop-vertical-spacing);
//     }

//     &:last-child {
//         margin-bottom: 0;
//     }

//     &.grid--gapless {
//         column-gap: 0;
//         row-gap: 0;
//     }
// }

// .grid__item {
//     flex-grow: 1;
//     flex-shrink: 0;
//     max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
//     width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);

//     @media screen and (min-width: 750px) {
//         width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
//         max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
//     }


//     .grid--1-col & {
//         max-width: 100%;
//         width: 100%;
//     }

//     .grid--2-col & {
//         @media screen and (min-width: 750px) {
//             width: calc(50% - var(--grid-horizontal-spacing) / 2);
//         }
//     }

//     .grid--3-col & {
//         width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);

//         @media screen and (min-width: 750px) {
//             width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
//         }
//     }

//     .grid--2-col-tablet & {
//         @media screen and (min-width: 750px) {
//             width: calc(50% - var(--grid-horizontal-spacing) / 2);
//         }
//     }

//     .grid--3-col-tablet & {
//         @media screen and (min-width: 750px) {
//             width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
//         }
//     }

//     .grid--4-col-tablet & {
//         @media screen and (min-width: 750px) {
//             width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
//         }
//     }
// }



// @media screen and (max-width: 749px) {
//     .grid__item.slider__slide--full-width {
//         width: 100%;
//         max-width: none;
//     }
// }

//   @media screen and (max-width: 989px) {
//     .grid--1-col-tablet-down .grid__item {
//       width: 100%;
//       max-width: 100%;
//     }

//     .slider--tablet.grid--peek {
//       margin: 0;
//       width: 100%;
//     }

//     .slider--tablet.grid--peek .grid__item {
//       box-sizing: content-box;
//       margin: 0;
//     }

//     .slider.slider--tablet .scroll-trigger.animate--slide-in,
//     .slider.slider--mobile .scroll-trigger.animate--slide-in {
//       animation: none;
//       opacity: 1;
//       transform: inherit;
//     }

//     .scroll-trigger:not(.scroll-trigger--offscreen) .slider--tablet {
//       animation: var(--animation-slide-in);
//     }
//   }

//   @media screen and (min-width: 990px) {
//     .grid--6-col-desktop .grid__item {
//       width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
//       max-width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
//     }

//     .grid--5-col-desktop .grid__item {
//       width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
//       max-width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
//     }

//     .grid--4-col-desktop .grid__item {
//       width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
//       max-width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
//     }

//     .grid--3-col-desktop .grid__item {
//       width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
//       max-width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
//     }

//     .grid--2-col-desktop .grid__item {
//       width: calc(50% - var(--grid-horizontal-spacing) / 2);
//       max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
//     }

//     .slider.slider--desktop .scroll-trigger.animate--slide-in {
//       animation: none;
//       opacity: 1;
//       transform: inherit;
//     }

//     .scroll-trigger:not(.scroll-trigger--offscreen) .slider--desktop {
//       animation: var(--animation-slide-in);
//     }
//   }

//   @media screen and (min-width: 990px) {
//     .grid--1-col-desktop {
//       flex: 0 0 100%;
//       max-width: 100%;
//     }

//     .grid--1-col-desktop .grid__item {
//       width: 100%;
//       max-width: 100%;
//     }
//   }

//   @media screen and (max-width: 749px) {
//     .grid--peek.slider--mobile {
//       margin: 0;
//       width: 100%;
//     }

//     .grid--peek.slider--mobile .grid__item {
//       box-sizing: content-box;
//       margin: 0;
//     }

//     .grid--peek .grid__item {
//       min-width: 35%;
//     }

//     .grid--peek.slider .grid__item:first-of-type {
//       margin-left: 1.5rem;
//     }

//     /* Fix to show some space at the end of our sliders in all browsers */
//     .grid--peek.slider:after {
//       margin-left: calc(-1 * var(--grid-horizontal-spacing));
//     }

//     .grid--2-col-tablet-down .grid__item {
//       width: calc(50% - var(--grid-horizontal-spacing) / 2);
//     }

//     .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item,
//     .grid--peek .grid__item {
//       width: calc(50% - var(--grid-horizontal-spacing) - 3rem);
//     }

//     .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
//     .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
//       width: calc(100% - var(--grid-horizontal-spacing) - 3rem);
//     }
//   }

//   @media screen and (min-width: 750px) and (max-width: 989px) {
//     .slider--tablet.grid--peek .grid__item {
//       width: calc(25% - var(--grid-horizontal-spacing) - 3rem);
//     }

//     .slider--tablet.grid--peek.grid--3-col-tablet .grid__item {
//       width: calc(33.33% - var(--grid-horizontal-spacing) - 3rem);
//     }

//     .slider--tablet.grid--peek.grid--2-col-tablet .grid__item,
//     .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item {
//       width: calc(50% - var(--grid-horizontal-spacing) - 3rem);
//     }

//     .slider--tablet.grid--peek .grid__item:first-of-type {
//       margin-left: 1.5rem;
//     }

//     .grid--2-col-tablet-down .grid__item {
//       width: calc(50% - var(--grid-horizontal-spacing) / 2);
//     }

//     .grid--1-col-tablet-down.grid--peek .grid__item {
//       width: calc(100% - var(--grid-horizontal-spacing) - 3rem);
//     }
//   }
// // /* component-grid */


// //   @media screen and (min-width: 750px) {
// //     .grid {
// //       column-gap: var(--grid-horizontal-spacing);
// //       row-gap: var(--grid-desktop-vertical-spacing);
// //     }
// //   }

// //   .grid:last-child {
// //     margin-bottom: 0;
// //   }

// //   .grid__item {
// //     width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
// //     max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //     flex-grow: 1;
// //     flex-shrink: 0;
// //   }

// //   @media screen and (min-width: 750px) {
// //     .grid__item {
// //       width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
// //       max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //     }
// //   }

// //   .grid--gapless.grid {
// //     column-gap: 0;
// //     row-gap: 0;
// //   }

// //   @media screen and (max-width: 749px) {
// //     .grid__item.slider__slide--full-width {
// //       width: 100%;
// //       max-width: none;
// //     }
// //   }

// //   .grid--1-col .grid__item {
// //     max-width: 100%;
// //     width: 100%;
// //   }

// //   .grid--3-col .grid__item {
// //     width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
// //   }

// //   @media screen and (min-width: 750px) {
// //     .grid--3-col .grid__item {
// //       width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
// //     }
// //   }

// //   .grid--2-col .grid__item {
// //     width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //   }

// //   @media screen and (min-width: 750px) {
// //     .grid--2-col .grid__item {
// //       width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //     }

// //     .grid--4-col-tablet .grid__item {
// //       width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
// //     }

// //     .grid--3-col-tablet .grid__item {
// //       width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
// //     }

// //     .grid--2-col-tablet .grid__item {
// //       width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //     }
// //   }

// //   @media screen and (max-width: 989px) {
// //     .grid--1-col-tablet-down .grid__item {
// //       width: 100%;
// //       max-width: 100%;
// //     }

// //     .slider--tablet.grid--peek {
// //       margin: 0;
// //       width: 100%;
// //     }

// //     .slider--tablet.grid--peek .grid__item {
// //       box-sizing: content-box;
// //       margin: 0;
// //     }

// //     .slider.slider--tablet .scroll-trigger.animate--slide-in,
// //     .slider.slider--mobile .scroll-trigger.animate--slide-in {
// //       animation: none;
// //       opacity: 1;
// //       transform: inherit;
// //     }

// //     .scroll-trigger:not(.scroll-trigger--offscreen) .slider--tablet {
// //       animation: var(--animation-slide-in);
// //     }
// //   }

// //   @media screen and (min-width: 990px) {
// //     .grid--6-col-desktop .grid__item {
// //       width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
// //       max-width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
// //     }

// //     .grid--5-col-desktop .grid__item {
// //       width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
// //       max-width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
// //     }

// //     .grid--4-col-desktop .grid__item {
// //       width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
// //       max-width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
// //     }

// //     .grid--3-col-desktop .grid__item {
// //       width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
// //       max-width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
// //     }

// //     .grid--2-col-desktop .grid__item {
// //       width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //       max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //     }

// //     .slider.slider--desktop .scroll-trigger.animate--slide-in {
// //       animation: none;
// //       opacity: 1;
// //       transform: inherit;
// //     }

// //     .scroll-trigger:not(.scroll-trigger--offscreen) .slider--desktop {
// //       animation: var(--animation-slide-in);
// //     }
// //   }

// //   @media screen and (min-width: 990px) {
// //     .grid--1-col-desktop {
// //       flex: 0 0 100%;
// //       max-width: 100%;
// //     }

// //     .grid--1-col-desktop .grid__item {
// //       width: 100%;
// //       max-width: 100%;
// //     }
// //   }

// //   @media screen and (max-width: 749px) {
// //     .grid--peek.slider--mobile {
// //       margin: 0;
// //       width: 100%;
// //     }

// //     .grid--peek.slider--mobile .grid__item {
// //       box-sizing: content-box;
// //       margin: 0;
// //     }

// //     .grid--peek .grid__item {
// //       min-width: 35%;
// //     }

// //     .grid--peek.slider .grid__item:first-of-type {
// //       margin-left: 1.5rem;
// //     }

// //     /* Fix to show some space at the end of our sliders in all browsers */
// //     .grid--peek.slider:after {
// //       margin-left: calc(-1 * var(--grid-horizontal-spacing));
// //     }

// //     .grid--2-col-tablet-down .grid__item {
// //       width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //     }

// //     .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item,
// //     .grid--peek .grid__item {
// //       width: calc(50% - var(--grid-horizontal-spacing) - 3rem);
// //     }

// //     .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
// //     .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
// //       width: calc(100% - var(--grid-horizontal-spacing) - 3rem);
// //     }
// //   }

// //   @media screen and (min-width: 750px) and (max-width: 989px) {
// //     .slider--tablet.grid--peek .grid__item {
// //       width: calc(25% - var(--grid-horizontal-spacing) - 3rem);
// //     }

// //     .slider--tablet.grid--peek.grid--3-col-tablet .grid__item {
// //       width: calc(33.33% - var(--grid-horizontal-spacing) - 3rem);
// //     }

// //     .slider--tablet.grid--peek.grid--2-col-tablet .grid__item,
// //     .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item {
// //       width: calc(50% - var(--grid-horizontal-spacing) - 3rem);
// //     }

// //     .slider--tablet.grid--peek .grid__item:first-of-type {
// //       margin-left: 1.5rem;
// //     }

// //     .grid--2-col-tablet-down .grid__item {
// //       width: calc(50% - var(--grid-horizontal-spacing) / 2);
// //     }

// //     .grid--1-col-tablet-down.grid--peek .grid__item {
// //       width: calc(100% - var(--grid-horizontal-spacing) - 3rem);
// //     }
// //   }