.checkable__highlight {
    display: inline-flex;
    align-items: center;

    input {
        opacity: 0;
        position: absolute;
        z-index: -1;

        &:checked {
            ~.checkable__highlight-text {
                &::before {
                    transition: transform var(--duration-long) var(--transition-type);
                    transform: rotate(-2deg) scaleX(1);
                }
            }
        }

        .no-js & {
            z-index: 0;
        }
    }
}

.checkable__highlight-text {
    cursor: pointer;
    padding: var(--space-xs) var(--space-sm);
    position: relative;
    z-index: var(--zi-base);

    &::before {
        background: rgba(var(--color-highlight), var(--highlight-opacity));
        border-radius: var(--button-border-radius);
        content: '';
        margin: -2px;
        position: absolute;
            inset: 0;
        transform: rotate(-1deg) scaleX(0);
        transform-origin: center left;
        transition-delay: 100ms;
        z-index: -1;
    }
}

// ~.icon is the standard layout
// ~label is required by the recipient form(todo: refactor?)
input[type="checkbox"] {
    ~.icon .icon-tick-background-circle,
    ~label .icon-tick-background-circle {
        display: none;
    }
}

input[type="radio"] {
    ~.icon .icon-tick-background-square,
    ~ label .icon-tick-background-square {
        display: none;
    }
}

.checkable__tick {
    --path-length: 19;
    --icon-size: 2rem;
    --icon-padding: 0.1rem;
    --icon-container-size: calc(var(--icon-size) + var(--icon-padding) + var(--icon-padding));
    cursor: pointer;
    display: inline-flex;
        align-items: center;
        justify-content: start;
    margin: 0 var(--space) var(--space) 0;
    padding-left: calc(--icon-container-size + var(--space));
    position: relative;

    // &::before {
    //     border-radius:  255px 250px 225px 250px/250px 225px 260px 255px;
    //     border-width: var(--button-border-width);
    //     border-color: currentColor;
    //     border-style: solid;
    //     color: currentColor;
    //     content: '';
    //     height: var(--icon-container-size);
    //     width: var(--icon-container-size);
    // }

    input {
        opacity: 0;
        position: absolute;
        z-index: -1;

        &:checked {
            ~.icon {
                .icon-tick-draw {
                    opacity: 1;
                    animation-name: draw;
                }
            }
        }
    }

    .icon {
        display: block;
        height: var(--icon-size);
        width: var(--icon-size);
        margin-right: var(--space-sm);
    }

    &:hover {
        .icon-tick-draw {
            opacity: 1;
            animation-name: draw;
        }
    }
}

input[checkbox]:checked + .checkable__tick {
    .icon-tick-draw {
        opacity: 1;
        animation-name: draw;
    }
}


.icon-tick-draw {
    opacity: 0;
    stroke-dashoffset: var(--path-length);
    stroke-dasharray: var(--path-length);

    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-duration: var(--duration-long);
}

    // .checkable,
// .checkable-list label {
//     cursor: pointer;
//     color: var(--text);
//     font-family: var(--font-body);
//     font-size: var(--p-small);
//     font-weight: 400;
//     line-height: 1.2;
//     position: relative;
// }

// .checkable {
//     img {
//         transition: all var(--transition);
//     }

//     input {
//         appearance: none;
//         cursor: pointer;
//         opacity: 0;
//         margin: 0;
//         padding: 0;
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         z-index: 10;

//         &:checked {
//             ~ .swatch {
//                 border-radius: 0;

//                 min-width: 100%;
//                 min-height: 100%;
//             }
//         }
//     }
// }

// .checkable-text {
//     position: relative;
//     z-index: 1;
// }

// .checkable-list {
//     display: flex;
//     list-style: none;
//     margin: 0;
//     padding: 0;

//     li {
//         font-size: var(--sm);
//         margin: 0 0 var(--space-sm);
//         padding: 0;
//     }

//     label {
//         cursor: pointer;

//         margin: 0 var(--space) var(--space-sm) 0;
//     }

//     input {
//         margin-right: var(--space-xs);
//     }
// }

