label {
    font-size: var(--h6);
    font-weight: 600;
    color: var(--heading);
    display: block;
    //margin: 0 0 var(--space-sm) 0;
    margin: 0;

    abbr {
        text-decoration: none;
        color: var(--warning);
    }
}

input,
textarea,
select,
.multiselect-themed.multiselect-themed   {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-size: 1rem;
    margin: 0 0 var(--space);
    width: 100%;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-internal-autofill-selected{
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
        transition: background-color 5000s ease-in-out 0s;
        }
}

input,
textarea,
select,
.multiselect-themed.multiselect-themed  {
    border-bottom: 1px solid var(--biro);
    padding: var(--space-sm) ;

    &:-internal-autofill-selected, &:-internal-light-dark {
        background: transparent !important;
    }
}

input[type="checkbox"],
input[type="radio"] {
    appearance: auto;
    -webkit-appearance: auto;
    background: transparent;
    width: auto;
}

textarea {
    min-height: 160px;
}


.multiselect-themed.multiselect-themed {
    padding-inline: 0;

    .multiselect-tags {
        padding: 0;
    }

    .multiselect-tag {
        background: var(--off-white);
        color: var(--biro);
        font-size: var(--xs);
        font-weight: normal;
    }
}