input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

:root {
    --field-height: 4rem;
    --border-width: var(--inputs-border-width);
    --border-color: rgba(var(--color-foreground), 0.8);
    --field-left-padding: 3px; // keep the input text roughly aligned with the select text
    --field-bottom-space: var(--space-lg);
}

.field {
    // grid-template-rows leaves space for the error message to slot in

    --border-color: rgba(var(--color-foreground), var(--inputs-border-opacity));

    // border-radius: var(--inputs-border-radius);
    // border-bottom-left-radius: 0;
    border-bottom: var(--border);
    border-color: var(--border-color);
    display: grid;
        grid-template-areas: 'field-input' 'field-error';
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 0 var(--space-sm);
    margin: 0 0 var(--field-bottom-space);
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;

    &.status-error {
        border-bottom: none;
    }
}

.field--single-line {
    grid-template-areas: 'field-input field-button';
    grid-template-columns: 1fr auto;

    &.status-error {
        border-bottom: var(--border);
    }

    +.field__error {
        border-top: 0;
        margin-top: calc(var(--space) * -1);
        padding-top: 0;
    }
}

.field--search {
    grid-template-areas: 'field-input field-reset field-button';
    grid-template-columns: 1fr max-content max-content;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.field__label {
    grid-area: field-input;

    color: rgba(var(--color-foreground), 1);
    line-height: 1.2;
    opacity: var(--opacity-lighter);
    text-align: left;

    .field.status-error & {
        color: currentColor;
    }

    abbr {
        opacity: var(--opacity-light);
    }
}

.field__required {
    cursor: help;
    opacity: var(--opacity-light);
    text-decoration: none;
}

.field__input {
    grid-area: field-input;

    appearance: textfield;
    background: transparent;
    border: 0;
    box-shadow: none;
    color: rgba(var(--color-foreground), 1);
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: calc(var(--font-heading-scale) * 1.2rem);
    line-height: 1;
    min-height: var(--field-height);
    outline: 2px solid transparent;
    margin: 0;
    padding: 0 0 0 3px;
    scroll-margin-top: 10rem;
    text-align: left;
    text-indent: 1px;
    z-index: var(--zi-base);
    width: 100%;

    .field--search & {
        padding-top: var(--field-bottom-space);
    }

    &:is(textarea) {
        @include scrollbars;
        line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
        padding-top: var(--space);
    }

    @include placeholder {
        opacity: 0;
    }

    ~ .field__label {
        margin: 0;
        padding: 0;
        transition: transform var(--duration-short) var(--transition-type);
        transform: translateX(var(--field-left-padding));
        transform-origin: top left;
    }

    @at-root {
        .field--single-line {
            .field__label {
                transform: translateX(var(--field-left-padding)) translateY(var(--space-sm));
            }
        }
    }

    &:placeholder-shown ~ .field__label {
        cursor: text;
    }

    &:not(:placeholder-shown),
    &:focus{
        ~ .field__label {
            cursor: pointer;
            transform: translateY(calc(var(--field-bottom-space) * -0.6)) translateX(var(--field-left-padding)) scale(0.8);
            // transform: translateY(calc(var(--space-lg) * -1.2)) scale(0.8);
        }
    }

    &[type="date"] {
        cursor: pointer;
    }
}

.field__maxchars {
    display: flex;
        // justify-content: space-between;
        justify-content: flex-end;
    font-size: var(--font-size-small);
    font-style: italic;
    padding-left: var(--field-left-padding);
    text-align: right;
    margin-top: calc(var(--field-bottom-space) * -1);
    margin-bottom: var(--field-bottom-space);
}

::-webkit-calendar-picker-indicator {
    background: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
}

.field__button {
    grid-area: field-button;

    &[type="reset"] {
        grid-area: field-reset;
    }

    display: flex;
        align-items: center;
        justify-content: center;
    background-color: transparent;
    border: 0;
    color: currentColor;
    cursor: pointer;
    overflow: clip;
    padding: var(--space-sm);
    min-width: 3rem;

    .field--single-line & {
        padding-right: 0;
    }

    svg {
        pointer-events: none;
    }
}


.field__error {
    --icon-size: var(--icon-size-sm);
    grid-area: field-error;

    border-top: var(--border);
    border-color: currentColor;
    display: flex;
        align-items: center;
        justify-content: flex-end;
    font-size: var(--font-size-small);
    font-weight: normal;
    gap: var(--space-xs);
    line-height: 1;

    .status-error &,
    &.status-error {
        padding: var(--space-xs) 0;
    }

}

