// .select is the outer wrapper
// used eg on the product detail page when variant picker type is 'dropdown'
.select {
    display: grid;
    grid-template-areas: "select select";
    grid-gap: var(--space);
    grid-template-columns: 1fr var(--icon-size-sm);
    line-height: 1;

    &:hover {
        .icon {
            transform: rotate(180deg);
        }
    }

    .icon {
        grid-area: select;
        align-self: center;
        margin: auto var(--space) auto auto;
        pointer-events: none;
        width: var(--icon-size-sm);
        height: var(--icon-size-xs);
        pointer-events: none;
    }
}

.select__select {
    appearance: none;
    background: rgba(var(--color-background), var(--inputs-background-opacity));
    border-radius: var(--inputs-border-radius);
    border: var(--inputs-border-width) solid rgba(var(--color-foreground), var(--inputs-border-opacity));
    box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) rgba(var(--color-shadow), var(--inputs-shadow-opacity));
    color: rgba(var(--color-foreground), 1);
    font-family: var(--font-heading-family);
    font-size: calc(var(--font-heading-scale) * 1.2rem);
    font-style: var(--font-heading-style);
    grid-area: select;
    height: 4.5rem;
    min-height: var(--field-height);
    min-width: calc(7rem + (var(--inputs-border-width)* 2));
    outline: 2px solid transparent;
    padding-inline: var(--space);
    position: relative;
    width: 100%;

    option:checked,
    option:hover {
        background-color: rgba(var(--color-highlight), var(--highlight-opacity));
    }
}