.form__message {
    // --border-color: currentColor;
    // border: var(--border);
    // border-width: var(--border-width) 0;
    margin: var(--space-med) 0;
    padding: var(--space) 0;

    &[class*='status-'] {
        background: rgba(var(--color-status-background), var(--opacity-lighter));
        padding: var(--space) var(--space) 0;
    }

    &.status-error {
        color: rgba(var(--color-danger), 1);
    }

    &.status-success {
        color: rgba(var(--color-success), 1);
    }

    a {
        @include underlined-link;
        &::before,
        &::after {
            background-color: currentColor;
        }
    }
}

.form__status-heading {
    color: currentColor;
    display: flex;
        align-items: center;
        gap: var(--space-sm);
    margin: 0;
    padding: 0;

    .status-error & {
        @include text-body;
        font-size: var(--font-size-smaller);
        margin-bottom: var(--space-sm);
    }
}

.form__status {
    margin: 0;
    padding: 0;
}

.form__status-list {
    font-size: var(--font-size-smaller);
    list-style: disc;
    //padding: 0 0 0 var(--space-med);
    padding: 0 0  var(--space) 2.25rem;

    &.form__status-list {
        a {
            color: currentColor;
        }
    }

    // li {
    //     &::marker {
    //         color: rgba(var(--color-foreground), var(--opacity-light));
    //     }
    // }
}