.product__media-wrapper {
    padding-left: 0;

    @media screen and (min-width: 750px) {
        margin-bottom: var(--space);
    }

    &.product__media-wrapper {
        // overriding grid style specificity
        background: transparent;
        max-width: none;

        @media screen and (max-width: 749px) {
            margin-inline: calc(var(--content-padding-inline) * -1);

            .section-featured-product & {
                margin-inline: auto;
            }
        }

        slider-component {
            margin-bottom: var(--grid-vertical-spacing);
            padding-bottom: 0;
            padding-inline: 0;
        }

        .slider.slider--tablet-up {
            overflow-x: auto;

            // padding: 0; // cuts off thumbnails on hover
            padding: var(--space) 0;
            margin-top: calc(var(--space-sm) * -1);

            @media screen and (min-width: 750px) {
                overflow: hidden;
            }
        }
    }
}

.product__media-list {
    @media screen and (max-width: 749px) {
        margin-left: -2.5rem;
        margin-bottom: 3rem;
        width: calc(100% + 4rem);
    }

    @media screen and (min-width: 750px) {
        padding-right: calc(var(--media-shadow-horizontal-offset) * var(--media-shadow-visible));
    }

    &.product__media-list {
        padding-bottom: 0;

        .texture-lined & {
            column-gap: 0; // the texture border space is sufficient
        }

        @media screen and (min-width: 750px) {
            justify-content: center;
        }
    }

    .product--thumbnail &,
    .product--thumbnail_slider & {
        flex-direction: row;

        @media screen and (min-width: 750px) {
            padding-bottom: calc(var(--media-shadow-vertical-offset) * var(--media-shadow-visible));
            width: 100%;

        }
    }

    .media {
        >* {
            overflow: clip;
        }
    }

    .deferred-media {
        display: none;

        @media screen and (min-width: 750px) {
                display: block;
        }
    }

    video {
        border-radius: calc(var(--media-radius) - var(--media-border-width));
    }
}

.product__media-item {
    &.product__media-item {
        width: calc(100% - 3rem - var(--grid-horizontal-spacing));

        @media screen and (min-width: 750px) and (max-width: 989px) {
            width: 100%;
        }

        &:first-child {
            @media screen and (min-width: 750px) and (max-width: 989px) {
                padding-left: 0;
            }
        }

        @media screen and (max-width: 749px) {
            .product--mobile-columns & {
                width: calc(50% - var(--content-padding-inline) - var(--grid-horizontal-spacing));

                .texture-lined & {
                    width: calc(50% - var(--content-padding-inline) - var(--grid-horizontal-spacing) - var(--texture-lined-border-size));
                }
            }
        }
    }

    // eg in product-media.liquid --variant but no .product__media-item
    &.product__media-item--variant {
        display: none;

        &:first-child {
            display: block;
        }
    }

    >* {
        display: block;
        position: relative;
    }
}

@media screen and (min-width: 990px) {
    .product--large:not(.product--no-media) .product__media-wrapper {
        max-width: 65%;
        width: calc(65% - var(--grid-desktop-horizontal-spacing) / 2);
    }

    .product--large:not(.product--no-media) .product__info-wrapper {
        max-width: 35%;
        width: calc(35% - var(--grid-desktop-horizontal-spacing) / 2);
    }


    .product--medium:not(.product--no-media) .product__media-wrapper,
    .product--small:not(.product--no-media) .product__info-wrapper {
        max-width: 55%;
        width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);
    }

    .product--medium:not(.product--no-media) .product__info-wrapper,
    .product--small:not(.product--no-media) .product__media-wrapper {
        max-width: 45%;
        width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
    }
}


.thumbnail-list.thumbnail-list.thumbnail-list {
    @media screen and (min-width: 750px) {
        margin-top: calc(var(--media-border-width) * -1/2);
        padding: 0;
    }
}

.thumbnail-list {
    &:has(:nth-child(3)) {
        .thumbnail-list__item:nth-child(2n) & {
            transform: rotate(-1deg) translateY(-2px);

            &:hover,
            &:focus {
                transform: var(--hover-transform);
            }
        }

        .thumbnail-list__item:nth-child(3n) & {
            transform: rotate(1deg);

            &:hover,
            &:focus {
                transform: var(--hover-transform);
            }
        }

        .thumbnail-list__item:nth-child(4n) & {
            transform: rotate(-0.5deg);

            &:hover,
            &:focus {
                transform: var(--hover-transform);
            }
        }

        .thumbnail-list__item:nth-child(3n + 1) & {
            transform: rotate(0.5deg) translateY(2px);

            &:hover,
            &:focus {
                transform: var(--hover-transform);
            }
        }
    }
}

.thumbnail {
    --hover-scale: 1.1;
    --hover-transform: scale(var(--hover-scale)) rotate(0deg);

    background-color: rgba(var(--color-media-border), var(--media-border-opacity));
    border: calc(var(--media-border-width)/2) solid rgba(var(--color-media-border), var(--media-border-opacity));
    box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
    border-radius: var(--media-radius);
    color: rgb(var(--color-foreground));
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    // overflow: visible !important;
    overflow: clip;
    padding: 0;
    position: relative;
    transition: all var(--duration-medium) var(--transition-type);

    &:hover,
    &:focus {
        transform: var(--hover-transform);
        z-index: 2;
    }

    &[aria-current],
    &[aria-current]:focus:not(:focus-visible) {
        pointer-events: none;
        //transform: rotate(0deg) scale(calc(var(--hover-scale) * 1.05));
        transform: var(--hover-transform);
        z-index: 1;

        img {
            filter: brightness(1.15);
        }
    }

    img {
        margin: auto;
        transform: scale(1.02);
        transition: all var(--duration-medium) var(--transition-type);
    }
}

.image-magnify-full-size {
    cursor: zoom-out;
    z-index: 1;
    margin: 0;
    border-radius: calc(var(--media-radius) - var(--media-border-width));
}

.image-magnify-hover {
    cursor: zoom-in;
}


.product--no-media .product__info-container>modal-opener {
    display: block;
    // text-align: center;
}



//   .product--no-media .price {
//     text-align: center;
//   }

/* Product media */


@media screen and (max-width: 749px) {
    // .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
    //   margin-left: -1.5rem;
    //   margin-right: -1.5rem;
    // }

    .slider.product__media-list::-webkit-scrollbar {
        height: 0.2rem;
        width: 0.2rem;
    }

    .product__media-list::-webkit-scrollbar-thumb {
        background-color: rgb(var(--color-foreground));
    }

    .product__media-list::-webkit-scrollbar-track {
        background-color: rgba(var(--color-foreground), 0.2);
    }
}

@media screen and (min-width: 750px) {

    .product--thumbnail .product__media-item:not(.is-active),
    .product--thumbnail_slider .product__media-item:not(.is-active) {
        display: none;
    }

    .product-media-modal__content>.product__media-item--variant.product__media-item--variant {
        display: none;
    }

    .product-media-modal__content>.product__media-item--variant:first-child {
        display: block;
    }
}



@media screen and (min-width: 750px) and (max-width: 989px) {
    .product__media-list .product__media-item:first-child {
        padding-left: 0;
    }

    .product--thumbnail_slider .product__media-list {
        margin-left: 0;
    }

    .product__media-list .product__media-item {
        width: 100%;
    }
}

@media screen and (min-width: 750px) {
    .grid__item.product__media-item--full {
        width: 100%;
    }

    .product--columns .product__media-item:not(.product__media-item--single):not(:only-child) {
        max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
    }

    .product--large.product--columns .product__media-item--full .deferred-media__poster-button {
        height: 5rem;
        width: 5rem;
    }

    .product--medium.product--columns .product__media-item--full .deferred-media__poster-button {
        height: 4.2rem;
        width: 4.2rem;
    }

    .product--medium.product--columns .product__media-item--full .deferred-media__poster-button .icon {
        width: 1.8rem;
        height: 1.8rem;
    }

    .product--small.product--columns .product__media-item--full .deferred-media__poster-button {
        height: 3.6rem;
        width: 3.6rem;
    }

    .product--small.product--columns .product__media-item--full .deferred-media__poster-button .icon {
        width: 1.6rem;
        height: 1.6rem;
    }
}

@media screen and (min-width: 990px) {
    .product--stacked .product__media-item {
        //max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
        max-width: calc(33.34% - var(--grid-horizontal-spacing)); // product detail page
    }

    .product:not(.product--columns) .product__media-list .product__media-item:first-child,
    .product:not(.product--columns) .product__media-list .product__media-item--full {
        width: 100%;
        max-width: 100%;
    }
}



/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {
    .product-form__input input[type='radio']:focus-visible+label {
        outline: transparent solid 1px;
        outline-offset: 2px;
    }
}

@media screen and (max-width: 749px) {
    .product--thumbnail .is-active .deferred-media,
    .product--thumbnail_slider .is-active .deferred-media {
        display: block;
        width: 100%;
    }
}

.thumbnail-list {
    flex-wrap: wrap;
    grid-gap: var(--space);
    padding-block: var(--space);
    margin-top: calc(var(--space)*-1);
}

/* Fix to show some space at the end of our sliders in all browsers to be applied on thumbnails */
.slider--mobile.thumbnail-list:after {
    content: none;
}

@media screen and (min-width: 750px) {
    .product--stacked .thumbnail-list {
        display: none;
    }

    .thumbnail-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.thumbnail-list_item--variant:not(:first-child) {
    display: none;
}

@media screen and (min-width: 990px) {
    .thumbnail-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .product--medium .thumbnail-list {
        grid-template-columns: repeat(5, 1fr);
    }

    .product--large .thumbnail-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 749px) {
    .product__media-item {
        display: flex;
        align-items: center;
    }

    .thumbnail-slider {
        display: flex;
        align-items: center;
    }

    .thumbnail-slider .thumbnail-list.slider {
        display: flex;
        flex: 1;
        margin: 0;
        padding: var(--space-sm) var(--content-padding-inline);
    }

    .thumbnail-list__item.slider__slide {
        width: calc(34% - var(--grid-horizontal-spacing));
    }
}

@media screen and (min-width: 750px) {
    .product--thumbnail_slider .thumbnail-slider {
        display: flex;
        align-items: center;
    }

    .thumbnail-slider .thumbnail-list.slider--tablet-up {
        display: flex;
        padding: var(--space-sm);
        flex: 1;
        scroll-padding-left:  var(--space-sm);
    }

    .product__media-wrapper .slider-mobile-gutter .slider-button {
        display: none;
    }

    .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
        width: calc(25% - var(--grid-horizontal-spacing));
    }

    .product--thumbnail_slider .slider-mobile-gutter .slider-button {
        display: flex;
    }
}

@media screen and (min-width: 900px) {
    .product--small .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
        width: calc(25% - var(--grid-horizontal-spacing));
    }

    .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
        width: calc(20% - var(--grid-horizontal-spacing));
    }
}

//   .thumbnail {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     height: 100%;
//     width: 100%;
//     padding: 0;
//     color: rgb(var(--color-foreground));
//     cursor: pointer;
//     background-color: transparent;
//   }

//   .thumbnail:hover {
//     opacity: 0.7;
//   }

//   .thumbnail.global-media-settings img {
//     border-radius: 0;
//   }

//   .thumbnail[aria-current] {
//     box-shadow: 0 0 0rem 0.1rem rgb(var(--color-foreground));
//     border-color: rgb(var(--color-foreground));
//   }


.js .product__media {
    overflow: clip !important;
}

// .thumbnail[aria-current]:focus-visible {
//     box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 0.1), 0 0 0rem 0.5rem rgba(var(--color-foreground), 0.1);
// }

.thumbnail[aria-current]:focus,
.thumbnail.focused {
    outline: 0;
    // box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0rem 0.15rem rgba(var(--color-foreground), 0.15);
}

/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {

    .thumbnail[aria-current]:focus,
    .thumbnail.focused {
        outline: transparent solid 1px;
    }
}

.thumbnail[aria-current]:focus:not(:focus-visible) {
    outline: 0;
    // box-shadow: 0 0 0 0.1rem rgb(var(--color-foreground));
}

.thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}



.thumbnail__badge .icon-3d-model {
    width: 1.2rem;
    height: 1.2rem;
}

@media screen and (min-width: 750px) {
    .product:not(.product--small) .thumbnail__badge {
        height: 3rem;
        width: 3rem;
    }

    .product:not(.product--small) .thumbnail__badge .icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .product:not(.product--small) .thumbnail__badge .icon-3d-model {
        width: 1.4rem;
        height: 1.4rem;
    }
}

.thumbnail-list__item {
    position: relative;
}


.thumbnail__badge {
    background-color: rgb(var(--color-background));
    border-radius: 50%;
    color: rgb(var(--color-foreground), 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xs);
    position: absolute;
    right: var(--space-sm);
    top: var(--space-sm);
    z-index: 1;
    transition: color var(--duration-short) ease, opacity var(--duration-short) ease;

    .icon {
        width: var(--icon-size-xs);
        height: var(--icon-size-xs);
    }
}


//   .thumbnail-list__item::before {
//     content: '';
//     display: block;
//     padding-bottom: 100%;
//   }

//   .product:not(.featured-product) .product__view-details {
//     display: none;
//   }

//   .product__view-details {
//     display: block;
//     text-decoration: none;
//   }

//   .product__view-details:hover {
//     text-decoration: underline;
//     text-underline-offset: 0.3rem;
//   }

//   .product__view-details .icon {
//     width: 1.2rem;
//     margin-left: 1.2rem;
//     flex-shrink: 0;
//   }


/* Product-thumbnail snippet */

.product-media-container {
    --aspect-ratio: var(--preview-ratio);
    --ratio-percent: calc(1 / var(--aspect-ratio) * 100%);
    position: relative;
    width: 100%;
    max-width: calc(100% - calc(var(--media-border-width) * 2));

    @media screen and (min-width: 750px) {
        max-width: 100%;
    }

    &.constrain-height {
        /* arbitrary offset value based on average theme spacing and header height */
        --viewport-offset: 400px;
        --constrained-min-height: 300px;
        --constrained-height: max(var(--constrained-min-height), calc(100vh - var(--viewport-offset)));
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width: 750px) {
            --viewport-offset: 170px;
            --constrained-min-height: 500px;
        }

        &.media-fit-contain {
            --contained-width: calc(var(--constrained-height) * var(--aspect-ratio));
            width: min(var(--contained-width), 100%);
            max-width: none;
        }

        .media {
            padding-top: min(var(--constrained-height), var(--ratio-percent));
        }
    }

    &.media-fit-cover {
        max-width: 100%;

        @media screen and (max-width: 749px) {
            display: flex;
            align-self: stretch;
        }

        @media screen and (min-width: 750px) {
            height: 100%;
        }

        .product__modal-opener {
            @media screen and (min-width: 750px) {
                height: 100%;
            }
        }

        .media {
            @media screen and (max-width: 749px) {
                /* allow media img element to scale relative to modal-opener/product-media-container */
                position: initial;
            }

            @media screen and (min-width: 750px) {
                height: 100%;
            }
        }

        .deferred-media__poster {
            img {
                @media screen and (min-width: 750px) {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }

    &:not(.media-type-image) {
        @media screen and (min-width: 750px) {
            /* override to use actual media ratio (not poster ratio) for video/models on desktop */
            --aspect-ratio: var(--ratio);
        }
    }

    .media {
        padding-top: var(--ratio-percent);
    }
}