/* Product popup */

.product-popup-modal {
    box-sizing: border-box;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    background: rgba(var(--color-foreground), 0.2);
    height: 100%;

    &[open] {
        opacity: 1;
        visibility: visible;
        z-index: var(--zi-modal);
    }
}

.product-popup-modal__content {
    @include scrollbars;
    position: absolute;
        top: 0;
        left: 50%;
    background-color: rgb(var(--color-background));
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-radius: var(--popup-corner-radius);
    border-style: solid;
    border-width: var(--popup-border-width);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
    height: 80%;
    margin: var(--space-xxl) auto auto;
    padding: var(--space-lg) var(--content-padding-inline) var(--space-med);
    transform: translateX(-50%);
    width: 92%;

    @media screen and (min-width: 750px) {
        width: 70%;
    }

    &.focused,
    &:focus-visible {
        box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
            var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
            rgba(var(--color-shadow), var(--popup-shadow-opacity));
    }

    img {
        max-width: 100%;
    }

    table {
        @media screen and (max-width: 749px) {
            display: block;
            max-width: fit-content;
            overflow-x: auto;
            white-space: nowrap;
            margin: 0;
        }
    }
}

.product-popup-modal__content-info {
    padding-right: 4.4rem;
    max-height: 100%;

    > div {
        height: auto;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;

        @media screen and (min-width: 750px) {
            max-height: none;
        }
    }
}

.product-popup-modal__opener {
    display: inline-block;
    margin-bottom: var(--space);
}

.product-popup-modal__button {
    font-size: var(--font-size-h5);
    padding-right: var(--space);
    padding-left: 0;
    min-height: 4.4rem;
    transition: text-decoration-thickness var(--duration-short) ease;

    .product--no-media & {
        padding-right: 0;
    }
}

.product-popup-modal__toggle {
    background-color: rgb(var(--color-background));
    border: 0.1rem solid rgba(var(--color-foreground), 0.1);
    border-radius: 50%;
    color: rgba(var(--color-foreground), 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: sticky;
    padding: var(--space);
    z-index: 2;
    top: var(--space-med);
    width: 4rem;
    margin: 0 0 0 auto;


    &:hover {
        color: rgba(var(--color-foreground), var(--opacity-light));
    }

    .icon {
        height: auto;
        margin: 0;
        width: 2.2rem;
    }
}


@media screen and (min-width: 750px) {
    .product-media-modal__dialog .global-media-settings--no-shadow {
        overflow: visible !important;
    }
}

/* Product media */

.product-media-modal {
    background-color: rgb(var(--color-background));
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.product-media-modal[open] {
    visibility: visible;
    opacity: 1;
    z-index: 101;
}

.product-media-modal__dialog {
    display: flex;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 749px) {
    .product-media-modal__dialog .global-media-settings,
    .product-media-modal__dialog .global-media-settings video,
    .product-media-modal__dialog .global-media-settings model-viewer,
    .product-media-modal__dialog .global-media-settings iframe,
    .product-media-modal__dialog .global-media-settings img {
        border: none;
        border-radius: 0;
    }
}

@media screen and (min-width: 750px) {
    .product-media-modal__dialog .global-media-settings--no-shadow {
        overflow: visible !important;
    }
}

.product-media-modal__model {
    width: 100%;
}

.product-media-modal__toggle {
    background-color: rgb(var(--color-background));
    border: 0.1rem solid rgba(var(--color-foreground), 0.1);
    border-radius: 50%;
    color: rgba(var(--color-foreground), 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: 2rem;
    padding: 1.2rem;
    position: fixed;
    z-index: 2;
    top: 2rem;
    width: 4rem;

    @media screen and (min-width: 750px) {
        right: 5rem;
        top: 2.2rem;
    }

    @media screen and (min-width: 990px) {
            right: 5rem;
    }

    &:hover {
        color: rgba(var(--color-foreground), var(--opacity-light));
    }

    .icon {
        height: auto;
        margin: 0;
        width: 2.2rem;
    }
}

.product-media-modal__content {
    @include scrollbars($overflowX: visible);
    max-height: 100vh;
    width: 100%;
    overflow: auto;

    @media screen and (min-width: 750px) {
        padding: 2rem 11rem;
    }

    @media screen and (min-width: 990px) {
        padding-bottom: 1.5rem;
    }

    >* {
        display: block;
        height: auto;
        margin: auto;

        @media screen and (min-width: 750px) {
            width: 100%;
        }

        &:not(.active) {
            display: none;

            @media screen and (min-width: 750px) {
                display: block;
            }
        }

        +* {
            @media screen and (min-width: 750px) {
                margin-top: 2rem;
            }

            @media screen and (min-width: 990px) {
                margin-top: 1.5rem;
            }
        }
    }

    .media {
        background: none;
    }

    .deferred-media {
        width: 100%;

        @media screen and (min-width: 750px) {
            width: 100%;
        }
    }
}

@media screen and (max-width: 749px) {
    .product--thumbnail .is-active .product__modal-opener:not(.product__modal-opener--image),
    .product--thumbnail_slider .is-active .product__modal-opener:not(.product__modal-opener--image) {
        display: none;
    }
}
