.texture-paper,
.default-content-style {
    @include default-texture;
}

.texture-paper-craft {
    background-color: rgb(var(--color-background));
    background-blend-mode: multiply;
    background-image: url('texture-paper-white.jpg'), var(--background-gradient);
    background-position: top center, center;
    background-repeat: repeat;
    background-size: 100px auto, cover;
    position: relative;

    &::after {
        content: '';
        position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            filter: url(#tornPaper);
            height: 4rem;
    }
}

.texture-lined {
    --texture-lined-border-size: 30px;

    $vertical-line-offset: 20px;
    $vertical-line-offset2: $vertical-line-offset + 3px;
    background-color: rgb(var(--color-background));
    background-blend-mode: multiply;
    background-image:
        linear-gradient(90deg, transparent $vertical-line-offset, rgba(171, 206, 212, 0.2) $vertical-line-offset, rgba(171, 206, 212, 0.2) $vertical-line-offset2, transparent $vertical-line-offset2),
        linear-gradient(#eee .1rem, transparent .1rem),
        var(--background-gradient);
    // background-origin: padding-box;
    background-size: 100% 2.4rem, 100% 2.4rem, cover;
    border-left: var(--texture-lined-border-size) dotted transparent;
    box-shadow: 0 0 5px rgba(var(--color-shadow), 0.1);
    -webkit-mask-image: url('img-paper-hole-border-left-wide.svg?v=1');
    mask-image: url('img-paper-hole-border-left-wide.svg?v=1');
    -webkit-mask-repeat: no-repeat round;
    mask-repeat: no-repeat round;
    mask-size: auto calc(var(--texture-lined-border-size) + 4px);
    -webkit-mask-origin: border;
    mask-origin: border-box;

    @supports (-webkit-touch-callout: none) {
        /* CSS specific to iOS devices */
        mask-repeat: no-repeat repeat;
    }
}

.texture-blueprint {
    background-image: linear-gradient(rgba(204,204,204, 0.22) 2px, transparent 2px),
    linear-gradient(90deg, rgba(204,204,204, 0.22) 2px, transparent 2px),
    linear-gradient(rgba(204,204,204,0.18) 1px, transparent 1px),
    linear-gradient(90deg, rgba(204,204,204,0.18) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.texture-torn {
    background: transparent;
    position: relative;

    &::before {
        content: '';
        position: absolute;
            inset: 0;
            background-color: rgb(var(--color-background));
            background-size: 12rem auto, cover;
            background-blend-mode: multiply;
            background-image: url('texture-paper.jpg?v=2'), var(--background-gradient);
            box-shadow: 0 0 9rem rgba(var(--color-shadow), 0.05) inset;

        filter: url(#tornPaper);
        z-index: -1;
    }
}

.texture-folded {
    --corner-size: 20px;
    --shadow-size: calc(var(--corner-size)/4);

    background-blend-mode: multiply;
    background-color: rgb(var(--color-background));
    background-image:
        url('texture-paper-white.jpg'),
        linear-gradient(to bottom, rgba(var(--color-shadow), 0) 70%, rgba(var(--color-shadow), 0.15) 100%),
        var(--background-gradient);
    background-position: top center, bottom center, center;
    background-repeat: repeat;
    background-size: 100px auto, cover, cover;
    clip-path: polygon(95% 0, 100% var(--corner-size), 100% 100%, 0 100%, 0 0);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: var(--corner-size);
        width: var(--corner-size);
        box-shadow: var(--shadow-size) 0 var(--shadow-size) rgba(var(--color-shadow, 0.1));
    }
}

.texture-transparent.texture-transparent {
    background-color: transparent;
    background-image: none;
}