.texture-paper,
.default-content-style {
    background-color: rgb(var(--color-background));
    background-blend-mode: color-burn;
    background-image: url('texture-paper.jpg?v=3'), var(--background-image);
    background-position: top center, center;
    background-repeat: repeat;
    background-size: 200px auto, cover;
}

.texture-paper-craft {
    background-color: rgb(var(--color-background));
    background-blend-mode: multiply;
    background-image: url('texture-paper-white.jpg'), var(--background-image);
    background-position: top center, center;
    background-repeat: repeat;
    background-size: 100px auto, cover;
    position: relative;

    &::after {
        content: '';
        position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            filter: url(#tornPaper);
            height: 4rem;
    }
}

.texture-lined {
    $border-size: 30px;

    $vertical-line-offset: 10px;
    $vertical-line-offset2: $vertical-line-offset + 3px;
    background-color: rgb(var(--color-background));
    background-size: 100% 2.4rem, 100% 2.4rem, cover;
    background-blend-mode: multiply;
    background-image:
    linear-gradient(90deg, transparent $vertical-line-offset, rgba(171, 206, 212, 0.2) $vertical-line-offset, rgba(171, 206, 212, 0.2) $vertical-line-offset2, transparent $vertical-line-offset2),
    linear-gradient(#eee .1rem, transparent .1rem),
    var(--background-image);
    position: relative;
    padding-left: $border-size;

    &::before {
        background: rgb(var(--color-background));
        content: '';
        position: absolute;
            top: 0;
            bottom: 0;
            left: -$border-size;
        width: $border-size;
        -webkit-mask-box-image: url('img-paper-hole-border.svg?v=2') 1 round;
            // 1 /          /* slice */
            // // 20px /             /* width */
            // // 1px                /* outset */
            // round;             /* repeat */

        mask-border:
            url('img-paper-hole-border.svg?v=2') 1 round;
            // 1 /        /* slice */
            // // 30px /           /* width */
            // // 1px              /* outset */
            // round;
    }
}

.texture-blueprint {
    background-image: linear-gradient(rgba(204,204,204, 0.22) 2px, transparent 2px),
    linear-gradient(90deg, rgba(204,204,204, 0.22) 2px, transparent 2px),
    linear-gradient(rgba(204,204,204,0.18) 1px, transparent 1px),
    linear-gradient(90deg, rgba(204,204,204,0.18) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.texture-torn {
    background-color: rgb(var(--color-background));
    background-blend-mode: multiply;
    background-image: url('texture-paper.jpg?v=2'), var(--background-image);
    background-position: top center, center;
    background-repeat: repeat, cover;
    box-shadow: 0 0 9rem rgba(var(--color-shadow), 0.05) inset;

    filter: url(#tornPaper);
}

.texture-folded {
    --corner-size: 20px;
    --shadow-size: calc(var(--corner-size)/4);

    background-blend-mode: multiply;
    background-color: rgb(var(--color-background));
    background-image:
        url('texture-paper-white.jpg'),
        linear-gradient(to bottom, rgba(var(--color-shadow), 0) 70%, rgba(var(--color-shadow), 0.15) 100%),
        var(--background-image);
    background-position: top center, bottom center, center;
    background-repeat: repeat;
    background-size: 100px auto, cover, cover;
    clip-path: polygon(95% 0, 100% var(--corner-size), 100% 100%, 0 100%, 0 0);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: var(--corner-size);
        width: var(--corner-size);
        box-shadow: var(--shadow-size) 0 var(--shadow-size) rgba(var(--color-shadow, 0.1));
    }
}

.texture-transparent.texture-transparent {
    background-color: transparent;
    background-image: none;
}