.texture-paper,
.default-content-style {
    @include default-texture;
}

.texture-paper-craft {
    background-color: rgb(var(--color-background));
    background-blend-mode: multiply;
    background-image: url('texture-paper-white.jpg'), var(--background-gradient);
    background-position: top center, center;
    background-repeat: repeat;
    background-size: 100px auto, cover;
    position: relative;

    &::after {
        content: '';
        position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            filter: url(#tornPaper);
            height: 4rem;
    }
}

.texture-lined {
    --tl-mx-width: 100%;
    --texture-lined-border-size: 30px;

    $vertical-line-offset: 10px;
    $vertical-line-offset2: $vertical-line-offset + 3px;

    //padding-left: var(--texture-lined-border-size, 30px);
    position: relative;

    &::before,
    &::after {
        background-color: rgb(var(--color-background));
        background-blend-mode: multiply;
        background-image:
        linear-gradient(90deg, transparent $vertical-line-offset, rgba(171, 206, 212, 0.2) $vertical-line-offset, rgba(171, 206, 212, 0.2) $vertical-line-offset2, transparent $vertical-line-offset2),
        linear-gradient(#eee .1rem, transparent .1rem),
        var(--background-gradient);

        .banner--desktop-transparent & {
            content: none;
        }
    }

    &::before {
        background-size: 0 0, 100% 2.4rem, cover;
        -webkit-mask-image: url('img-paper-hole-border-left.svg?v=2');
        mask-image: url('img-paper-hole-border-left.svg?v=2');
        -webkit-mask-repeat: no-repeat round;
        mask-repeat: no-repeat round;
        mask-size: calc(var(--texture-lined-border-size) + 2px);
        content: '';
        position: absolute;
            top: 0;
            bottom: 0;
            left: calc(var(--texture-lined-border-size) * -1 + 1px);
        width: var(--texture-lined-border-size, 30px);

        // @supports (-webkit-touch-callout: none) {
        //     /* CSS specific to iOS devices */
        //     //mask-repeat: no-repeat repeat;
        //     mask-size: 31px;

        // }
    }

    &::after {
        content: '';
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: var(--texture-lined-border-size);
            background-size: 100% 2.4rem, 100% 2.4rem, cover;
            box-shadow: 0 0 5px rgba(var(--color-shadow), 0.1);
    }

}

.texture-blueprint {
    background-image: linear-gradient(rgba(204,204,204, 0.22) 2px, transparent 2px),
    linear-gradient(90deg, rgba(204,204,204, 0.22) 2px, transparent 2px),
    linear-gradient(rgba(204,204,204,0.18) 1px, transparent 1px),
    linear-gradient(90deg, rgba(204,204,204,0.18) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.texture-torn {
    background: transparent;
    position: relative;

    &::before {
        content: '';
        position: absolute;
            inset: 0;
            background-color: rgb(var(--color-background));
            background-size: 12rem auto, cover;
            background-blend-mode: multiply;
            background-image: url('texture-paper.jpg?v=2'), var(--background-gradient);
            box-shadow: 0 0 9rem rgba(var(--color-shadow), 0.05) inset;

        filter: url(#tornPaper);
        z-index: -1;
    }
}

.texture-folded {
    --corner-size: 20px;
    --shadow-size: calc(var(--corner-size)/4);

    background-blend-mode: multiply;
    background-color: rgb(var(--color-background));
    background-image:
        url('texture-paper-white.jpg'),
        linear-gradient(to bottom, rgba(var(--color-shadow), 0) 70%, rgba(var(--color-shadow), 0.15) 100%),
        var(--background-gradient);
    background-position: top center, bottom center, center;
    background-repeat: repeat;
    background-size: 100px auto, cover, cover;
    clip-path: polygon(95% 0, 100% var(--corner-size), 100% 100%, 0 100%, 0 0);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: var(--corner-size);
        width: var(--corner-size);
        box-shadow: var(--shadow-size) 0 var(--shadow-size) rgba(var(--color-shadow, 0.1));
    }
}

.texture-transparent.texture-transparent {
    background-color: transparent;
    background-image: none;
}