:root {
    --font-display: 'Rancho', 'cursive';
    --font-body: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';

    --c-primary: #457b9d;
    --c-primary-light: #a8dadc;
    --c-primary-xlight: #cdeae5;
    --c-primary-dark: #24262C;
    --c-accent: #F0C62D;
    --c-accent-light: #FFE66D;
    --c-accent-dark: #BF980D;
    --c-white: #ffffff;
    --c-black: #141415;
    --c-danger: #e63946;
    --c-success: #5FAB6B;



    --border-radius: 0.3rem;

    --ease: ease-in-out;
}