:root {
    --space: var(--grid-vertical-spacing, 1rem);
    --space-xs: calc(var(--space)/3);
    --space-sm: calc(var(--space)/2);
    --space-med: calc(var(--space) * 1.5);
    --space-lg: calc(var(--space) * 2);
    --space-xl: calc(var(--space) * 3);
    --space-xxl: calc(var(--space) * 5);
    --space-xxxl: calc(var(--space) * 7);

    --page-width-medium: 99rem;
    --page-width-narrow: 72.6rem;

    --icon-size: 1.5rem;
    --icon-size-sm: 1.25rem;
    --icon-size-xs: 1rem;
    --icon-size-xxs: 0.75rem;
    --icon-size-lg: 2.25rem;
    --icon-size-xl: 3rem;
    --icon-size-hero: 4rem;

    --opacity-full: 1;
    --opacity-lighter: 0.85;
    --opacity-light: 0.7;
    --opacity-half: 0.5;
    --opacity-quarter: 0.25;
    --opacity-border: 0.1;
    --opacity-transparent: 0;

    --zi-base: 10;
    --zi-header: 40;
    --zi-header-nav: 41;
    --zi-hamburger: 22;
    --zi-modal: 100;
    --zi-blocker: 100;

    --duration-short: 100ms;
    --duration-default: 200ms;
    --duration-announcement-bar: 250ms;
    --duration-medium: 300ms;
    --duration-long: 500ms;
    --duration-extra-long: 600ms;
    --duration-extended: 3s;
    --ease-out-slow: cubic-bezier(0, 0, 0.3, 1);
    --animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
    --animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}

// Shorthand
$hover: '&:hover, &:focus';
// $hover-hf: '&:hover, &:focus';
