:root {
    // --space: 1rem;
    // --space-xs: 0.25rem;
    // --space-sm: 0.5rem;
    // --space-med: 1.5rem;
    // --space-lg: 2rem;
    // --space-xl: 3rem;
    // --space-xxl: 5rem;
    // --space-xxxl: 7rem;

    --space: var(--grid-vertical-spacing, 1rem);
    --space-xs: calc(var(--space)/3);
    --space-sm: calc(var(--space)/2);
    --space-med: calc(var(--space) * 1.5);
    --space-lg: calc(var(--space) * 2);
    --space-xl: calc(var(--space) * 3);
    --space-xxl: calc(var(--space) * 5);
    --space-xxxl: calc(var(--space) * 7);

    --page-width--medium: 60rem;
    --page-width--narrow: 72.6rem;

    --icon-size: 1.5rem;
    --icon-size-sm: 1.25rem;
    --icon-size-xs: 1rem;
    --icon-size-lg: 2rem;
    --icon-size-xl: 3rem;

    --opacity-full: 1;
    --opacity-lighter: 0.85;
    --opacity-light: 0.7;
    --opacity-border: 0.1;
    --opacity-transparent: 0;

    --zi-base: 10;
    --zi-header: 40;
    --zi-header-nav: 41;
    --zi-hamburger: 22;
    --zi-modal: 100;
    --zi-blocker: 100;

    --duration-short: 100ms;
    --duration-default: 200ms;
    --duration-announcement-bar: 250ms;
    --duration-medium: 300ms;
    --duration-long: 500ms;
    --duration-extra-long: 600ms;
    --duration-extended: 3s;
    --ease-out-slow: cubic-bezier(0, 0, 0.3, 1);
    --animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
    --animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);


// :root {

// }


//     --space: 1rem; /* 20px -> 1.25rem */
//     --space-xxs: 0.125rem;
//     --space-xs: 0.25rem; /* 8px -> .5rem */
//     --space-sm: 0.5rem; /* 8px -> .5rem */
//     --space-md: 1rem; /* 30px -> 1.875rem */
//     --space-lg: 1.5rem; /* 40px -> 2.5rem */

//     --space-xxs-neg: calc(var(--space-xxs) * -1);
//     --space-xs-neg: calc(var(--space-xs) * -1);
//     --space-neg:  calc(var(--space) * -1);
//     --space-sm-neg: calc(var(--space-sm) * -1);
//     --space-md-neg: calc(var(--space-md) * -1);
//     --space-lg-neg: calc(var(--space-lg) * -1);

//     --radius: 0.25rem; /* 4px -> .25rem */
//     --radius-lg: 0.5rem;
//     --border-width: 2px;
//     --border-width-wide: 3px;
//     --border-width-xwide: 5px;
//     --border: var(--border-width) solid;
//     --max-content-width: 60rem; /* 960px -> 60rem */
//     --max-form-width-sm: 23rem;
//     --max-form-width: 40rem;

//     --box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
//     --box-shadow-soft: 0px 4px 5px rgba(0, 0, 0, 0.125);
//     --box-shadow-close: 0px 3px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px 1px rgba(0, 0, 0, 0.15);

//     --transition-speed: 200ms;
//     --transition-type: ease-in-out;
//     --transition: var(--transition-speed) var(--transition-type);

//     --sidebar-space-h: var(var(--space-md));


}

// Shorthand
$hover: '&:hover, &:focus';
// $hover-hf: '&:hover, &:focus';
