:root {
    --transition-type: ease-in-out;

    --page-margin: var(--space-xxxl) auto;

    --inline-padding-max: var(--space-med, 1.5rem);
    --content-padding-inline: var(--inline-padding-max); // fallback in case clamp isn't supported
    --content-padding-inline: clamp(var(--space-sm), 5vw, var(--inline-padding-max));
    --content-padding: var(--space-med) var(--content-padding-inline) var(--space-sm);
    --content-padding-med: calc(var(--content-padding-inline)*1.25) calc(var(--content-padding-inline)*1.25) calc(var(--content-padding-inline)*1.25 - var(--space));
    --full-width-offset-margin: calc(var(--content-padding-inline) * -1);

    // TODO: check use case / standarise
    --inline-padding-lg: var(--space-xxl);


    --border-width: 2px;
    --border-style: dashed;
    --border-color: currentColor;
    --border-color-light: rgba(var(--color-foreground), 0.25);
    --border-color-ultralight: rgba(var(--color-foreground), 0.08);

    --border: var(--border-width) var(--border-style) var(--border-color);
    --border-thin: thin solid var(--border-color);
    --border-light: 0.1rem solid var(--border-color-ultralight);

    @media screen and (min-width: 750px) {
        --content-padding-inline: clamp(var(--space-sm), 4vw, var(--inline-padding-max));
    }
}