:root {
    --transition-type: ease-in-out;

    --page-margin: var(--space-xxxl) auto;
    --content-padding-inline: var(--space);
    --full-width-offset-margin: calc(var(--content-padding-inline) * -1);
    --content-padding: var(--space-med) var(--content-padding-inline) var(--space-sm);

    --border-width: 2px;
    --border-style: dashed;
    --border-color: currentColor;
    --border-color-light: rgba(var(--color-foreground), 0.25);
    --border-color-ultralight: rgba(var(--color-foreground), 0.08);

    --border: var(--border-width) var(--border-style) var(--border-color);
    --border-thin: thin solid var(--border-color);
}