:root {
    --alpha-button-background: 1;
    --alpha-button-border: 1;
    --alpha-link: 0.95;
    --alpha-badge-border: 0.1;

    --card-padding: var(--product-card-padding);
    --card-corner-radius: var(--product-card-corner-radius);
    --card-text-alignment: var(--product-card-text-alignment);
    --card-justification: var(--product-card-justification);
    --card-border-width: var(--product-card-border-width);
    --card-border-opacity: var(--product-card-border-opacity);
    --card-shadow-opacity:var(--product-card-shadow-opacity);
    --card-shadow-horizontal-offset: var(--product-card-shadow-horizontal-offset);
    --card-shadow-vertical-offset: var(--product-card-shadow-vertical-offset);
    --card-shadow-blur-radius: var(--product-card-shadow-blur-radius);
    --card-media-box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
    --card-image-offset: calc(var(--collection-card-image-offset) - 1px);
    --crease-alpha: 0.05;
    --crease-direction: bottom;
    --crease: linear-gradient(to var(--crease-direction), rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), var(--crease-alpha)) 100%);
    --crease-light: linear-gradient(to var(--crease-direction), rgba(var(--color-shadow), 0) 0%, rgba(var(--color-shadow), calc(var(--crease-alpha)/4)) 100%);
}


.collection-card-wrapper .card,
.contains-card--collection {
    --card-padding: var(--collection-card-image-padding);
    --card-corner-radius: var(--collection-card-corner-radius);
    --card-text-alignment: var(--collection-card-text-alignment);
    --card-border-width: var(--collection-card-border-width);
    --card-border-opacity: var(--collection-card-border-opacity);
    --card-shadow-opacity:var(--collection-card-shadow-opacity);
    --card-shadow-horizontal-offset: var(--collection-card-shadow-horizontal-offset);
    --card-shadow-vertical-offset: var(--collection-card-shadow-vertical-offset);
    --card-shadow-blur-radius: var(--collection-card-shadow-blur-radius);
    --card-image-offset: calc(var(--collection-card-image-offset) - 1px);
    --card-justification: var(--collection-card-justification);
}

.article-card-wrapper .card,
.contains-card--article {
    --card-padding: var(--blog-card-image-padding);
    --card-corner-radius: var(--blog-card-corner-radius);
    --card-text-alignment: var(--blog-card-text-alignment);
    --card-border-width: var(--blog-card-border-width);
    --card-border-opacity: var(--blog-card-border-opacity);
    --card-shadow-opacity:var(--blog-card-shadow-opacity);
    --card-shadow-horizontal-offset: var(--blog-card-shadow-horizontal-offset);
    --card-shadow-vertical-offset: var(--blog-card-shadow-vertical-offset);
    --card-shadow-blur-radius: var(--blog-card-shadow-blur-radius);
    --card-image-offset: calc(var(--blog-card-image-offset) - 1px);
    --card-justification: var(--blog-card-justification);
}

.contains-content-container,
.content-container {
    --border-radius: var(--text-boxes-radius);
    --border-width: var(--text-boxes-border-width);
    --border-opacity: var(--text-boxes-border-opacity);
    --shadow-horizontal-offset: var(--text-boxes-shadow-horizontal-offset);
    --shadow-vertical-offset: var(--text-boxes-shadow-vertical-offset);
    --shadow-blur-radius: var(--text-boxes-shadow-blur-radius);
    --shadow-opacity: var(--text-boxes-shadow-opacity);
    --shadow-visible: var(--text-boxes-shadow-visible);
}

.contains-media,
.global-media-settings {
  --border-radius: var(--media-radius);
  --border-width: var(--media-border-width);
  --border-opacity: var(--media-border-opacity);
  --shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--media-shadow-vertical-offset);
  --shadow-blur-radius: var(--media-shadow-blur-radius);
  --shadow-opacity: var(--media-shadow-opacity);
  --shadow-visible: var(--media-shadow-visible);
}
