.card--product {
    &.card--card {
        &.card--text {
            .card__content {
                margin-bottom: var(--space);
            }
            // ie no images

            &.card-badge--top-left,
            &.card-badge--top-right {
                padding-top: var(--space-xl);
            }

            &.card-badge--bottom-left,
            &.card-badge--bottom-right {
                padding-bottom: var(--space-xl);
            }
        }
    }
}