.card--product {
    &.card--card {
        .quick-add {
            margin: auto 0 var(--space);
            padding: var(--space) 0 0;
        }

        &.card--text {
            .card__content {
                margin-bottom: var(--space);
            }
            // ie no images

            &.card-badge--top-left,
            &.card-badge--top-right {
                padding-top: calc(var(--card-padding) + var(--space-med));

                @media screen and (min-width: 990px) {
                    padding-top: calc(var(--card-padding) + var(--space-lg));
                }
            }

            &.card-badge--bottom-left,
            &.card-badge--bottom-right {
                padding-bottom: calc(var(--card-padding) + var(--space-med));

                @media screen and (min-width: 990px) {
                    padding-bottom: calc(var(--card-padding) + var(--space-lg));
                }
            }
        }
    }
}